<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter-257">
<config key="columns">
<entry key="array-size" type="xint" value="31"/>
<entry key="0" type="xstring" value="Intensity 2CC-cis_log2"/>
<entry key="1" type="xstring" value="Intensity 2CC-co_log2"/>
<entry key="2" type="xstring" value="Intensity 2CC-cy1_log2"/>
<entry key="3" type="xstring" value="Intensity 2CC-cy2_log2"/>
<entry key="4" type="xstring" value="Intensity 2CC-D1_log2"/>
<entry key="5" type="xstring" value="Intensity 2CC-D2_log2"/>
<entry key="6" type="xstring" value="Intensity 2CCM-cis_log2"/>
<entry key="7" type="xstring" value="Intensity 2CCM-cy_log2"/>
<entry key="8" type="xstring" value="Intensity 2CCM-D_log2"/>
<entry key="9" type="xstring" value="Intensity 2C-co_log2"/>
<entry key="10" type="xstring" value="Intensity 2C-cy_log2"/>
<entry key="11" type="xstring" value="Intensity 2C-D1_log2"/>
<entry key="12" type="xstring" value="Intensity 2C-D2_log2"/>
<entry key="13" type="xstring" value="Intensity 2CM-cis_log2"/>
<entry key="14" type="xstring" value="Intensity 2CM-co_log2"/>
<entry key="15" type="xstring" value="Intensity 2CM-cy_log2"/>
<entry key="16" type="xstring" value="Intensity 2CM-D_log2"/>
<entry key="17" type="xstring" value="Intensity 5CC-cis_log2"/>
<entry key="18" type="xstring" value="Intensity 5CC-co_log2"/>
<entry key="19" type="xstring" value="Intensity 5CC-D_log2"/>
<entry key="20" type="xstring" value="Intensity 5C-cis_log2"/>
<entry key="21" type="xstring" value="Intensity 5CCM-cis_log2"/>
<entry key="22" type="xstring" value="Intensity 5CCM-co_log2"/>
<entry key="23" type="xstring" value="Intensity 5CCM-D_log2"/>
<entry key="24" type="xstring" value="Intensity 5C-co_log2"/>
<entry key="25" type="xstring" value="Intensity 5C-cy_log2"/>
<entry key="26" type="xstring" value="Intensity 5C-D_log2"/>
<entry key="27" type="xstring" value="Intensity 5CM-cis_log2"/>
<entry key="28" type="xstring" value="Intensity 5CM-co_log2"/>
<entry key="29" type="xstring" value="Intensity 5CM-cy_log2"/>
<entry key="30" type="xstring" value="Intensity 5CM-D_log2"/>
</config>
<config key="columnFilter">
<config key="columnFilter">
<entry key="filter-type" type="xstring" value="name_pattern"/>
<config key="included_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="347"/>
<entry key="0" type="xstring" value="Protein IDs"/>
<entry key="1" type="xstring" value="Majority protein IDs"/>
<entry key="2" type="xstring" value="Peptide counts (all)"/>
<entry key="3" type="xstring" value="Peptide counts (razor+unique)"/>
<entry key="4" type="xstring" value="Peptide counts (unique)"/>
<entry key="5" type="xstring" value="Protein names"/>
<entry key="6" type="xstring" value="Gene names"/>
<entry key="7" type="xstring" value="Fasta headers"/>
<entry key="8" type="xstring" value="Number of proteins"/>
<entry key="9" type="xstring" value="Peptides"/>
<entry key="10" type="xstring" value="Razor + unique peptides"/>
<entry key="11" type="xstring" value="Unique peptides"/>
<entry key="12" type="xstring" value="Peptides 2CC-cis"/>
<entry key="13" type="xstring" value="Peptides 2CC-co"/>
<entry key="14" type="xstring" value="Peptides 2CC-cy1"/>
<entry key="15" type="xstring" value="Peptides 2CC-cy2"/>
<entry key="16" type="xstring" value="Peptides 2CC-D1"/>
<entry key="17" type="xstring" value="Peptides 2CC-D2"/>
<entry key="18" type="xstring" value="Peptides 2CCM-cis"/>
<entry key="19" type="xstring" value="Peptides 2CCM-cy"/>
<entry key="20" type="xstring" value="Peptides 2CCM-D"/>
<entry key="21" type="xstring" value="Peptides 2C-co"/>
<entry key="22" type="xstring" value="Peptides 2C-cy"/>
<entry key="23" type="xstring" value="Peptides 2C-D1"/>
<entry key="24" type="xstring" value="Peptides 2C-D2"/>
<entry key="25" type="xstring" value="Peptides 2CM-cis"/>
<entry key="26" type="xstring" value="Peptides 2CM-co"/>
<entry key="27" type="xstring" value="Peptides 2CM-cy"/>
<entry key="28" type="xstring" value="Peptides 2CM-D"/>
<entry key="29" type="xstring" value="Peptides 5CC-cis"/>
<entry key="30" type="xstring" value="Peptides 5CC-co"/>
<entry key="31" type="xstring" value="Peptides 5CC-D"/>
<entry key="32" type="xstring" value="Peptides 5C-cis"/>
<entry key="33" type="xstring" value="Peptides 5CCM-cis"/>
<entry key="34" type="xstring" value="Peptides 5CCM-co"/>
<entry key="35" type="xstring" value="Peptides 5CCM-D"/>
<entry key="36" type="xstring" value="Peptides 5C-co"/>
<entry key="37" type="xstring" value="Peptides 5C-cy"/>
<entry key="38" type="xstring" value="Peptides 5C-D"/>
<entry key="39" type="xstring" value="Peptides 5CM-cis"/>
<entry key="40" type="xstring" value="Peptides 5CM-co"/>
<entry key="41" type="xstring" value="Peptides 5CM-cy"/>
<entry key="42" type="xstring" value="Peptides 5CM-D"/>
<entry key="43" type="xstring" value="Razor + unique peptides 2CC-cis"/>
<entry key="44" type="xstring" value="Razor + unique peptides 2CC-co"/>
<entry key="45" type="xstring" value="Razor + unique peptides 2CC-cy1"/>
<entry key="46" type="xstring" value="Razor + unique peptides 2CC-cy2"/>
<entry key="47" type="xstring" value="Razor + unique peptides 2CC-D1"/>
<entry key="48" type="xstring" value="Razor + unique peptides 2CC-D2"/>
<entry key="49" type="xstring" value="Razor + unique peptides 2CCM-cis"/>
<entry key="50" type="xstring" value="Razor + unique peptides 2CCM-cy"/>
<entry key="51" type="xstring" value="Razor + unique peptides 2CCM-D"/>
<entry key="52" type="xstring" value="Razor + unique peptides 2C-co"/>
<entry key="53" type="xstring" value="Razor + unique peptides 2C-cy"/>
<entry key="54" type="xstring" value="Razor + unique peptides 2C-D1"/>
<entry key="55" type="xstring" value="Razor + unique peptides 2C-D2"/>
<entry key="56" type="xstring" value="Razor + unique peptides 2CM-cis"/>
<entry key="57" type="xstring" value="Razor + unique peptides 2CM-co"/>
<entry key="58" type="xstring" value="Razor + unique peptides 2CM-cy"/>
<entry key="59" type="xstring" value="Razor + unique peptides 2CM-D"/>
<entry key="60" type="xstring" value="Razor + unique peptides 5CC-cis"/>
<entry key="61" type="xstring" value="Razor + unique peptides 5CC-co"/>
<entry key="62" type="xstring" value="Razor + unique peptides 5CC-D"/>
<entry key="63" type="xstring" value="Razor + unique peptides 5C-cis"/>
<entry key="64" type="xstring" value="Razor + unique peptides 5CCM-cis"/>
<entry key="65" type="xstring" value="Razor + unique peptides 5CCM-co"/>
<entry key="66" type="xstring" value="Razor + unique peptides 5CCM-D"/>
<entry key="67" type="xstring" value="Razor + unique peptides 5C-co"/>
<entry key="68" type="xstring" value="Razor + unique peptides 5C-cy"/>
<entry key="69" type="xstring" value="Razor + unique peptides 5C-D"/>
<entry key="70" type="xstring" value="Razor + unique peptides 5CM-cis"/>
<entry key="71" type="xstring" value="Razor + unique peptides 5CM-co"/>
<entry key="72" type="xstring" value="Razor + unique peptides 5CM-cy"/>
<entry key="73" type="xstring" value="Razor + unique peptides 5CM-D"/>
<entry key="74" type="xstring" value="Unique peptides 2CC-cis"/>
<entry key="75" type="xstring" value="Unique peptides 2CC-co"/>
<entry key="76" type="xstring" value="Unique peptides 2CC-cy1"/>
<entry key="77" type="xstring" value="Unique peptides 2CC-cy2"/>
<entry key="78" type="xstring" value="Unique peptides 2CC-D1"/>
<entry key="79" type="xstring" value="Unique peptides 2CC-D2"/>
<entry key="80" type="xstring" value="Unique peptides 2CCM-cis"/>
<entry key="81" type="xstring" value="Unique peptides 2CCM-cy"/>
<entry key="82" type="xstring" value="Unique peptides 2CCM-D"/>
<entry key="83" type="xstring" value="Unique peptides 2C-co"/>
<entry key="84" type="xstring" value="Unique peptides 2C-cy"/>
<entry key="85" type="xstring" value="Unique peptides 2C-D1"/>
<entry key="86" type="xstring" value="Unique peptides 2C-D2"/>
<entry key="87" type="xstring" value="Unique peptides 2CM-cis"/>
<entry key="88" type="xstring" value="Unique peptides 2CM-co"/>
<entry key="89" type="xstring" value="Unique peptides 2CM-cy"/>
<entry key="90" type="xstring" value="Unique peptides 2CM-D"/>
<entry key="91" type="xstring" value="Unique peptides 5CC-cis"/>
<entry key="92" type="xstring" value="Unique peptides 5CC-co"/>
<entry key="93" type="xstring" value="Unique peptides 5CC-D"/>
<entry key="94" type="xstring" value="Unique peptides 5C-cis"/>
<entry key="95" type="xstring" value="Unique peptides 5CCM-cis"/>
<entry key="96" type="xstring" value="Unique peptides 5CCM-co"/>
<entry key="97" type="xstring" value="Unique peptides 5CCM-D"/>
<entry key="98" type="xstring" value="Unique peptides 5C-co"/>
<entry key="99" type="xstring" value="Unique peptides 5C-cy"/>
<entry key="100" type="xstring" value="Unique peptides 5C-D"/>
<entry key="101" type="xstring" value="Unique peptides 5CM-cis"/>
<entry key="102" type="xstring" value="Unique peptides 5CM-co"/>
<entry key="103" type="xstring" value="Unique peptides 5CM-cy"/>
<entry key="104" type="xstring" value="Unique peptides 5CM-D"/>
<entry key="105" type="xstring" value="Sequence coverage [%]"/>
<entry key="106" type="xstring" value="Unique + razor sequence coverage [%]"/>
<entry key="107" type="xstring" value="Unique sequence coverage [%]"/>
<entry key="108" type="xstring" value="Mol. weight [kDa]"/>
<entry key="109" type="xstring" value="Sequence length"/>
<entry key="110" type="xstring" value="Sequence lengths"/>
<entry key="111" type="xstring" value="Q-value"/>
<entry key="112" type="xstring" value="Score"/>
<entry key="113" type="xstring" value="Identification type 2CC-cis"/>
<entry key="114" type="xstring" value="Identification type 2CC-co"/>
<entry key="115" type="xstring" value="Identification type 2CC-cy1"/>
<entry key="116" type="xstring" value="Identification type 2CC-cy2"/>
<entry key="117" type="xstring" value="Identification type 2CC-D1"/>
<entry key="118" type="xstring" value="Identification type 2CC-D2"/>
<entry key="119" type="xstring" value="Identification type 2CCM-cis"/>
<entry key="120" type="xstring" value="Identification type 2CCM-cy"/>
<entry key="121" type="xstring" value="Identification type 2CCM-D"/>
<entry key="122" type="xstring" value="Identification type 2C-co"/>
<entry key="123" type="xstring" value="Identification type 2C-cy"/>
<entry key="124" type="xstring" value="Identification type 2C-D1"/>
<entry key="125" type="xstring" value="Identification type 2C-D2"/>
<entry key="126" type="xstring" value="Identification type 2CM-cis"/>
<entry key="127" type="xstring" value="Identification type 2CM-co"/>
<entry key="128" type="xstring" value="Identification type 2CM-cy"/>
<entry key="129" type="xstring" value="Identification type 2CM-D"/>
<entry key="130" type="xstring" value="Identification type 5CC-cis"/>
<entry key="131" type="xstring" value="Identification type 5CC-co"/>
<entry key="132" type="xstring" value="Identification type 5CC-D"/>
<entry key="133" type="xstring" value="Identification type 5C-cis"/>
<entry key="134" type="xstring" value="Identification type 5CCM-cis"/>
<entry key="135" type="xstring" value="Identification type 5CCM-co"/>
<entry key="136" type="xstring" value="Identification type 5CCM-D"/>
<entry key="137" type="xstring" value="Identification type 5C-co"/>
<entry key="138" type="xstring" value="Identification type 5C-cy"/>
<entry key="139" type="xstring" value="Identification type 5C-D"/>
<entry key="140" type="xstring" value="Identification type 5CM-cis"/>
<entry key="141" type="xstring" value="Identification type 5CM-co"/>
<entry key="142" type="xstring" value="Identification type 5CM-cy"/>
<entry key="143" type="xstring" value="Identification type 5CM-D"/>
<entry key="144" type="xstring" value="Sequence coverage 2CC-cis [%]"/>
<entry key="145" type="xstring" value="Sequence coverage 2CC-co [%]"/>
<entry key="146" type="xstring" value="Sequence coverage 2CC-cy1 [%]"/>
<entry key="147" type="xstring" value="Sequence coverage 2CC-cy2 [%]"/>
<entry key="148" type="xstring" value="Sequence coverage 2CC-D1 [%]"/>
<entry key="149" type="xstring" value="Sequence coverage 2CC-D2 [%]"/>
<entry key="150" type="xstring" value="Sequence coverage 2CCM-cis [%]"/>
<entry key="151" type="xstring" value="Sequence coverage 2CCM-cy [%]"/>
<entry key="152" type="xstring" value="Sequence coverage 2CCM-D [%]"/>
<entry key="153" type="xstring" value="Sequence coverage 2C-co [%]"/>
<entry key="154" type="xstring" value="Sequence coverage 2C-cy [%]"/>
<entry key="155" type="xstring" value="Sequence coverage 2C-D1 [%]"/>
<entry key="156" type="xstring" value="Sequence coverage 2C-D2 [%]"/>
<entry key="157" type="xstring" value="Sequence coverage 2CM-cis [%]"/>
<entry key="158" type="xstring" value="Sequence coverage 2CM-co [%]"/>
<entry key="159" type="xstring" value="Sequence coverage 2CM-cy [%]"/>
<entry key="160" type="xstring" value="Sequence coverage 2CM-D [%]"/>
<entry key="161" type="xstring" value="Sequence coverage 5CC-cis [%]"/>
<entry key="162" type="xstring" value="Sequence coverage 5CC-co [%]"/>
<entry key="163" type="xstring" value="Sequence coverage 5CC-D [%]"/>
<entry key="164" type="xstring" value="Sequence coverage 5C-cis [%]"/>
<entry key="165" type="xstring" value="Sequence coverage 5CCM-cis [%]"/>
<entry key="166" type="xstring" value="Sequence coverage 5CCM-co [%]"/>
<entry key="167" type="xstring" value="Sequence coverage 5CCM-D [%]"/>
<entry key="168" type="xstring" value="Sequence coverage 5C-co [%]"/>
<entry key="169" type="xstring" value="Sequence coverage 5C-cy [%]"/>
<entry key="170" type="xstring" value="Sequence coverage 5C-D [%]"/>
<entry key="171" type="xstring" value="Sequence coverage 5CM-cis [%]"/>
<entry key="172" type="xstring" value="Sequence coverage 5CM-co [%]"/>
<entry key="173" type="xstring" value="Sequence coverage 5CM-cy [%]"/>
<entry key="174" type="xstring" value="Sequence coverage 5CM-D [%]"/>
<entry key="175" type="xstring" value="Intensity"/>
<entry key="176" type="xstring" value="Intensity 2CC-cis"/>
<entry key="177" type="xstring" value="Intensity 2CC-co"/>
<entry key="178" type="xstring" value="Intensity 2CC-cy1"/>
<entry key="179" type="xstring" value="Intensity 2CC-cy2"/>
<entry key="180" type="xstring" value="Intensity 2CC-D1"/>
<entry key="181" type="xstring" value="Intensity 2CC-D2"/>
<entry key="182" type="xstring" value="Intensity 2CCM-cis"/>
<entry key="183" type="xstring" value="Intensity 2CCM-cy"/>
<entry key="184" type="xstring" value="Intensity 2CCM-D"/>
<entry key="185" type="xstring" value="Intensity 2C-co"/>
<entry key="186" type="xstring" value="Intensity 2C-cy"/>
<entry key="187" type="xstring" value="Intensity 2C-D1"/>
<entry key="188" type="xstring" value="Intensity 2C-D2"/>
<entry key="189" type="xstring" value="Intensity 2CM-cis"/>
<entry key="190" type="xstring" value="Intensity 2CM-co"/>
<entry key="191" type="xstring" value="Intensity 2CM-cy"/>
<entry key="192" type="xstring" value="Intensity 2CM-D"/>
<entry key="193" type="xstring" value="Intensity 5CC-cis"/>
<entry key="194" type="xstring" value="Intensity 5CC-co"/>
<entry key="195" type="xstring" value="Intensity 5CC-D"/>
<entry key="196" type="xstring" value="Intensity 5C-cis"/>
<entry key="197" type="xstring" value="Intensity 5CCM-cis"/>
<entry key="198" type="xstring" value="Intensity 5CCM-co"/>
<entry key="199" type="xstring" value="Intensity 5CCM-D"/>
<entry key="200" type="xstring" value="Intensity 5C-co"/>
<entry key="201" type="xstring" value="Intensity 5C-cy"/>
<entry key="202" type="xstring" value="Intensity 5C-D"/>
<entry key="203" type="xstring" value="Intensity 5CM-cis"/>
<entry key="204" type="xstring" value="Intensity 5CM-co"/>
<entry key="205" type="xstring" value="Intensity 5CM-cy"/>
<entry key="206" type="xstring" value="Intensity 5CM-D"/>
<entry key="207" type="xstring" value="iBAQ"/>
<entry key="208" type="xstring" value="iBAQ 2CC-cis"/>
<entry key="209" type="xstring" value="iBAQ 2CC-co"/>
<entry key="210" type="xstring" value="iBAQ 2CC-cy1"/>
<entry key="211" type="xstring" value="iBAQ 2CC-cy2"/>
<entry key="212" type="xstring" value="iBAQ 2CC-D1"/>
<entry key="213" type="xstring" value="iBAQ 2CC-D2"/>
<entry key="214" type="xstring" value="iBAQ 2CCM-cis"/>
<entry key="215" type="xstring" value="iBAQ 2CCM-cy"/>
<entry key="216" type="xstring" value="iBAQ 2CCM-D"/>
<entry key="217" type="xstring" value="iBAQ 2C-co"/>
<entry key="218" type="xstring" value="iBAQ 2C-cy"/>
<entry key="219" type="xstring" value="iBAQ 2C-D1"/>
<entry key="220" type="xstring" value="iBAQ 2C-D2"/>
<entry key="221" type="xstring" value="iBAQ 2CM-cis"/>
<entry key="222" type="xstring" value="iBAQ 2CM-co"/>
<entry key="223" type="xstring" value="iBAQ 2CM-cy"/>
<entry key="224" type="xstring" value="iBAQ 2CM-D"/>
<entry key="225" type="xstring" value="iBAQ 5CC-cis"/>
<entry key="226" type="xstring" value="iBAQ 5CC-co"/>
<entry key="227" type="xstring" value="iBAQ 5CC-D"/>
<entry key="228" type="xstring" value="iBAQ 5C-cis"/>
<entry key="229" type="xstring" value="iBAQ 5CCM-cis"/>
<entry key="230" type="xstring" value="iBAQ 5CCM-co"/>
<entry key="231" type="xstring" value="iBAQ 5CCM-D"/>
<entry key="232" type="xstring" value="iBAQ 5C-co"/>
<entry key="233" type="xstring" value="iBAQ 5C-cy"/>
<entry key="234" type="xstring" value="iBAQ 5C-D"/>
<entry key="235" type="xstring" value="iBAQ 5CM-cis"/>
<entry key="236" type="xstring" value="iBAQ 5CM-co"/>
<entry key="237" type="xstring" value="iBAQ 5CM-cy"/>
<entry key="238" type="xstring" value="iBAQ 5CM-D"/>
<entry key="239" type="xstring" value="LFQ intensity 2CC-cis"/>
<entry key="240" type="xstring" value="LFQ intensity 2CC-co"/>
<entry key="241" type="xstring" value="LFQ intensity 2CC-cy1"/>
<entry key="242" type="xstring" value="LFQ intensity 2CC-cy2"/>
<entry key="243" type="xstring" value="LFQ intensity 2CC-D1"/>
<entry key="244" type="xstring" value="LFQ intensity 2CC-D2"/>
<entry key="245" type="xstring" value="LFQ intensity 2CCM-cis"/>
<entry key="246" type="xstring" value="LFQ intensity 2CCM-cy"/>
<entry key="247" type="xstring" value="LFQ intensity 2CCM-D"/>
<entry key="248" type="xstring" value="LFQ intensity 2C-co"/>
<entry key="249" type="xstring" value="LFQ intensity 2C-cy"/>
<entry key="250" type="xstring" value="LFQ intensity 2C-D1"/>
<entry key="251" type="xstring" value="LFQ intensity 2C-D2"/>
<entry key="252" type="xstring" value="LFQ intensity 2CM-cis"/>
<entry key="253" type="xstring" value="LFQ intensity 2CM-co"/>
<entry key="254" type="xstring" value="LFQ intensity 2CM-cy"/>
<entry key="255" type="xstring" value="LFQ intensity 2CM-D"/>
<entry key="256" type="xstring" value="LFQ intensity 5CC-cis"/>
<entry key="257" type="xstring" value="LFQ intensity 5CC-co"/>
<entry key="258" type="xstring" value="LFQ intensity 5CC-D"/>
<entry key="259" type="xstring" value="LFQ intensity 5C-cis"/>
<entry key="260" type="xstring" value="LFQ intensity 5CCM-cis"/>
<entry key="261" type="xstring" value="LFQ intensity 5CCM-co"/>
<entry key="262" type="xstring" value="LFQ intensity 5CCM-D"/>
<entry key="263" type="xstring" value="LFQ intensity 5C-co"/>
<entry key="264" type="xstring" value="LFQ intensity 5C-cy"/>
<entry key="265" type="xstring" value="LFQ intensity 5C-D"/>
<entry key="266" type="xstring" value="LFQ intensity 5CM-cis"/>
<entry key="267" type="xstring" value="LFQ intensity 5CM-co"/>
<entry key="268" type="xstring" value="LFQ intensity 5CM-cy"/>
<entry key="269" type="xstring" value="LFQ intensity 5CM-D"/>
<entry key="270" type="xstring" value="MS/MS count 2CC-cis"/>
<entry key="271" type="xstring" value="MS/MS count 2CC-co"/>
<entry key="272" type="xstring" value="MS/MS count 2CC-cy1"/>
<entry key="273" type="xstring" value="MS/MS count 2CC-cy2"/>
<entry key="274" type="xstring" value="MS/MS count 2CC-D1"/>
<entry key="275" type="xstring" value="MS/MS count 2CC-D2"/>
<entry key="276" type="xstring" value="MS/MS count 2CCM-cis"/>
<entry key="277" type="xstring" value="MS/MS count 2CCM-cy"/>
<entry key="278" type="xstring" value="MS/MS count 2CCM-D"/>
<entry key="279" type="xstring" value="MS/MS count 2C-co"/>
<entry key="280" type="xstring" value="MS/MS count 2C-cy"/>
<entry key="281" type="xstring" value="MS/MS count 2C-D1"/>
<entry key="282" type="xstring" value="MS/MS count 2C-D2"/>
<entry key="283" type="xstring" value="MS/MS count 2CM-cis"/>
<entry key="284" type="xstring" value="MS/MS count 2CM-co"/>
<entry key="285" type="xstring" value="MS/MS count 2CM-cy"/>
<entry key="286" type="xstring" value="MS/MS count 2CM-D"/>
<entry key="287" type="xstring" value="MS/MS count 5CC-cis"/>
<entry key="288" type="xstring" value="MS/MS count 5CC-co"/>
<entry key="289" type="xstring" value="MS/MS count 5CC-D"/>
<entry key="290" type="xstring" value="MS/MS count 5C-cis"/>
<entry key="291" type="xstring" value="MS/MS count 5CCM-cis"/>
<entry key="292" type="xstring" value="MS/MS count 5CCM-co"/>
<entry key="293" type="xstring" value="MS/MS count 5CCM-D"/>
<entry key="294" type="xstring" value="MS/MS count 5C-co"/>
<entry key="295" type="xstring" value="MS/MS count 5C-cy"/>
<entry key="296" type="xstring" value="MS/MS count 5C-D"/>
<entry key="297" type="xstring" value="MS/MS count 5CM-cis"/>
<entry key="298" type="xstring" value="MS/MS count 5CM-co"/>
<entry key="299" type="xstring" value="MS/MS count 5CM-cy"/>
<entry key="300" type="xstring" value="MS/MS count 5CM-D"/>
<entry key="301" type="xstring" value="MS/MS count"/>
<entry key="302" type="xstring" value="Only identified by site"/>
<entry key="303" type="xstring" value="Reverse"/>
<entry key="304" type="xstring" value="Potential contaminant"/>
<entry key="305" type="xstring" value="id"/>
<entry key="306" type="xstring" value="Peptide IDs"/>
<entry key="307" type="xstring" value="Peptide is razor"/>
<entry key="308" type="xstring" value="Mod. peptide IDs"/>
<entry key="309" type="xstring" value="Evidence IDs"/>
<entry key="310" type="xstring" value="MS/MS IDs"/>
<entry key="311" type="xstring" value="Best MS/MS"/>
<entry key="312" type="xstring" value="Deamidation (NQ) site IDs"/>
<entry key="313" type="xstring" value="Oxidation (M) site IDs"/>
<entry key="314" type="xstring" value="Deamidation (NQ) site positions"/>
<entry key="315" type="xstring" value="Oxidation (M) site positions"/>
<entry key="316" type="xstring" value="Intensity 2CC-cis_log2"/>
<entry key="317" type="xstring" value="Intensity 2CC-co_log2"/>
<entry key="318" type="xstring" value="Intensity 2CC-cy1_log2"/>
<entry key="319" type="xstring" value="Intensity 2CC-cy2_log2"/>
<entry key="320" type="xstring" value="Intensity 2CC-D1_log2"/>
<entry key="321" type="xstring" value="Intensity 2CC-D2_log2"/>
<entry key="322" type="xstring" value="Intensity 2CCM-cis_log2"/>
<entry key="323" type="xstring" value="Intensity 2CCM-cy_log2"/>
<entry key="324" type="xstring" value="Intensity 2CCM-D_log2"/>
<entry key="325" type="xstring" value="Intensity 2C-co_log2"/>
<entry key="326" type="xstring" value="Intensity 2C-cy_log2"/>
<entry key="327" type="xstring" value="Intensity 2C-D1_log2"/>
<entry key="328" type="xstring" value="Intensity 2C-D2_log2"/>
<entry key="329" type="xstring" value="Intensity 2CM-cis_log2"/>
<entry key="330" type="xstring" value="Intensity 2CM-co_log2"/>
<entry key="331" type="xstring" value="Intensity 2CM-cy_log2"/>
<entry key="332" type="xstring" value="Intensity 2CM-D_log2"/>
<entry key="333" type="xstring" value="Intensity 5CC-cis_log2"/>
<entry key="334" type="xstring" value="Intensity 5CC-co_log2"/>
<entry key="335" type="xstring" value="Intensity 5CC-D_log2"/>
<entry key="336" type="xstring" value="Intensity 5C-cis_log2"/>
<entry key="337" type="xstring" value="Intensity 5CCM-cis_log2"/>
<entry key="338" type="xstring" value="Intensity 5CCM-co_log2"/>
<entry key="339" type="xstring" value="Intensity 5CCM-D_log2"/>
<entry key="340" type="xstring" value="Intensity 5C-co_log2"/>
<entry key="341" type="xstring" value="Intensity 5C-cy_log2"/>
<entry key="342" type="xstring" value="Intensity 5C-D_log2"/>
<entry key="343" type="xstring" value="Intensity 5CM-cis_log2"/>
<entry key="344" type="xstring" value="Intensity 5CM-co_log2"/>
<entry key="345" type="xstring" value="Intensity 5CM-cy_log2"/>
<entry key="346" type="xstring" value="Intensity 5CM-D_log2"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value="Intensity *_log2"/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
</config>
<config key="single-selection-258">
<entry key="variable_value" type="xstring" value="median"/>
</config>
<config key="single-selection-259">
<entry key="variable_value" type="xstring" value="median"/>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="normalization on median"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="370"/>
<entry key="y-coordinate" type="xint" value="219"/>
<entry key="width" type="xint" value="141"/>
<entry key="height" type="xint" value="17"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="10"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="virtual-in-ID" type="xint" value="266"/>
<config key="inports">
<config key="inport_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<entry key="virtual-out-ID" type="xint" value="265"/>
<config key="outports">
<config key="outport_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
<config key="outport_1">
<entry key="index" type="xint" value="1"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<config key="workflow_template_information">
<entry key="role" type="xstring" value="Link"/>
<entry key="timestamp" type="xstring" value="2018-10-12 17:49:51"/>
<entry key="sourceURI" type="xstring" value="knime://LOCAL/_Metanodes%20templates/Data%20processing/Normalization%20(linear)"/>
</config>
<config key="layoutInfos"/>
<entry key="layoutJSON" type="xstring" value=""/>
</config>
