<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="calleeWorkflow_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_WorkflowChooser"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="calleeWorkflow">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="true"/>
                <entry key="convenience_fs_category" type="xstring" value="RELATIVE"/>
                <entry key="relative_to" type="xstring" value="knime.workflow"/>
                <entry key="spaceId" type="xstring" value=""/>
                <entry key="spaceName" type="xstring" value=""/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="path">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="RELATIVE"/>
                <entry key="file_system_specifier" type="xstring" value="knime.workflow"/>
                <entry key="path" type="xstring" value="../DIA-NN_preprocess_output_1.0.0"/>
            </config>
            <config key="filter_mode_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
        </config>
        <entry key="discardJobOnSuccessfulExecution" type="xboolean" value="true"/>
        <entry key="isSynchronous" type="xboolean" value="false"/>
        <entry key="keepFailingJobs" type="xboolean" value="true"/>
        <entry key="executionContext" type="xstring" isnull="true" value=""/>
        <entry key="hubItemVersion" type="xstring" value="LATEST_STATE"/>
        <entry key="deploymentId" type="xstring" isnull="true" value=""/>
        <entry key="reportFormatOrNull" type="xstring" isnull="true" value=""/>
        <entry key="loadTimeout" type="xint" value="60"/>
        <entry key="fetchParametersTimeout" type="xint" value="10"/>
        <config key="backoffPolicy">
            <entry key="backoffBase" type="xlong" value="1200"/>
            <entry key="backoffMultiplier" type="xlong" value="1"/>
            <entry key="backoffRetries" type="xint" value="3"/>
        </config>
        <config key="calleeProperties">
            <config key="inputs">
                <config key="input-0">
                    <entry key="parameterName" type="xstring" value="main_data"/>
                    <entry key="parameterDescription" type="xstring" isnull="true" value=""/>
                    <config key="portType">
                        <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
                    </config>
                </config>
                <config key="input-1">
                    <entry key="parameterName" type="xstring" value="experimental_design"/>
                    <entry key="parameterDescription" type="xstring" isnull="true" value=""/>
                    <config key="portType">
                        <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
                    </config>
                </config>
                <config key="input-2">
                    <entry key="parameterName" type="xstring" value="comparisons_table"/>
                    <entry key="parameterDescription" type="xstring" isnull="true" value=""/>
                    <config key="portType">
                        <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
                    </config>
                </config>
            </config>
            <config key="outputs">
                <config key="output-0">
                    <entry key="parameterName" type="xstring" value="output-parameter-2160"/>
                    <entry key="parameterDescription" type="xstring" isnull="true" value=""/>
                    <config key="portType">
                        <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
                    </config>
                </config>
                <config key="output-1">
                    <entry key="parameterName" type="xstring" value="output-parameter-2161"/>
                    <entry key="parameterDescription" type="xstring" isnull="true" value=""/>
                    <config key="portType">
                        <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
                    </config>
                </config>
            </config>
        </config>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="calleeWorkflow">
                <config key="path">
                    <entry key="used_variable" type="xstring" value="full_wf_name_location"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.workflowservices.knime.caller2.CallWorkflow2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Call Workflow Service"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Nodes to build and use KNIME workflow services"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.workflowservices"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.9.0.v202511130856"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Personal Productivity Tools"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.personalproductivity.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.9.0.v202511132128"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Inputs">
            <config key="port_0">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
            <config key="port_1">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
            <config key="port_2">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
        </config>
        <config key="Outputs">
            <config key="port_0">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
            <config key="port_1">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
        </config>
    </config>
    <entry key="name" type="xstring" value="Call Workflow Service"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
