<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="variable_filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="currentIteration"/>
                <entry key="1" type="xstring" value="filename_volcano"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="60"/>
                <entry key="0" type="xstring" value="graphs_folder_location"/>
                <entry key="1" type="xstring" value="ratio_if_switch_location"/>
                <entry key="2" type="xstring" value="filename_volcano_location"/>
                <entry key="3" type="xstring" value="directory_location"/>
                <entry key="4" type="xstring" value="directory"/>
                <entry key="5" type="xstring" value="maxIterations"/>
                <entry key="6" type="xstring" value="x_label"/>
                <entry key="7" type="xstring" value="y_label"/>
                <entry key="8" type="xstring" value="graph_subtitle"/>
                <entry key="9" type="xstring" value="p_column"/>
                <entry key="10" type="xstring" value="logFC_column"/>
                <entry key="11" type="xstring" value="current_contrast"/>
                <entry key="12" type="xstring" value="columns_to_process"/>
                <entry key="13" type="xstring" value="separate_switch"/>
                <entry key="14" type="xstring" value="p_value_plot_height"/>
                <entry key="15" type="xstring" value="p_value_plot_width"/>
                <entry key="16" type="xstring" value="if_switch"/>
                <entry key="17" type="xstring" value="volcano_switch"/>
                <entry key="18" type="xstring" value="p_switch"/>
                <entry key="19" type="xstring" value="ratio_if_switch"/>
                <entry key="20" type="xstring" value="iterations_p_dist"/>
                <entry key="21" type="xstring" value="iterations_volcano"/>
                <entry key="22" type="xstring" value="columns_prefix"/>
                <entry key="23" type="xstring" value="contrasts"/>
                <entry key="24" type="xstring" value="adjP_method"/>
                <entry key="25" type="xstring" value="Rcommand"/>
                <entry key="26" type="xstring" value="python3command"/>
                <entry key="27" type="xstring" value="remove_not_used"/>
                <entry key="28" type="xstring" value="graphs_folder"/>
                <entry key="29" type="xstring" value="p_value_plot_size"/>
                <entry key="30" type="xstring" value="p_plot_bool"/>
                <entry key="31" type="xstring" value="volcano_plot_size"/>
                <entry key="32" type="xstring" value="delim"/>
                <entry key="33" type="xstring" value="manual_label"/>
                <entry key="34" type="xstring" value="use_thresholds"/>
                <entry key="35" type="xstring" value="use_thresholds (index)"/>
                <entry key="36" type="xstring" value="top_n_criteria"/>
                <entry key="37" type="xstring" value="top_n_criteria (index)"/>
                <entry key="38" type="xstring" value="top_n"/>
                <entry key="39" type="xstring" value="automatic_label"/>
                <entry key="40" type="xstring" value="automatic_label (index)"/>
                <entry key="41" type="xstring" value="labelling_bool"/>
                <entry key="42" type="xstring" value="p_threshold"/>
                <entry key="43" type="xstring" value="logFC_threshold"/>
                <entry key="44" type="xstring" value="zero_p_replacement"/>
                <entry key="45" type="xstring" value="p_column_selection"/>
                <entry key="46" type="xstring" value="p_column_selection (index)"/>
                <entry key="47" type="xstring" value="volcano_bool"/>
                <entry key="48" type="xstring" value="comparisons_ratios"/>
                <entry key="49" type="xstring" value="adjP_method (index)"/>
                <entry key="50" type="xstring" value="comparisons_separately"/>
                <entry key="51" type="xstring" value="samples_blocks"/>
                <entry key="52" type="xstring" value="samples_pairs"/>
                <entry key="53" type="xstring" value="thresholds"/>
                <entry key="54" type="xstring" value="row_exclusion"/>
                <entry key="55" type="xstring" value="row_exclusion (index)"/>
                <entry key="56" type="xstring" value="limma_design"/>
                <entry key="57" type="xstring" value="test_name"/>
                <entry key="58" type="xstring" value="ID_column"/>
                <entry key="59" type="xstring" value="knime.workspace"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="propagateLoopVariables_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="propagateLoopVariables" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.meta.looper.variable.end.LoopEndVariableNodeFactory"/>
    <entry key="node-name" type="xstring" value="Variable Loop End"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.7.v202308021457"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.7.v202308161346"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Variable Loop End"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
