<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="Filter Column Settings">
            <entry key="filter-type" type="xstring" value="name_pattern"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="8"/>
                <entry key="0" type="xstring" value="Protein.Group"/>
                <entry key="1" type="xstring" value="Lib.PG.Q.Value"/>
                <entry key="2" type="xstring" value="Stripped.Sequence (Count)"/>
                <entry key="3" type="xstring" value="Stripped.Sequence (Concatenate)"/>
                <entry key="4" type="xstring" value="Protein.Ids (Concatenate)"/>
                <entry key="5" type="xstring" value="Stripped.Sequence_Protein.Ids (Concatenate)"/>
                <entry key="6" type="xstring" value="PG.ID"/>
                <entry key="7" type="xstring" value="PG.Quantity (Max*)_all_sum"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="98"/>
                <entry key="0" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_01_IM_1_GD3_1_533 (Count*)"/>
                <entry key="1" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_02_IM_1_GD4_1_513 (Count*)"/>
                <entry key="2" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_03_IM_1_GD5_1_538 (Count*)"/>
                <entry key="3" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_04_IM_1_GD6_1_518 (Count*)"/>
                <entry key="4" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_05_IM_1_GD7_1_553 (Count*)"/>
                <entry key="5" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_06_IM_1_GD8_1_498 (Count*)"/>
                <entry key="6" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_07_IM_1_GE1_1_558 (Count*)"/>
                <entry key="7" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_08_IM_1_GE2_1_528 (Count*)"/>
                <entry key="8" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_09_IM_1_GE3_1_508 (Count*)"/>
                <entry key="9" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_10_IM_1_GE4_1_543 (Count*)"/>
                <entry key="10" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_11_IM_1_GE5_1_523 (Count*)"/>
                <entry key="11" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_12_IM_1_GE6_1_548 (Count*)"/>
                <entry key="12" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_13_IM_1_GE7_1_503 (Count*)"/>
                <entry key="13" type="xstring" value="Precursor.Id (Count)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_14_IM_1_GE8_1_563 (Count*)"/>
                <entry key="14" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_01_IM_1_GD3_1_533 (Max*)"/>
                <entry key="15" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_02_IM_1_GD4_1_513 (Max*)"/>
                <entry key="16" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_03_IM_1_GD5_1_538 (Max*)"/>
                <entry key="17" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_04_IM_1_GD6_1_518 (Max*)"/>
                <entry key="18" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_05_IM_1_GD7_1_553 (Max*)"/>
                <entry key="19" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_06_IM_1_GD8_1_498 (Max*)"/>
                <entry key="20" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_07_IM_1_GE1_1_558 (Max*)"/>
                <entry key="21" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_08_IM_1_GE2_1_528 (Max*)"/>
                <entry key="22" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_09_IM_1_GE3_1_508 (Max*)"/>
                <entry key="23" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_10_IM_1_GE4_1_543 (Max*)"/>
                <entry key="24" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_11_IM_1_GE5_1_523 (Max*)"/>
                <entry key="25" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_12_IM_1_GE6_1_548 (Max*)"/>
                <entry key="26" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_13_IM_1_GE7_1_503 (Max*)"/>
                <entry key="27" type="xstring" value="PG.MaxLFQ (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_14_IM_1_GE8_1_563 (Max*)"/>
                <entry key="28" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_01_IM_1_GD3_1_533 (Max*)"/>
                <entry key="29" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_02_IM_1_GD4_1_513 (Max*)"/>
                <entry key="30" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_03_IM_1_GD5_1_538 (Max*)"/>
                <entry key="31" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_04_IM_1_GD6_1_518 (Max*)"/>
                <entry key="32" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_05_IM_1_GD7_1_553 (Max*)"/>
                <entry key="33" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_06_IM_1_GD8_1_498 (Max*)"/>
                <entry key="34" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_07_IM_1_GE1_1_558 (Max*)"/>
                <entry key="35" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_08_IM_1_GE2_1_528 (Max*)"/>
                <entry key="36" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_09_IM_1_GE3_1_508 (Max*)"/>
                <entry key="37" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_10_IM_1_GE4_1_543 (Max*)"/>
                <entry key="38" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_11_IM_1_GE5_1_523 (Max*)"/>
                <entry key="39" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_12_IM_1_GE6_1_548 (Max*)"/>
                <entry key="40" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_13_IM_1_GE7_1_503 (Max*)"/>
                <entry key="41" type="xstring" value="PG.Normalised (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_14_IM_1_GE8_1_563 (Max*)"/>
                <entry key="42" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_01_IM_1_GD3_1_533 (Max*)"/>
                <entry key="43" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_02_IM_1_GD4_1_513 (Max*)"/>
                <entry key="44" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_03_IM_1_GD5_1_538 (Max*)"/>
                <entry key="45" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_04_IM_1_GD6_1_518 (Max*)"/>
                <entry key="46" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_05_IM_1_GD7_1_553 (Max*)"/>
                <entry key="47" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_06_IM_1_GD8_1_498 (Max*)"/>
                <entry key="48" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_07_IM_1_GE1_1_558 (Max*)"/>
                <entry key="49" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_08_IM_1_GE2_1_528 (Max*)"/>
                <entry key="50" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_09_IM_1_GE3_1_508 (Max*)"/>
                <entry key="51" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_10_IM_1_GE4_1_543 (Max*)"/>
                <entry key="52" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_11_IM_1_GE5_1_523 (Max*)"/>
                <entry key="53" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_12_IM_1_GE6_1_548 (Max*)"/>
                <entry key="54" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_13_IM_1_GE7_1_503 (Max*)"/>
                <entry key="55" type="xstring" value="PG.Quantity (Max*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_14_IM_1_GE8_1_563 (Max*)"/>
                <entry key="56" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_01_IM_1_GD3_1_533 (Min*)"/>
                <entry key="57" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_02_IM_1_GD4_1_513 (Min*)"/>
                <entry key="58" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_03_IM_1_GD5_1_538 (Min*)"/>
                <entry key="59" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_04_IM_1_GD6_1_518 (Min*)"/>
                <entry key="60" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_05_IM_1_GD7_1_553 (Min*)"/>
                <entry key="61" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_06_IM_1_GD8_1_498 (Min*)"/>
                <entry key="62" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_07_IM_1_GE1_1_558 (Min*)"/>
                <entry key="63" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_08_IM_1_GE2_1_528 (Min*)"/>
                <entry key="64" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_09_IM_1_GE3_1_508 (Min*)"/>
                <entry key="65" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_10_IM_1_GE4_1_543 (Min*)"/>
                <entry key="66" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_11_IM_1_GE5_1_523 (Min*)"/>
                <entry key="67" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_12_IM_1_GE6_1_548 (Min*)"/>
                <entry key="68" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_13_IM_1_GE7_1_503 (Min*)"/>
                <entry key="69" type="xstring" value="PG.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_14_IM_1_GE8_1_563 (Min*)"/>
                <entry key="70" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_01_IM_1_GD3_1_533 (Min*)"/>
                <entry key="71" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_02_IM_1_GD4_1_513 (Min*)"/>
                <entry key="72" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_03_IM_1_GD5_1_538 (Min*)"/>
                <entry key="73" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_04_IM_1_GD6_1_518 (Min*)"/>
                <entry key="74" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_05_IM_1_GD7_1_553 (Min*)"/>
                <entry key="75" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_06_IM_1_GD8_1_498 (Min*)"/>
                <entry key="76" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_07_IM_1_GE1_1_558 (Min*)"/>
                <entry key="77" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_08_IM_1_GE2_1_528 (Min*)"/>
                <entry key="78" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_09_IM_1_GE3_1_508 (Min*)"/>
                <entry key="79" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_10_IM_1_GE4_1_543 (Min*)"/>
                <entry key="80" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_11_IM_1_GE5_1_523 (Min*)"/>
                <entry key="81" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_12_IM_1_GE6_1_548 (Min*)"/>
                <entry key="82" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_13_IM_1_GE7_1_503 (Min*)"/>
                <entry key="83" type="xstring" value="Protein.Q.Value (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_14_IM_1_GE8_1_563 (Min*)"/>
                <entry key="84" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_01_IM_1_GD3_1_533 (Sum)"/>
                <entry key="85" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_02_IM_1_GD4_1_513 (Sum)"/>
                <entry key="86" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_03_IM_1_GD5_1_538 (Sum)"/>
                <entry key="87" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_04_IM_1_GD6_1_518 (Sum)"/>
                <entry key="88" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_05_IM_1_GD7_1_553 (Sum)"/>
                <entry key="89" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_06_IM_1_GD8_1_498 (Sum)"/>
                <entry key="90" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_07_IM_1_GE1_1_558 (Sum)"/>
                <entry key="91" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_08_IM_1_GE2_1_528 (Sum)"/>
                <entry key="92" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_09_IM_1_GE3_1_508 (Sum)"/>
                <entry key="93" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_10_IM_1_GE4_1_543 (Sum)"/>
                <entry key="94" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_11_IM_1_GE5_1_523 (Sum)"/>
                <entry key="95" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_12_IM_1_GE6_1_548 (Sum)"/>
                <entry key="96" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_13_IM_1_GE7_1_503 (Sum)"/>
                <entry key="97" type="xstring" value="Proteotypic (Min*)+6273_Ultra1_DIA-phospho_RSLC_2col-80min_14_IM_1_GE8_1_563 (Sum)"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value="*+*"/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="removes all %%00010columns with +"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="1209"/>
        <entry key="y-coordinate" type="xint" value="499"/>
        <entry key="width" type="xint" value="142"/>
        <entry key="height" type="xint" value="32"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="10"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.split2.SplitNodeFactory2"/>
    <entry key="node-name" type="xstring" value="Column Splitter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.7.v202308021457"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.7.v202308161346"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Splitter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2663, Cols: 28"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 2663, Cols: 72"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="3a9de0e1-6483-44ab-bb45-f15ead2e2c4c"/>
    </config>
</config>
