<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="column-filter"/>
            <entry key="class" type="xstring" value="STRINGARRAY"/>
            <config key="value">
                <entry key="array-size" type="xint" value="11"/>
                <entry key="0" type="xstring" value="Precursor.Normalised+mock_326_1_log2_-outliers_norm_delog"/>
                <entry key="1" type="xstring" value="Precursor.Normalised+mock_326_2_log2_-outliers_norm_delog"/>
                <entry key="2" type="xstring" value="Precursor.Normalised+mock_327_1_log2_-outliers_norm_delog"/>
                <entry key="3" type="xstring" value="Precursor.Normalised+mock_327_2_log2_-outliers_norm_delog"/>
                <entry key="4" type="xstring" value="Precursor.Normalised+mock_328_1_log2_-outliers_norm_delog"/>
                <entry key="5" type="xstring" value="Precursor.Normalised+mock_328_2_log2_-outliers_norm_delog"/>
                <entry key="6" type="xstring" value="Precursor.Normalised+Trop2UP_329_1_log2_-outliers_norm_delog"/>
                <entry key="7" type="xstring" value="Precursor.Normalised+Trop2UP_331_1_log2_-outliers_norm_delog"/>
                <entry key="8" type="xstring" value="Precursor.Normalised+Trop2UP_331_2_log2_-outliers_norm_delog"/>
                <entry key="9" type="xstring" value="Precursor.Normalised+Trop2UP_332_1_log2_-outliers_norm_delog"/>
                <entry key="10" type="xstring" value="Precursor.Normalised+Trop2UP_332_2_log2_-outliers_norm_delog"/>
            </config>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="RowID"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value=""/>
        </config>
        <config key="Variable_2">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="RowID"/>
            <entry key="class" type="xstring" value="STRING"/>
            <entry key="value" type="xstring" value="Column Header"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="addIterationColumn" type="xboolean" value="false"/>
        <entry key="rowKeyPolicy" type="xstring" value="GENERATE_NEW"/>
        <entry key="propagateLoopVariables" type="xboolean" value="true"/>
        <config key="ignoreEmptyTables">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xboolean" value="true"/>
        </config>
        <config key="tolerateColumnTypes">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xboolean" value="false"/>
        </config>
        <config key="tolerateChangingSpecs">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xboolean" value="true"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.meta.looper.LoopEndDynamicNodeFactory"/>
    <entry key="node-name" type="xstring" value="Loop End"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.7.v202308021457"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.7.v202308161346"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="Collector"/>
    </config>
    <entry key="name" type="xstring" value="Loop End"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
