<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="filename_scatterplot_location"/>
            <entry key="class" type="xstring" value="FSLocation"/>
            <entry key="location_present" type="xboolean" value="true"/>
            <entry key="file_system_type" type="xstring" value="LOCAL"/>
            <entry key="path" type="xstring" value="/home/knimeuser/knime-workspace/gitfolders/DIA-NN_PGs_LFQ_general_1.2.0/__outputs__/figures/normalization_tests/peptides_all samples/peptides_1-2_scatter-plot_diann-norm.png"/>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="variable_filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="filename_scatterplot"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="92"/>
                <entry key="0" type="xstring" value="graph_subtitle_subset"/>
                <entry key="1" type="xstring" value="subset_subtitle"/>
                <entry key="2" type="xstring" value="subset_filename"/>
                <entry key="3" type="xstring" value="normalization_filename"/>
                <entry key="4" type="xstring" value="all_graph_subtitles"/>
                <entry key="5" type="xstring" value="all_normalization_filenames"/>
                <entry key="6" type="xstring" value="all_col_suffixes"/>
                <entry key="7" type="xstring" value="all_col_prefixes"/>
                <entry key="8" type="xstring" value="graph_subtitle"/>
                <entry key="9" type="xstring" value="prefix"/>
                <entry key="10" type="xstring" value="suffix"/>
                <entry key="11" type="xstring" value="scatter_unity"/>
                <entry key="12" type="xstring" value="scatter_y"/>
                <entry key="13" type="xstring" value="scatter_x"/>
                <entry key="14" type="xstring" value="scatter_imp"/>
                <entry key="15" type="xstring" value="scatter_regres"/>
                <entry key="16" type="xstring" value="scatterplot_size"/>
                <entry key="17" type="xstring" value="show_raw_data"/>
                <entry key="18" type="xstring" value="cluster_method_correlation"/>
                <entry key="19" type="xstring" value="distance_metric_correlation"/>
                <entry key="20" type="xstring" value="clustermap_colormap"/>
                <entry key="21" type="xstring" value="correlation_method"/>
                <entry key="22" type="xstring" value="correlation_size"/>
                <entry key="23" type="xstring" value="boxplot_manual_switch"/>
                <entry key="24" type="xstring" value="boxplot_manual_y"/>
                <entry key="25" type="xstring" value="boxplot_size"/>
                <entry key="26" type="xstring" value="Rcommand"/>
                <entry key="27" type="xstring" value="violin_size"/>
                <entry key="28" type="xstring" value="plots_manual_y"/>
                <entry key="29" type="xstring" value="violin_kernel"/>
                <entry key="30" type="xstring" value="plot_manual_switch"/>
                <entry key="31" type="xstring" value="kde_size"/>
                <entry key="32" type="xstring" value="plots_manual_x"/>
                <entry key="33" type="xstring" value="kde_line"/>
                <entry key="34" type="xstring" value="distance_metric_hierarchy"/>
                <entry key="35" type="xstring" value="cluster_method_hierarchy"/>
                <entry key="36" type="xstring" value="hierarchy_size"/>
                <entry key="37" type="xstring" value="data_to_normalize"/>
                <entry key="38" type="xstring" value="output_folder"/>
                <entry key="39" type="xstring" value="output_subfolder"/>
                <entry key="40" type="xstring" value="context.workflow.name"/>
                <entry key="41" type="xstring" value="context.workflow.path"/>
                <entry key="42" type="xstring" value="context.workflow.absolute-path"/>
                <entry key="43" type="xstring" value="context.workflow.user"/>
                <entry key="44" type="xstring" value="context.workflow.temp.location"/>
                <entry key="45" type="xstring" value="context.workflow.author.name"/>
                <entry key="46" type="xstring" value="context.workflow.last.editor.name"/>
                <entry key="47" type="xstring" value="context.workflow.creation.date"/>
                <entry key="48" type="xstring" value="context.workflow.last.time.modified"/>
                <entry key="49" type="xstring" value="context.job.id"/>
                <entry key="50" type="xstring" value="data_to_normalize_switch"/>
                <entry key="51" type="xstring" value="path"/>
                <entry key="52" type="xstring" value="exclude_switch"/>
                <entry key="53" type="xstring" value="all_samples_list"/>
                <entry key="54" type="xstring" value="exclude"/>
                <entry key="55" type="xstring" value="sample_list"/>
                <entry key="56" type="xstring" value="subset_ma"/>
                <entry key="57" type="xstring" value="subset_scatter"/>
                <entry key="58" type="xstring" value="subset_hierarchy"/>
                <entry key="59" type="xstring" value="subset_correlation_automatic"/>
                <entry key="60" type="xstring" value="subset_correlation_manual"/>
                <entry key="61" type="xstring" value="subset_density"/>
                <entry key="62" type="xstring" value="subset_boxplot"/>
                <entry key="63" type="xstring" value="subset_violin_widthsame"/>
                <entry key="64" type="xstring" value="subset_violin_widthcount"/>
                <entry key="65" type="xstring" value="subset_switch"/>
                <entry key="66" type="xstring" value="graph_ma"/>
                <entry key="67" type="xstring" value="graph_scatter"/>
                <entry key="68" type="xstring" value="graph_hierarchy"/>
                <entry key="69" type="xstring" value="graph_correlation_automatic"/>
                <entry key="70" type="xstring" value="graph_correlation_manual"/>
                <entry key="71" type="xstring" value="graph_density"/>
                <entry key="72" type="xstring" value="graph_boxplot"/>
                <entry key="73" type="xstring" value="graph_violin_widthsame"/>
                <entry key="74" type="xstring" value="graph_violin_widthcount"/>
                <entry key="75" type="xstring" value="methods_list"/>
                <entry key="76" type="xstring" value="python3command"/>
                <entry key="77" type="xstring" value="all_suffix"/>
                <entry key="78" type="xstring" value="all_prefix"/>
                <entry key="79" type="xstring" value="subset_graphs"/>
                <entry key="80" type="xstring" value="graphs"/>
                <entry key="81" type="xstring" value="methods"/>
                <entry key="82" type="xstring" value="subset_list"/>
                <entry key="83" type="xstring" value="design"/>
                <entry key="84" type="xstring" value="column_selection"/>
                <entry key="85" type="xstring" value="all_samples"/>
                <entry key="86" type="xstring" value="ma_size"/>
                <entry key="87" type="xstring" value="ma_regres"/>
                <entry key="88" type="xstring" value="ma_imp"/>
                <entry key="89" type="xstring" value="ma_x"/>
                <entry key="90" type="xstring" value="ma_y"/>
                <entry key="91" type="xstring" value="ma_unity"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="suffix_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="suffix" type="xstring" value="_location"/>
        <config key="file_system_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_file_system"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="file_system">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                <entry key="mountpoint" type="xstring" value="LOCAL"/>
                <entry key="spaceId" type="xstring" value=""/>
                <entry key="spaceName" type="xstring" value=""/>
                <entry key="custom_url_timeout" type="xint" value="1000"/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="location_spec">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="LOCAL"/>
            </config>
        </config>
        <config key="fail_on_missing_file_folder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="fail_on_missing_file_folder" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.filehandling.utility.nodes.stringtopath.variable.StringToPathVariableNodeFactory"/>
    <entry key="node-name" type="xstring" value="String to Path (Variable)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Filehandling Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.filehandling.utility.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.1.v202301311311"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.7.v202308161346"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Input Variables"/>
        <config key="Appended variables"/>
    </config>
    <entry key="name" type="xstring" value="String to Path (Variable)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
