<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="single-line-297">
<entry key="string" type="xstring" value="LIMMA_"/>
</config>
<config key="column-filter-306">
<config key="columns">
<entry key="array-size" type="xint" value="6"/>
<entry key="0" type="xstring" value="Intensity ID05_log2_norm"/>
<entry key="1" type="xstring" value="Intensity ID06_log2_norm"/>
<entry key="2" type="xstring" value="Intensity ID13_log2_norm"/>
<entry key="3" type="xstring" value="Intensity ID14_log2_norm"/>
<entry key="4" type="xstring" value="Intensity ID21_log2_norm"/>
<entry key="5" type="xstring" value="Intensity ID22_log2_norm"/>
</config>
<config key="columnFilter">
<config key="columnFilter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="6"/>
<entry key="0" type="xstring" value="Intensity ID05_log2_norm"/>
<entry key="1" type="xstring" value="Intensity ID06_log2_norm"/>
<entry key="2" type="xstring" value="Intensity ID13_log2_norm"/>
<entry key="3" type="xstring" value="Intensity ID14_log2_norm"/>
<entry key="4" type="xstring" value="Intensity ID21_log2_norm"/>
<entry key="5" type="xstring" value="Intensity ID22_log2_norm"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="534"/>
<entry key="0" type="xstring" value="Protein IDs"/>
<entry key="1" type="xstring" value="Majority protein IDs"/>
<entry key="2" type="xstring" value="Peptide counts (all)"/>
<entry key="3" type="xstring" value="Peptide counts (razor+unique)"/>
<entry key="4" type="xstring" value="Peptide counts (unique)"/>
<entry key="5" type="xstring" value="Protein names"/>
<entry key="6" type="xstring" value="Gene names"/>
<entry key="7" type="xstring" value="Fasta headers"/>
<entry key="8" type="xstring" value="Number of proteins"/>
<entry key="9" type="xstring" value="Peptides"/>
<entry key="10" type="xstring" value="Razor + unique peptides"/>
<entry key="11" type="xstring" value="Unique peptides"/>
<entry key="12" type="xstring" value="Peptides 3P17"/>
<entry key="13" type="xstring" value="Peptides 3P18"/>
<entry key="14" type="xstring" value="Peptides 3P19"/>
<entry key="15" type="xstring" value="Peptides 3P20"/>
<entry key="16" type="xstring" value="Peptides 3P21"/>
<entry key="17" type="xstring" value="Peptides 3P22"/>
<entry key="18" type="xstring" value="Peptides 3P23"/>
<entry key="19" type="xstring" value="Peptides 3P24"/>
<entry key="20" type="xstring" value="Peptides ID01"/>
<entry key="21" type="xstring" value="Peptides ID02"/>
<entry key="22" type="xstring" value="Peptides ID03"/>
<entry key="23" type="xstring" value="Peptides ID04"/>
<entry key="24" type="xstring" value="Peptides ID05"/>
<entry key="25" type="xstring" value="Peptides ID06"/>
<entry key="26" type="xstring" value="Peptides ID07"/>
<entry key="27" type="xstring" value="Peptides ID08"/>
<entry key="28" type="xstring" value="Peptides ID09"/>
<entry key="29" type="xstring" value="Peptides ID10"/>
<entry key="30" type="xstring" value="Peptides ID11"/>
<entry key="31" type="xstring" value="Peptides ID12"/>
<entry key="32" type="xstring" value="Peptides ID13"/>
<entry key="33" type="xstring" value="Peptides ID14"/>
<entry key="34" type="xstring" value="Peptides ID15"/>
<entry key="35" type="xstring" value="Peptides ID16"/>
<entry key="36" type="xstring" value="Peptides ID17"/>
<entry key="37" type="xstring" value="Peptides ID18"/>
<entry key="38" type="xstring" value="Peptides ID19"/>
<entry key="39" type="xstring" value="Peptides ID20"/>
<entry key="40" type="xstring" value="Peptides ID21"/>
<entry key="41" type="xstring" value="Peptides ID22"/>
<entry key="42" type="xstring" value="Peptides ID23"/>
<entry key="43" type="xstring" value="Peptides ID24"/>
<entry key="44" type="xstring" value="Peptides P01"/>
<entry key="45" type="xstring" value="Peptides P02"/>
<entry key="46" type="xstring" value="Peptides P03"/>
<entry key="47" type="xstring" value="Peptides P04"/>
<entry key="48" type="xstring" value="Peptides P05"/>
<entry key="49" type="xstring" value="Peptides P06"/>
<entry key="50" type="xstring" value="Peptides P07"/>
<entry key="51" type="xstring" value="Peptides P08"/>
<entry key="52" type="xstring" value="Peptides P09"/>
<entry key="53" type="xstring" value="Peptides P10"/>
<entry key="54" type="xstring" value="Peptides P11"/>
<entry key="55" type="xstring" value="Peptides P12"/>
<entry key="56" type="xstring" value="Peptides P13"/>
<entry key="57" type="xstring" value="Peptides P14"/>
<entry key="58" type="xstring" value="Peptides P15"/>
<entry key="59" type="xstring" value="Peptides P16"/>
<entry key="60" type="xstring" value="Razor + unique peptides 3P17"/>
<entry key="61" type="xstring" value="Razor + unique peptides 3P18"/>
<entry key="62" type="xstring" value="Razor + unique peptides 3P19"/>
<entry key="63" type="xstring" value="Razor + unique peptides 3P20"/>
<entry key="64" type="xstring" value="Razor + unique peptides 3P21"/>
<entry key="65" type="xstring" value="Razor + unique peptides 3P22"/>
<entry key="66" type="xstring" value="Razor + unique peptides 3P23"/>
<entry key="67" type="xstring" value="Razor + unique peptides 3P24"/>
<entry key="68" type="xstring" value="Razor + unique peptides ID01"/>
<entry key="69" type="xstring" value="Razor + unique peptides ID02"/>
<entry key="70" type="xstring" value="Razor + unique peptides ID03"/>
<entry key="71" type="xstring" value="Razor + unique peptides ID04"/>
<entry key="72" type="xstring" value="Razor + unique peptides ID05"/>
<entry key="73" type="xstring" value="Razor + unique peptides ID06"/>
<entry key="74" type="xstring" value="Razor + unique peptides ID07"/>
<entry key="75" type="xstring" value="Razor + unique peptides ID08"/>
<entry key="76" type="xstring" value="Razor + unique peptides ID09"/>
<entry key="77" type="xstring" value="Razor + unique peptides ID10"/>
<entry key="78" type="xstring" value="Razor + unique peptides ID11"/>
<entry key="79" type="xstring" value="Razor + unique peptides ID12"/>
<entry key="80" type="xstring" value="Razor + unique peptides ID13"/>
<entry key="81" type="xstring" value="Razor + unique peptides ID14"/>
<entry key="82" type="xstring" value="Razor + unique peptides ID15"/>
<entry key="83" type="xstring" value="Razor + unique peptides ID16"/>
<entry key="84" type="xstring" value="Razor + unique peptides ID17"/>
<entry key="85" type="xstring" value="Razor + unique peptides ID18"/>
<entry key="86" type="xstring" value="Razor + unique peptides ID19"/>
<entry key="87" type="xstring" value="Razor + unique peptides ID20"/>
<entry key="88" type="xstring" value="Razor + unique peptides ID21"/>
<entry key="89" type="xstring" value="Razor + unique peptides ID22"/>
<entry key="90" type="xstring" value="Razor + unique peptides ID23"/>
<entry key="91" type="xstring" value="Razor + unique peptides ID24"/>
<entry key="92" type="xstring" value="Razor + unique peptides P01"/>
<entry key="93" type="xstring" value="Razor + unique peptides P02"/>
<entry key="94" type="xstring" value="Razor + unique peptides P03"/>
<entry key="95" type="xstring" value="Razor + unique peptides P04"/>
<entry key="96" type="xstring" value="Razor + unique peptides P05"/>
<entry key="97" type="xstring" value="Razor + unique peptides P06"/>
<entry key="98" type="xstring" value="Razor + unique peptides P07"/>
<entry key="99" type="xstring" value="Razor + unique peptides P08"/>
<entry key="100" type="xstring" value="Razor + unique peptides P09"/>
<entry key="101" type="xstring" value="Razor + unique peptides P10"/>
<entry key="102" type="xstring" value="Razor + unique peptides P11"/>
<entry key="103" type="xstring" value="Razor + unique peptides P12"/>
<entry key="104" type="xstring" value="Razor + unique peptides P13"/>
<entry key="105" type="xstring" value="Razor + unique peptides P14"/>
<entry key="106" type="xstring" value="Razor + unique peptides P15"/>
<entry key="107" type="xstring" value="Razor + unique peptides P16"/>
<entry key="108" type="xstring" value="Unique peptides 3P17"/>
<entry key="109" type="xstring" value="Unique peptides 3P18"/>
<entry key="110" type="xstring" value="Unique peptides 3P19"/>
<entry key="111" type="xstring" value="Unique peptides 3P20"/>
<entry key="112" type="xstring" value="Unique peptides 3P21"/>
<entry key="113" type="xstring" value="Unique peptides 3P22"/>
<entry key="114" type="xstring" value="Unique peptides 3P23"/>
<entry key="115" type="xstring" value="Unique peptides 3P24"/>
<entry key="116" type="xstring" value="Unique peptides ID01"/>
<entry key="117" type="xstring" value="Unique peptides ID02"/>
<entry key="118" type="xstring" value="Unique peptides ID03"/>
<entry key="119" type="xstring" value="Unique peptides ID04"/>
<entry key="120" type="xstring" value="Unique peptides ID05"/>
<entry key="121" type="xstring" value="Unique peptides ID06"/>
<entry key="122" type="xstring" value="Unique peptides ID07"/>
<entry key="123" type="xstring" value="Unique peptides ID08"/>
<entry key="124" type="xstring" value="Unique peptides ID09"/>
<entry key="125" type="xstring" value="Unique peptides ID10"/>
<entry key="126" type="xstring" value="Unique peptides ID11"/>
<entry key="127" type="xstring" value="Unique peptides ID12"/>
<entry key="128" type="xstring" value="Unique peptides ID13"/>
<entry key="129" type="xstring" value="Unique peptides ID14"/>
<entry key="130" type="xstring" value="Unique peptides ID15"/>
<entry key="131" type="xstring" value="Unique peptides ID16"/>
<entry key="132" type="xstring" value="Unique peptides ID17"/>
<entry key="133" type="xstring" value="Unique peptides ID18"/>
<entry key="134" type="xstring" value="Unique peptides ID19"/>
<entry key="135" type="xstring" value="Unique peptides ID20"/>
<entry key="136" type="xstring" value="Unique peptides ID21"/>
<entry key="137" type="xstring" value="Unique peptides ID22"/>
<entry key="138" type="xstring" value="Unique peptides ID23"/>
<entry key="139" type="xstring" value="Unique peptides ID24"/>
<entry key="140" type="xstring" value="Unique peptides P01"/>
<entry key="141" type="xstring" value="Unique peptides P02"/>
<entry key="142" type="xstring" value="Unique peptides P03"/>
<entry key="143" type="xstring" value="Unique peptides P04"/>
<entry key="144" type="xstring" value="Unique peptides P05"/>
<entry key="145" type="xstring" value="Unique peptides P06"/>
<entry key="146" type="xstring" value="Unique peptides P07"/>
<entry key="147" type="xstring" value="Unique peptides P08"/>
<entry key="148" type="xstring" value="Unique peptides P09"/>
<entry key="149" type="xstring" value="Unique peptides P10"/>
<entry key="150" type="xstring" value="Unique peptides P11"/>
<entry key="151" type="xstring" value="Unique peptides P12"/>
<entry key="152" type="xstring" value="Unique peptides P13"/>
<entry key="153" type="xstring" value="Unique peptides P14"/>
<entry key="154" type="xstring" value="Unique peptides P15"/>
<entry key="155" type="xstring" value="Unique peptides P16"/>
<entry key="156" type="xstring" value="Sequence coverage [%]"/>
<entry key="157" type="xstring" value="Unique + razor sequence coverage [%]"/>
<entry key="158" type="xstring" value="Unique sequence coverage [%]"/>
<entry key="159" type="xstring" value="Mol. weight [kDa]"/>
<entry key="160" type="xstring" value="Sequence length"/>
<entry key="161" type="xstring" value="Sequence lengths"/>
<entry key="162" type="xstring" value="Fraction average"/>
<entry key="163" type="xstring" value="Fraction 1"/>
<entry key="164" type="xstring" value="Fraction 5"/>
<entry key="165" type="xstring" value="Q-value"/>
<entry key="166" type="xstring" value="Score"/>
<entry key="167" type="xstring" value="Identification type 3P17"/>
<entry key="168" type="xstring" value="Identification type 3P18"/>
<entry key="169" type="xstring" value="Identification type 3P19"/>
<entry key="170" type="xstring" value="Identification type 3P20"/>
<entry key="171" type="xstring" value="Identification type 3P21"/>
<entry key="172" type="xstring" value="Identification type 3P22"/>
<entry key="173" type="xstring" value="Identification type 3P23"/>
<entry key="174" type="xstring" value="Identification type 3P24"/>
<entry key="175" type="xstring" value="Identification type ID01"/>
<entry key="176" type="xstring" value="Identification type ID02"/>
<entry key="177" type="xstring" value="Identification type ID03"/>
<entry key="178" type="xstring" value="Identification type ID04"/>
<entry key="179" type="xstring" value="Identification type ID05"/>
<entry key="180" type="xstring" value="Identification type ID06"/>
<entry key="181" type="xstring" value="Identification type ID07"/>
<entry key="182" type="xstring" value="Identification type ID08"/>
<entry key="183" type="xstring" value="Identification type ID09"/>
<entry key="184" type="xstring" value="Identification type ID10"/>
<entry key="185" type="xstring" value="Identification type ID11"/>
<entry key="186" type="xstring" value="Identification type ID12"/>
<entry key="187" type="xstring" value="Identification type ID13"/>
<entry key="188" type="xstring" value="Identification type ID14"/>
<entry key="189" type="xstring" value="Identification type ID15"/>
<entry key="190" type="xstring" value="Identification type ID16"/>
<entry key="191" type="xstring" value="Identification type ID17"/>
<entry key="192" type="xstring" value="Identification type ID18"/>
<entry key="193" type="xstring" value="Identification type ID19"/>
<entry key="194" type="xstring" value="Identification type ID20"/>
<entry key="195" type="xstring" value="Identification type ID21"/>
<entry key="196" type="xstring" value="Identification type ID22"/>
<entry key="197" type="xstring" value="Identification type ID23"/>
<entry key="198" type="xstring" value="Identification type ID24"/>
<entry key="199" type="xstring" value="Identification type P01"/>
<entry key="200" type="xstring" value="Identification type P02"/>
<entry key="201" type="xstring" value="Identification type P03"/>
<entry key="202" type="xstring" value="Identification type P04"/>
<entry key="203" type="xstring" value="Identification type P05"/>
<entry key="204" type="xstring" value="Identification type P06"/>
<entry key="205" type="xstring" value="Identification type P07"/>
<entry key="206" type="xstring" value="Identification type P08"/>
<entry key="207" type="xstring" value="Identification type P09"/>
<entry key="208" type="xstring" value="Identification type P10"/>
<entry key="209" type="xstring" value="Identification type P11"/>
<entry key="210" type="xstring" value="Identification type P12"/>
<entry key="211" type="xstring" value="Identification type P13"/>
<entry key="212" type="xstring" value="Identification type P14"/>
<entry key="213" type="xstring" value="Identification type P15"/>
<entry key="214" type="xstring" value="Identification type P16"/>
<entry key="215" type="xstring" value="Sequence coverage 3P17 [%]"/>
<entry key="216" type="xstring" value="Sequence coverage 3P18 [%]"/>
<entry key="217" type="xstring" value="Sequence coverage 3P19 [%]"/>
<entry key="218" type="xstring" value="Sequence coverage 3P20 [%]"/>
<entry key="219" type="xstring" value="Sequence coverage 3P21 [%]"/>
<entry key="220" type="xstring" value="Sequence coverage 3P22 [%]"/>
<entry key="221" type="xstring" value="Sequence coverage 3P23 [%]"/>
<entry key="222" type="xstring" value="Sequence coverage 3P24 [%]"/>
<entry key="223" type="xstring" value="Sequence coverage ID01 [%]"/>
<entry key="224" type="xstring" value="Sequence coverage ID02 [%]"/>
<entry key="225" type="xstring" value="Sequence coverage ID03 [%]"/>
<entry key="226" type="xstring" value="Sequence coverage ID04 [%]"/>
<entry key="227" type="xstring" value="Sequence coverage ID05 [%]"/>
<entry key="228" type="xstring" value="Sequence coverage ID06 [%]"/>
<entry key="229" type="xstring" value="Sequence coverage ID07 [%]"/>
<entry key="230" type="xstring" value="Sequence coverage ID08 [%]"/>
<entry key="231" type="xstring" value="Sequence coverage ID09 [%]"/>
<entry key="232" type="xstring" value="Sequence coverage ID10 [%]"/>
<entry key="233" type="xstring" value="Sequence coverage ID11 [%]"/>
<entry key="234" type="xstring" value="Sequence coverage ID12 [%]"/>
<entry key="235" type="xstring" value="Sequence coverage ID13 [%]"/>
<entry key="236" type="xstring" value="Sequence coverage ID14 [%]"/>
<entry key="237" type="xstring" value="Sequence coverage ID15 [%]"/>
<entry key="238" type="xstring" value="Sequence coverage ID16 [%]"/>
<entry key="239" type="xstring" value="Sequence coverage ID17 [%]"/>
<entry key="240" type="xstring" value="Sequence coverage ID18 [%]"/>
<entry key="241" type="xstring" value="Sequence coverage ID19 [%]"/>
<entry key="242" type="xstring" value="Sequence coverage ID20 [%]"/>
<entry key="243" type="xstring" value="Sequence coverage ID21 [%]"/>
<entry key="244" type="xstring" value="Sequence coverage ID22 [%]"/>
<entry key="245" type="xstring" value="Sequence coverage ID23 [%]"/>
<entry key="246" type="xstring" value="Sequence coverage ID24 [%]"/>
<entry key="247" type="xstring" value="Sequence coverage P01 [%]"/>
<entry key="248" type="xstring" value="Sequence coverage P02 [%]"/>
<entry key="249" type="xstring" value="Sequence coverage P03 [%]"/>
<entry key="250" type="xstring" value="Sequence coverage P04 [%]"/>
<entry key="251" type="xstring" value="Sequence coverage P05 [%]"/>
<entry key="252" type="xstring" value="Sequence coverage P06 [%]"/>
<entry key="253" type="xstring" value="Sequence coverage P07 [%]"/>
<entry key="254" type="xstring" value="Sequence coverage P08 [%]"/>
<entry key="255" type="xstring" value="Sequence coverage P09 [%]"/>
<entry key="256" type="xstring" value="Sequence coverage P10 [%]"/>
<entry key="257" type="xstring" value="Sequence coverage P11 [%]"/>
<entry key="258" type="xstring" value="Sequence coverage P12 [%]"/>
<entry key="259" type="xstring" value="Sequence coverage P13 [%]"/>
<entry key="260" type="xstring" value="Sequence coverage P14 [%]"/>
<entry key="261" type="xstring" value="Sequence coverage P15 [%]"/>
<entry key="262" type="xstring" value="Sequence coverage P16 [%]"/>
<entry key="263" type="xstring" value="Intensity"/>
<entry key="264" type="xstring" value="Intensity 3P17"/>
<entry key="265" type="xstring" value="Intensity 3P18"/>
<entry key="266" type="xstring" value="Intensity 3P19"/>
<entry key="267" type="xstring" value="Intensity 3P20"/>
<entry key="268" type="xstring" value="Intensity 3P21"/>
<entry key="269" type="xstring" value="Intensity 3P22"/>
<entry key="270" type="xstring" value="Intensity 3P23"/>
<entry key="271" type="xstring" value="Intensity 3P24"/>
<entry key="272" type="xstring" value="Intensity ID01"/>
<entry key="273" type="xstring" value="Intensity ID02"/>
<entry key="274" type="xstring" value="Intensity ID03"/>
<entry key="275" type="xstring" value="Intensity ID04"/>
<entry key="276" type="xstring" value="Intensity ID05"/>
<entry key="277" type="xstring" value="Intensity ID06"/>
<entry key="278" type="xstring" value="Intensity ID07"/>
<entry key="279" type="xstring" value="Intensity ID08"/>
<entry key="280" type="xstring" value="Intensity ID09"/>
<entry key="281" type="xstring" value="Intensity ID10"/>
<entry key="282" type="xstring" value="Intensity ID11"/>
<entry key="283" type="xstring" value="Intensity ID12"/>
<entry key="284" type="xstring" value="Intensity ID13"/>
<entry key="285" type="xstring" value="Intensity ID14"/>
<entry key="286" type="xstring" value="Intensity ID15"/>
<entry key="287" type="xstring" value="Intensity ID16"/>
<entry key="288" type="xstring" value="Intensity ID17"/>
<entry key="289" type="xstring" value="Intensity ID18"/>
<entry key="290" type="xstring" value="Intensity ID19"/>
<entry key="291" type="xstring" value="Intensity ID20"/>
<entry key="292" type="xstring" value="Intensity ID21"/>
<entry key="293" type="xstring" value="Intensity ID22"/>
<entry key="294" type="xstring" value="Intensity ID23"/>
<entry key="295" type="xstring" value="Intensity ID24"/>
<entry key="296" type="xstring" value="Intensity P01"/>
<entry key="297" type="xstring" value="Intensity P02"/>
<entry key="298" type="xstring" value="Intensity P03"/>
<entry key="299" type="xstring" value="Intensity P04"/>
<entry key="300" type="xstring" value="Intensity P05"/>
<entry key="301" type="xstring" value="Intensity P06"/>
<entry key="302" type="xstring" value="Intensity P07"/>
<entry key="303" type="xstring" value="Intensity P08"/>
<entry key="304" type="xstring" value="Intensity P09"/>
<entry key="305" type="xstring" value="Intensity P10"/>
<entry key="306" type="xstring" value="Intensity P11"/>
<entry key="307" type="xstring" value="Intensity P12"/>
<entry key="308" type="xstring" value="Intensity P13"/>
<entry key="309" type="xstring" value="Intensity P14"/>
<entry key="310" type="xstring" value="Intensity P15"/>
<entry key="311" type="xstring" value="Intensity P16"/>
<entry key="312" type="xstring" value="iBAQ"/>
<entry key="313" type="xstring" value="iBAQ 3P17"/>
<entry key="314" type="xstring" value="iBAQ 3P18"/>
<entry key="315" type="xstring" value="iBAQ 3P19"/>
<entry key="316" type="xstring" value="iBAQ 3P20"/>
<entry key="317" type="xstring" value="iBAQ 3P21"/>
<entry key="318" type="xstring" value="iBAQ 3P22"/>
<entry key="319" type="xstring" value="iBAQ 3P23"/>
<entry key="320" type="xstring" value="iBAQ 3P24"/>
<entry key="321" type="xstring" value="iBAQ ID01"/>
<entry key="322" type="xstring" value="iBAQ ID02"/>
<entry key="323" type="xstring" value="iBAQ ID03"/>
<entry key="324" type="xstring" value="iBAQ ID04"/>
<entry key="325" type="xstring" value="iBAQ ID05"/>
<entry key="326" type="xstring" value="iBAQ ID06"/>
<entry key="327" type="xstring" value="iBAQ ID07"/>
<entry key="328" type="xstring" value="iBAQ ID08"/>
<entry key="329" type="xstring" value="iBAQ ID09"/>
<entry key="330" type="xstring" value="iBAQ ID10"/>
<entry key="331" type="xstring" value="iBAQ ID11"/>
<entry key="332" type="xstring" value="iBAQ ID12"/>
<entry key="333" type="xstring" value="iBAQ ID13"/>
<entry key="334" type="xstring" value="iBAQ ID14"/>
<entry key="335" type="xstring" value="iBAQ ID15"/>
<entry key="336" type="xstring" value="iBAQ ID16"/>
<entry key="337" type="xstring" value="iBAQ ID17"/>
<entry key="338" type="xstring" value="iBAQ ID18"/>
<entry key="339" type="xstring" value="iBAQ ID19"/>
<entry key="340" type="xstring" value="iBAQ ID20"/>
<entry key="341" type="xstring" value="iBAQ ID21"/>
<entry key="342" type="xstring" value="iBAQ ID22"/>
<entry key="343" type="xstring" value="iBAQ ID23"/>
<entry key="344" type="xstring" value="iBAQ ID24"/>
<entry key="345" type="xstring" value="iBAQ P01"/>
<entry key="346" type="xstring" value="iBAQ P02"/>
<entry key="347" type="xstring" value="iBAQ P03"/>
<entry key="348" type="xstring" value="iBAQ P04"/>
<entry key="349" type="xstring" value="iBAQ P05"/>
<entry key="350" type="xstring" value="iBAQ P06"/>
<entry key="351" type="xstring" value="iBAQ P07"/>
<entry key="352" type="xstring" value="iBAQ P08"/>
<entry key="353" type="xstring" value="iBAQ P09"/>
<entry key="354" type="xstring" value="iBAQ P10"/>
<entry key="355" type="xstring" value="iBAQ P11"/>
<entry key="356" type="xstring" value="iBAQ P12"/>
<entry key="357" type="xstring" value="iBAQ P13"/>
<entry key="358" type="xstring" value="iBAQ P14"/>
<entry key="359" type="xstring" value="iBAQ P15"/>
<entry key="360" type="xstring" value="iBAQ P16"/>
<entry key="361" type="xstring" value="LFQ intensity ID01"/>
<entry key="362" type="xstring" value="LFQ intensity ID02"/>
<entry key="363" type="xstring" value="LFQ intensity ID03"/>
<entry key="364" type="xstring" value="LFQ intensity ID04"/>
<entry key="365" type="xstring" value="LFQ intensity ID05"/>
<entry key="366" type="xstring" value="LFQ intensity ID06"/>
<entry key="367" type="xstring" value="LFQ intensity ID07"/>
<entry key="368" type="xstring" value="LFQ intensity ID08"/>
<entry key="369" type="xstring" value="LFQ intensity ID09"/>
<entry key="370" type="xstring" value="LFQ intensity ID10"/>
<entry key="371" type="xstring" value="LFQ intensity ID11"/>
<entry key="372" type="xstring" value="LFQ intensity ID12"/>
<entry key="373" type="xstring" value="LFQ intensity ID13"/>
<entry key="374" type="xstring" value="LFQ intensity ID14"/>
<entry key="375" type="xstring" value="LFQ intensity ID15"/>
<entry key="376" type="xstring" value="LFQ intensity ID16"/>
<entry key="377" type="xstring" value="LFQ intensity ID17"/>
<entry key="378" type="xstring" value="LFQ intensity ID18"/>
<entry key="379" type="xstring" value="LFQ intensity ID19"/>
<entry key="380" type="xstring" value="LFQ intensity ID20"/>
<entry key="381" type="xstring" value="LFQ intensity ID21"/>
<entry key="382" type="xstring" value="LFQ intensity ID22"/>
<entry key="383" type="xstring" value="LFQ intensity ID23"/>
<entry key="384" type="xstring" value="LFQ intensity ID24"/>
<entry key="385" type="xstring" value="MS/MS count ID01"/>
<entry key="386" type="xstring" value="MS/MS count ID02"/>
<entry key="387" type="xstring" value="MS/MS count ID03"/>
<entry key="388" type="xstring" value="MS/MS count ID04"/>
<entry key="389" type="xstring" value="MS/MS count ID05"/>
<entry key="390" type="xstring" value="MS/MS count ID06"/>
<entry key="391" type="xstring" value="MS/MS count ID07"/>
<entry key="392" type="xstring" value="MS/MS count ID08"/>
<entry key="393" type="xstring" value="MS/MS count ID09"/>
<entry key="394" type="xstring" value="MS/MS count ID10"/>
<entry key="395" type="xstring" value="MS/MS count ID11"/>
<entry key="396" type="xstring" value="MS/MS count ID12"/>
<entry key="397" type="xstring" value="MS/MS count ID13"/>
<entry key="398" type="xstring" value="MS/MS count ID14"/>
<entry key="399" type="xstring" value="MS/MS count ID15"/>
<entry key="400" type="xstring" value="MS/MS count ID16"/>
<entry key="401" type="xstring" value="MS/MS count ID17"/>
<entry key="402" type="xstring" value="MS/MS count ID18"/>
<entry key="403" type="xstring" value="MS/MS count ID19"/>
<entry key="404" type="xstring" value="MS/MS count ID20"/>
<entry key="405" type="xstring" value="MS/MS count ID21"/>
<entry key="406" type="xstring" value="MS/MS count ID22"/>
<entry key="407" type="xstring" value="MS/MS count ID23"/>
<entry key="408" type="xstring" value="MS/MS count ID24"/>
<entry key="409" type="xstring" value="MS/MS count"/>
<entry key="410" type="xstring" value="Only identified by site"/>
<entry key="411" type="xstring" value="Reverse"/>
<entry key="412" type="xstring" value="Potential contaminant"/>
<entry key="413" type="xstring" value="id"/>
<entry key="414" type="xstring" value="Peptide IDs"/>
<entry key="415" type="xstring" value="Peptide is razor"/>
<entry key="416" type="xstring" value="Mod. peptide IDs"/>
<entry key="417" type="xstring" value="Evidence IDs"/>
<entry key="418" type="xstring" value="MS/MS IDs"/>
<entry key="419" type="xstring" value="Best MS/MS"/>
<entry key="420" type="xstring" value="Deamidation (NQ) site IDs"/>
<entry key="421" type="xstring" value="Oxidation (M) site IDs"/>
<entry key="422" type="xstring" value="Phospho (ST) site IDs"/>
<entry key="423" type="xstring" value="Deamidation (NQ) site positions"/>
<entry key="424" type="xstring" value="Oxidation (M) site positions"/>
<entry key="425" type="xstring" value="Phospho (ST) site positions"/>
<entry key="426" type="xstring" value="Intensity ID01_log2"/>
<entry key="427" type="xstring" value="Intensity ID02_log2"/>
<entry key="428" type="xstring" value="Intensity ID03_log2"/>
<entry key="429" type="xstring" value="Intensity ID04_log2"/>
<entry key="430" type="xstring" value="Intensity ID05_log2"/>
<entry key="431" type="xstring" value="Intensity ID06_log2"/>
<entry key="432" type="xstring" value="Intensity ID07_log2"/>
<entry key="433" type="xstring" value="Intensity ID08_log2"/>
<entry key="434" type="xstring" value="Intensity ID09_log2"/>
<entry key="435" type="xstring" value="Intensity ID10_log2"/>
<entry key="436" type="xstring" value="Intensity ID11_log2"/>
<entry key="437" type="xstring" value="Intensity ID12_log2"/>
<entry key="438" type="xstring" value="Intensity ID13_log2"/>
<entry key="439" type="xstring" value="Intensity ID14_log2"/>
<entry key="440" type="xstring" value="Intensity ID15_log2"/>
<entry key="441" type="xstring" value="Intensity ID16_log2"/>
<entry key="442" type="xstring" value="Intensity ID17_log2"/>
<entry key="443" type="xstring" value="Intensity ID18_log2"/>
<entry key="444" type="xstring" value="Intensity ID19_log2"/>
<entry key="445" type="xstring" value="Intensity ID20_log2"/>
<entry key="446" type="xstring" value="Intensity ID21_log2"/>
<entry key="447" type="xstring" value="Intensity ID22_log2"/>
<entry key="448" type="xstring" value="Intensity ID23_log2"/>
<entry key="449" type="xstring" value="Intensity ID24_log2"/>
<entry key="450" type="xstring" value="LFQ intensity ID01_log2_norm"/>
<entry key="451" type="xstring" value="LFQ intensity ID02_log2_norm"/>
<entry key="452" type="xstring" value="LFQ intensity ID03_log2_norm"/>
<entry key="453" type="xstring" value="LFQ intensity ID04_log2_norm"/>
<entry key="454" type="xstring" value="LFQ intensity ID05_log2_norm"/>
<entry key="455" type="xstring" value="LFQ intensity ID06_log2_norm"/>
<entry key="456" type="xstring" value="LFQ intensity ID07_log2_norm"/>
<entry key="457" type="xstring" value="LFQ intensity ID08_log2_norm"/>
<entry key="458" type="xstring" value="LFQ intensity ID09_log2_norm"/>
<entry key="459" type="xstring" value="LFQ intensity ID10_log2_norm"/>
<entry key="460" type="xstring" value="LFQ intensity ID11_log2_norm"/>
<entry key="461" type="xstring" value="LFQ intensity ID12_log2_norm"/>
<entry key="462" type="xstring" value="LFQ intensity ID13_log2_norm"/>
<entry key="463" type="xstring" value="LFQ intensity ID14_log2_norm"/>
<entry key="464" type="xstring" value="LFQ intensity ID15_log2_norm"/>
<entry key="465" type="xstring" value="LFQ intensity ID16_log2_norm"/>
<entry key="466" type="xstring" value="LFQ intensity ID17_log2_norm"/>
<entry key="467" type="xstring" value="LFQ intensity ID18_log2_norm"/>
<entry key="468" type="xstring" value="LFQ intensity ID19_log2_norm"/>
<entry key="469" type="xstring" value="LFQ intensity ID20_log2_norm"/>
<entry key="470" type="xstring" value="LFQ intensity ID21_log2_norm"/>
<entry key="471" type="xstring" value="LFQ intensity ID22_log2_norm"/>
<entry key="472" type="xstring" value="LFQ intensity ID23_log2_norm"/>
<entry key="473" type="xstring" value="LFQ intensity ID24_log2_norm"/>
<entry key="474" type="xstring" value="Intensity ID01_log2_norm"/>
<entry key="475" type="xstring" value="Intensity ID02_log2_norm"/>
<entry key="476" type="xstring" value="Intensity ID03_log2_norm"/>
<entry key="477" type="xstring" value="Intensity ID04_log2_norm"/>
<entry key="478" type="xstring" value="Intensity ID07_log2_norm"/>
<entry key="479" type="xstring" value="Intensity ID08_log2_norm"/>
<entry key="480" type="xstring" value="Intensity ID09_log2_norm"/>
<entry key="481" type="xstring" value="Intensity ID10_log2_norm"/>
<entry key="482" type="xstring" value="Intensity ID11_log2_norm"/>
<entry key="483" type="xstring" value="Intensity ID12_log2_norm"/>
<entry key="484" type="xstring" value="Intensity ID15_log2_norm"/>
<entry key="485" type="xstring" value="Intensity ID16_log2_norm"/>
<entry key="486" type="xstring" value="Intensity ID17_log2_norm"/>
<entry key="487" type="xstring" value="Intensity ID18_log2_norm"/>
<entry key="488" type="xstring" value="Intensity ID19_log2_norm"/>
<entry key="489" type="xstring" value="Intensity ID20_log2_norm"/>
<entry key="490" type="xstring" value="Intensity ID23_log2_norm"/>
<entry key="491" type="xstring" value="Intensity ID24_log2_norm"/>
<entry key="492" type="xstring" value="Intensity ID01_log2_norm_delog"/>
<entry key="493" type="xstring" value="Intensity ID02_log2_norm_delog"/>
<entry key="494" type="xstring" value="Intensity ID03_log2_norm_delog"/>
<entry key="495" type="xstring" value="Intensity ID04_log2_norm_delog"/>
<entry key="496" type="xstring" value="Intensity ID05_log2_norm_delog"/>
<entry key="497" type="xstring" value="Intensity ID06_log2_norm_delog"/>
<entry key="498" type="xstring" value="Intensity ID07_log2_norm_delog"/>
<entry key="499" type="xstring" value="Intensity ID08_log2_norm_delog"/>
<entry key="500" type="xstring" value="Intensity ID09_log2_norm_delog"/>
<entry key="501" type="xstring" value="Intensity ID10_log2_norm_delog"/>
<entry key="502" type="xstring" value="Intensity ID11_log2_norm_delog"/>
<entry key="503" type="xstring" value="Intensity ID12_log2_norm_delog"/>
<entry key="504" type="xstring" value="Intensity ID13_log2_norm_delog"/>
<entry key="505" type="xstring" value="Intensity ID14_log2_norm_delog"/>
<entry key="506" type="xstring" value="Intensity ID15_log2_norm_delog"/>
<entry key="507" type="xstring" value="Intensity ID16_log2_norm_delog"/>
<entry key="508" type="xstring" value="Intensity ID17_log2_norm_delog"/>
<entry key="509" type="xstring" value="Intensity ID18_log2_norm_delog"/>
<entry key="510" type="xstring" value="Intensity ID19_log2_norm_delog"/>
<entry key="511" type="xstring" value="Intensity ID20_log2_norm_delog"/>
<entry key="512" type="xstring" value="Intensity ID21_log2_norm_delog"/>
<entry key="513" type="xstring" value="Intensity ID22_log2_norm_delog"/>
<entry key="514" type="xstring" value="Intensity ID23_log2_norm_delog"/>
<entry key="515" type="xstring" value="Intensity ID24_log2_norm_delog"/>
<entry key="516" type="xstring" value="LIMMA_MJ_DRG-MJ_CTR.logFC"/>
<entry key="517" type="xstring" value="LIMMA_MJ_DRG-MJ_CTR.AveExpr"/>
<entry key="518" type="xstring" value="LIMMA_MJ_DRG-MJ_CTR.t"/>
<entry key="519" type="xstring" value="LIMMA_MJ_DRG-MJ_CTR.P.Value"/>
<entry key="520" type="xstring" value="LIMMA_MJ_DRG-MJ_CTR.adj.P.Val"/>
<entry key="521" type="xstring" value="LIMMA_MJ_DRG-MJ_CTR.B"/>
<entry key="522" type="xstring" value="LIMMA_MJ_DRG-MJ_DRG_MEKi.logFC"/>
<entry key="523" type="xstring" value="LIMMA_MJ_DRG-MJ_DRG_MEKi.AveExpr"/>
<entry key="524" type="xstring" value="LIMMA_MJ_DRG-MJ_DRG_MEKi.t"/>
<entry key="525" type="xstring" value="LIMMA_MJ_DRG-MJ_DRG_MEKi.P.Value"/>
<entry key="526" type="xstring" value="LIMMA_MJ_DRG-MJ_DRG_MEKi.adj.P.Val"/>
<entry key="527" type="xstring" value="LIMMA_MJ_DRG-MJ_DRG_MEKi.B"/>
<entry key="528" type="xstring" value="LIMMA_MJ_CTR-MJ_MEKi.logFC"/>
<entry key="529" type="xstring" value="LIMMA_MJ_CTR-MJ_MEKi.AveExpr"/>
<entry key="530" type="xstring" value="LIMMA_MJ_CTR-MJ_MEKi.t"/>
<entry key="531" type="xstring" value="LIMMA_MJ_CTR-MJ_MEKi.P.Value"/>
<entry key="532" type="xstring" value="LIMMA_MJ_CTR-MJ_MEKi.adj.P.Val"/>
<entry key="533" type="xstring" value="LIMMA_MJ_CTR-MJ_MEKi.B"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
</config>
<config key="single-line-308">
<entry key="string" type="xstring" value="A375_CTR,A375_DRG,A375_CTR,A375_DRG,A375_CTR,A375_DRG"/>
</config>
<config key="single-line-309">
<entry key="string" type="xstring" value="A375_DRG-A375_CTR"/>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="x / y"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="377"/>
<entry key="y-coordinate" type="xint" value="659"/>
<entry key="width" type="xint" value="126"/>
<entry key="height" type="xint" value="19"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="10"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="virtual-in-ID" type="xint" value="173"/>
<config key="inports">
<config key="inport_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<entry key="virtual-out-ID" type="xint" value="307"/>
<config key="outports">
<config key="outport_0">
<entry key="index" type="xint" value="0"/>
<config key="type">
<entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
</config>
</config>
</config>
<config key="workflow_template_information">
<entry key="role" type="xstring" value="Link"/>
<entry key="timestamp" type="xstring" value="2018-10-30 22:38:34"/>
<entry key="sourceURI" type="xstring" value="knime://LOCAL/_Metanodes%20templates/Statistics/LIMMA%20test"/>
</config>
<config key="layoutInfos"/>
<entry key="layoutJSON" type="xstring" value=""/>
</config>
