<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="expression" type="xstring" value="2^$$CURRENT_COLUMN$$"/>
        <entry key="replaced_column" type="xstring" value="_delog"/>
        <entry key="append_column" type="xboolean" value="false"/>
        <entry key="convert_to_int" type="xboolean" value="false"/>
        <config key="column_selection">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="9"/>
                <entry key="0" type="xstring" value="PG.MaxLFQ+ANTI1_log2_imp"/>
                <entry key="1" type="xstring" value="PG.MaxLFQ+ANTI2_log2_imp"/>
                <entry key="2" type="xstring" value="PG.MaxLFQ+ANTI3_log2_imp"/>
                <entry key="3" type="xstring" value="PG.MaxLFQ+CTRL1_log2_imp"/>
                <entry key="4" type="xstring" value="PG.MaxLFQ+CTRL2_log2_imp"/>
                <entry key="5" type="xstring" value="PG.MaxLFQ+CTRL3_log2_imp"/>
                <entry key="6" type="xstring" value="PG.MaxLFQ+PRO1_log2_imp"/>
                <entry key="7" type="xstring" value="PG.MaxLFQ+PRO2_log2_imp"/>
                <entry key="8" type="xstring" value="PG.MaxLFQ+PRO3_log2_imp"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="127"/>
                <entry key="0" type="xstring" value="Lib.PG.Q.Value"/>
                <entry key="1" type="xstring" value="PG.ID"/>
                <entry key="2" type="xstring" value="PG.MaxLFQ+ANTI1"/>
                <entry key="3" type="xstring" value="PG.MaxLFQ+ANTI2"/>
                <entry key="4" type="xstring" value="PG.MaxLFQ+ANTI3"/>
                <entry key="5" type="xstring" value="PG.MaxLFQ+CTRL1"/>
                <entry key="6" type="xstring" value="PG.MaxLFQ+CTRL2"/>
                <entry key="7" type="xstring" value="PG.MaxLFQ+CTRL3"/>
                <entry key="8" type="xstring" value="PG.MaxLFQ+PRO1"/>
                <entry key="9" type="xstring" value="PG.MaxLFQ+PRO2"/>
                <entry key="10" type="xstring" value="PG.MaxLFQ+PRO3"/>
                <entry key="11" type="xstring" value="PG.Normalised+ANTI1"/>
                <entry key="12" type="xstring" value="PG.Normalised+ANTI2"/>
                <entry key="13" type="xstring" value="PG.Normalised+ANTI3"/>
                <entry key="14" type="xstring" value="PG.Normalised+CTRL1"/>
                <entry key="15" type="xstring" value="PG.Normalised+CTRL2"/>
                <entry key="16" type="xstring" value="PG.Normalised+CTRL3"/>
                <entry key="17" type="xstring" value="PG.Normalised+PRO1"/>
                <entry key="18" type="xstring" value="PG.Normalised+PRO2"/>
                <entry key="19" type="xstring" value="PG.Normalised+PRO3"/>
                <entry key="20" type="xstring" value="PG.Quantity+ANTI1"/>
                <entry key="21" type="xstring" value="PG.Quantity+ANTI2"/>
                <entry key="22" type="xstring" value="PG.Quantity+ANTI3"/>
                <entry key="23" type="xstring" value="PG.Quantity+CTRL1"/>
                <entry key="24" type="xstring" value="PG.Quantity+CTRL2"/>
                <entry key="25" type="xstring" value="PG.Quantity+CTRL3"/>
                <entry key="26" type="xstring" value="PG.Quantity+PRO1"/>
                <entry key="27" type="xstring" value="PG.Quantity+PRO2"/>
                <entry key="28" type="xstring" value="PG.Quantity+PRO3"/>
                <entry key="29" type="xstring" value="PG.Quantity_sum"/>
                <entry key="30" type="xstring" value="Precursor.Id+ANTI1"/>
                <entry key="31" type="xstring" value="Precursor.Id+ANTI2"/>
                <entry key="32" type="xstring" value="Precursor.Id+ANTI3"/>
                <entry key="33" type="xstring" value="Precursor.Id+CTRL1"/>
                <entry key="34" type="xstring" value="Precursor.Id+CTRL2"/>
                <entry key="35" type="xstring" value="Precursor.Id+CTRL3"/>
                <entry key="36" type="xstring" value="Precursor.Id+PRO1"/>
                <entry key="37" type="xstring" value="Precursor.Id+PRO2"/>
                <entry key="38" type="xstring" value="Precursor.Id+PRO3"/>
                <entry key="39" type="xstring" value="Proteotypic+ANTI1"/>
                <entry key="40" type="xstring" value="Proteotypic+ANTI2"/>
                <entry key="41" type="xstring" value="Proteotypic+ANTI3"/>
                <entry key="42" type="xstring" value="Proteotypic+CTRL1"/>
                <entry key="43" type="xstring" value="Proteotypic+CTRL2"/>
                <entry key="44" type="xstring" value="Proteotypic+CTRL3"/>
                <entry key="45" type="xstring" value="Proteotypic+PRO1"/>
                <entry key="46" type="xstring" value="Proteotypic+PRO2"/>
                <entry key="47" type="xstring" value="Proteotypic+PRO3"/>
                <entry key="48" type="xstring" value="Stripped.Sequence (Count)"/>
                <entry key="49" type="xstring" value="PG.MaxLFQ+ANTI1_log2"/>
                <entry key="50" type="xstring" value="PG.MaxLFQ+ANTI2_log2"/>
                <entry key="51" type="xstring" value="PG.MaxLFQ+ANTI3_log2"/>
                <entry key="52" type="xstring" value="PG.MaxLFQ+CTRL1_log2"/>
                <entry key="53" type="xstring" value="PG.MaxLFQ+CTRL2_log2"/>
                <entry key="54" type="xstring" value="PG.MaxLFQ+CTRL3_log2"/>
                <entry key="55" type="xstring" value="PG.MaxLFQ+PRO1_log2"/>
                <entry key="56" type="xstring" value="PG.MaxLFQ+PRO2_log2"/>
                <entry key="57" type="xstring" value="PG.MaxLFQ+PRO3_log2"/>
                <entry key="58" type="xstring" value="PG.Normalised+ANTI1_log2"/>
                <entry key="59" type="xstring" value="PG.Normalised+ANTI2_log2"/>
                <entry key="60" type="xstring" value="PG.Normalised+ANTI3_log2"/>
                <entry key="61" type="xstring" value="PG.Normalised+CTRL1_log2"/>
                <entry key="62" type="xstring" value="PG.Normalised+CTRL2_log2"/>
                <entry key="63" type="xstring" value="PG.Normalised+CTRL3_log2"/>
                <entry key="64" type="xstring" value="PG.Normalised+PRO1_log2"/>
                <entry key="65" type="xstring" value="PG.Normalised+PRO2_log2"/>
                <entry key="66" type="xstring" value="PG.Normalised+PRO3_log2"/>
                <entry key="67" type="xstring" value="PG.Quantity+ANTI1_log2"/>
                <entry key="68" type="xstring" value="PG.Quantity+ANTI2_log2"/>
                <entry key="69" type="xstring" value="PG.Quantity+ANTI3_log2"/>
                <entry key="70" type="xstring" value="PG.Quantity+CTRL1_log2"/>
                <entry key="71" type="xstring" value="PG.Quantity+CTRL2_log2"/>
                <entry key="72" type="xstring" value="PG.Quantity+CTRL3_log2"/>
                <entry key="73" type="xstring" value="PG.Quantity+PRO1_log2"/>
                <entry key="74" type="xstring" value="PG.Quantity+PRO2_log2"/>
                <entry key="75" type="xstring" value="PG.Quantity+PRO3_log2"/>
                <entry key="76" type="xstring" value="PG.Quantity_sum_log2"/>
                <entry key="77" type="xstring" value="samples_max"/>
                <entry key="78" type="xstring" value="PG.Quantity+ANTI1_log2_norm"/>
                <entry key="79" type="xstring" value="PG.Quantity+ANTI2_log2_norm"/>
                <entry key="80" type="xstring" value="PG.Quantity+ANTI3_log2_norm"/>
                <entry key="81" type="xstring" value="PG.Quantity+CTRL1_log2_norm"/>
                <entry key="82" type="xstring" value="PG.Quantity+CTRL2_log2_norm"/>
                <entry key="83" type="xstring" value="PG.Quantity+CTRL3_log2_norm"/>
                <entry key="84" type="xstring" value="PG.Quantity+PRO1_log2_norm"/>
                <entry key="85" type="xstring" value="PG.Quantity+PRO2_log2_norm"/>
                <entry key="86" type="xstring" value="PG.Quantity+PRO3_log2_norm"/>
                <entry key="87" type="xstring" value="PG.Quantity+ANTI1_log2_norm_delog"/>
                <entry key="88" type="xstring" value="PG.Quantity+ANTI2_log2_norm_delog"/>
                <entry key="89" type="xstring" value="PG.Quantity+ANTI3_log2_norm_delog"/>
                <entry key="90" type="xstring" value="PG.Quantity+CTRL1_log2_norm_delog"/>
                <entry key="91" type="xstring" value="PG.Quantity+CTRL2_log2_norm_delog"/>
                <entry key="92" type="xstring" value="PG.Quantity+CTRL3_log2_norm_delog"/>
                <entry key="93" type="xstring" value="PG.Quantity+PRO1_log2_norm_delog"/>
                <entry key="94" type="xstring" value="PG.Quantity+PRO2_log2_norm_delog"/>
                <entry key="95" type="xstring" value="PG.Quantity+PRO3_log2_norm_delog"/>
                <entry key="96" type="xstring" value="PG.Quantity+ANTI1_log2_norm_bin"/>
                <entry key="97" type="xstring" value="PG.Quantity+ANTI2_log2_norm_bin"/>
                <entry key="98" type="xstring" value="PG.Quantity+ANTI3_log2_norm_bin"/>
                <entry key="99" type="xstring" value="PG.Quantity+CTRL1_log2_norm_bin"/>
                <entry key="100" type="xstring" value="PG.Quantity+CTRL2_log2_norm_bin"/>
                <entry key="101" type="xstring" value="PG.Quantity+CTRL3_log2_norm_bin"/>
                <entry key="102" type="xstring" value="PG.Quantity+PRO1_log2_norm_bin"/>
                <entry key="103" type="xstring" value="PG.Quantity+PRO2_log2_norm_bin"/>
                <entry key="104" type="xstring" value="PG.Quantity+PRO3_log2_norm_bin"/>
                <entry key="105" type="xstring" value="all_bin_sum"/>
                <entry key="106" type="xstring" value="ANTI_bin_sum"/>
                <entry key="107" type="xstring" value="CTRL_bin_sum"/>
                <entry key="108" type="xstring" value="PRO_bin_sum"/>
                <entry key="109" type="xstring" value="LIMMA_DIA_PRO-CTRL.logFC"/>
                <entry key="110" type="xstring" value="LIMMA_DIA_PRO-CTRL.AveExpr"/>
                <entry key="111" type="xstring" value="LIMMA_DIA_PRO-CTRL.t"/>
                <entry key="112" type="xstring" value="LIMMA_DIA_PRO-CTRL.P.Value"/>
                <entry key="113" type="xstring" value="LIMMA_DIA_PRO-CTRL.adj.P.Val"/>
                <entry key="114" type="xstring" value="LIMMA_DIA_PRO-CTRL.B"/>
                <entry key="115" type="xstring" value="LIMMA_DIA_ANTI-PRO.logFC"/>
                <entry key="116" type="xstring" value="LIMMA_DIA_ANTI-PRO.AveExpr"/>
                <entry key="117" type="xstring" value="LIMMA_DIA_ANTI-PRO.t"/>
                <entry key="118" type="xstring" value="LIMMA_DIA_ANTI-PRO.P.Value"/>
                <entry key="119" type="xstring" value="LIMMA_DIA_ANTI-PRO.adj.P.Val"/>
                <entry key="120" type="xstring" value="LIMMA_DIA_ANTI-PRO.B"/>
                <entry key="121" type="xstring" value="LIMMA_DIA_ANTI-CTRL.logFC"/>
                <entry key="122" type="xstring" value="LIMMA_DIA_ANTI-CTRL.AveExpr"/>
                <entry key="123" type="xstring" value="LIMMA_DIA_ANTI-CTRL.t"/>
                <entry key="124" type="xstring" value="LIMMA_DIA_ANTI-CTRL.P.Value"/>
                <entry key="125" type="xstring" value="LIMMA_DIA_ANTI-CTRL.adj.P.Val"/>
                <entry key="126" type="xstring" value="LIMMA_DIA_ANTI-CTRL.B"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="delogs log2 imp values"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="365"/>
        <entry key="y-coordinate" type="xint" value="419"/>
        <entry key="width" type="xint" value="151"/>
        <entry key="height" type="xint" value="17"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="10"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.ext.jep.multicolumn.MultiColumnJEPNodeFactory"/>
    <entry key="node-name" type="xstring" value="Math Formula (Multi Column)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Math Expression Node"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.jep"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.6.0.v202202280848"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Math Expression (JEP)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.jep.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.6.0.v202202280848"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Math Formula (Multi Column)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
