<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="expression" type="xstring" value="$$CURRENT_COLUMN$$"/>
        <entry key="replaced_column" type="xstring" value="_column_to_rename"/>
        <entry key="append_column" type="xboolean" value="false"/>
        <entry key="convert_to_int" type="xboolean" value="false"/>
        <config key="column_selection">
            <entry key="filter-type" type="xstring" value="name_pattern"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="412"/>
                <entry key="0" type="xstring" value="Count UniMod21"/>
                <entry key="1" type="xstring" value="Global.Q.Value (Min*)+pep_CTR1_IM"/>
                <entry key="2" type="xstring" value="Global.Q.Value (Min*)+pep_CTR1_Ti"/>
                <entry key="3" type="xstring" value="Global.Q.Value (Min*)+pep_CTR2_IM"/>
                <entry key="4" type="xstring" value="Global.Q.Value (Min*)+pep_CTR2_Ti"/>
                <entry key="5" type="xstring" value="Global.Q.Value (Min*)+pep_CTR3_IM"/>
                <entry key="6" type="xstring" value="Global.Q.Value (Min*)+pep_CTR3_Ti"/>
                <entry key="7" type="xstring" value="Global.Q.Value (Min*)+pep_CTR4_IM"/>
                <entry key="8" type="xstring" value="Global.Q.Value (Min*)+pep_CTR4_Ti"/>
                <entry key="9" type="xstring" value="Global.Q.Value (Min*)+pep_CTR5_IM"/>
                <entry key="10" type="xstring" value="Global.Q.Value (Min*)+pep_CTR5_Ti"/>
                <entry key="11" type="xstring" value="Global.Q.Value (Min*)+pep_CTR6_IM"/>
                <entry key="12" type="xstring" value="Global.Q.Value (Min*)+pep_CTR6_Ti"/>
                <entry key="13" type="xstring" value="Global.Q.Value (Min*)+pep_PHE1_IM"/>
                <entry key="14" type="xstring" value="Global.Q.Value (Min*)+pep_PHE1_Ti"/>
                <entry key="15" type="xstring" value="Global.Q.Value (Min*)+pep_PHE2_IM"/>
                <entry key="16" type="xstring" value="Global.Q.Value (Min*)+pep_PHE2_Ti"/>
                <entry key="17" type="xstring" value="Global.Q.Value (Min*)+pep_PHE3_IM"/>
                <entry key="18" type="xstring" value="Global.Q.Value (Min*)+pep_PHE3_Ti"/>
                <entry key="19" type="xstring" value="Global.Q.Value (Min*)+pep_PHE4_IM"/>
                <entry key="20" type="xstring" value="Global.Q.Value (Min*)+pep_PHE4_Ti"/>
                <entry key="21" type="xstring" value="Global.Q.Value (Min*)+pep_PHE5_IM"/>
                <entry key="22" type="xstring" value="Global.Q.Value (Min*)+pep_PHE5_Ti"/>
                <entry key="23" type="xstring" value="Global.Q.Value (Min*)+pep_PHE6_IM"/>
                <entry key="24" type="xstring" value="Global.Q.Value (Min*)+pep_PHE6_Ti"/>
                <entry key="25" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR1_IM"/>
                <entry key="26" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR1_Ti"/>
                <entry key="27" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR2_IM"/>
                <entry key="28" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR2_Ti"/>
                <entry key="29" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR3_IM"/>
                <entry key="30" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR3_Ti"/>
                <entry key="31" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR4_IM"/>
                <entry key="32" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR4_Ti"/>
                <entry key="33" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR5_IM"/>
                <entry key="34" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR5_Ti"/>
                <entry key="35" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR6_IM"/>
                <entry key="36" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_CTR6_Ti"/>
                <entry key="37" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE1_IM"/>
                <entry key="38" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE1_Ti"/>
                <entry key="39" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE2_IM"/>
                <entry key="40" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE2_Ti"/>
                <entry key="41" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE3_IM"/>
                <entry key="42" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE3_Ti"/>
                <entry key="43" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE4_IM"/>
                <entry key="44" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE4_Ti"/>
                <entry key="45" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE5_IM"/>
                <entry key="46" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE5_Ti"/>
                <entry key="47" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE6_IM"/>
                <entry key="48" type="xstring" value="Lib.PG.Q.Value (Min*)+pep_PHE6_Ti"/>
                <entry key="49" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR1_IM"/>
                <entry key="50" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR1_Ti"/>
                <entry key="51" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR2_IM"/>
                <entry key="52" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR2_Ti"/>
                <entry key="53" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR3_IM"/>
                <entry key="54" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR3_Ti"/>
                <entry key="55" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR4_IM"/>
                <entry key="56" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR4_Ti"/>
                <entry key="57" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR5_IM"/>
                <entry key="58" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR5_Ti"/>
                <entry key="59" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR6_IM"/>
                <entry key="60" type="xstring" value="Lib.Q.Value (Min*)+pep_CTR6_Ti"/>
                <entry key="61" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE1_IM"/>
                <entry key="62" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE1_Ti"/>
                <entry key="63" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE2_IM"/>
                <entry key="64" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE2_Ti"/>
                <entry key="65" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE3_IM"/>
                <entry key="66" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE3_Ti"/>
                <entry key="67" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE4_IM"/>
                <entry key="68" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE4_Ti"/>
                <entry key="69" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE5_IM"/>
                <entry key="70" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE5_Ti"/>
                <entry key="71" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE6_IM"/>
                <entry key="72" type="xstring" value="Lib.Q.Value (Min*)+pep_PHE6_Ti"/>
                <entry key="73" type="xstring" value="PEP (Min*)+pep_CTR1_IM"/>
                <entry key="74" type="xstring" value="PEP (Min*)+pep_CTR1_Ti"/>
                <entry key="75" type="xstring" value="PEP (Min*)+pep_CTR2_IM"/>
                <entry key="76" type="xstring" value="PEP (Min*)+pep_CTR2_Ti"/>
                <entry key="77" type="xstring" value="PEP (Min*)+pep_CTR3_IM"/>
                <entry key="78" type="xstring" value="PEP (Min*)+pep_CTR3_Ti"/>
                <entry key="79" type="xstring" value="PEP (Min*)+pep_CTR4_IM"/>
                <entry key="80" type="xstring" value="PEP (Min*)+pep_CTR4_Ti"/>
                <entry key="81" type="xstring" value="PEP (Min*)+pep_CTR5_IM"/>
                <entry key="82" type="xstring" value="PEP (Min*)+pep_CTR5_Ti"/>
                <entry key="83" type="xstring" value="PEP (Min*)+pep_CTR6_IM"/>
                <entry key="84" type="xstring" value="PEP (Min*)+pep_CTR6_Ti"/>
                <entry key="85" type="xstring" value="PEP (Min*)+pep_PHE1_IM"/>
                <entry key="86" type="xstring" value="PEP (Min*)+pep_PHE1_Ti"/>
                <entry key="87" type="xstring" value="PEP (Min*)+pep_PHE2_IM"/>
                <entry key="88" type="xstring" value="PEP (Min*)+pep_PHE2_Ti"/>
                <entry key="89" type="xstring" value="PEP (Min*)+pep_PHE3_IM"/>
                <entry key="90" type="xstring" value="PEP (Min*)+pep_PHE3_Ti"/>
                <entry key="91" type="xstring" value="PEP (Min*)+pep_PHE4_IM"/>
                <entry key="92" type="xstring" value="PEP (Min*)+pep_PHE4_Ti"/>
                <entry key="93" type="xstring" value="PEP (Min*)+pep_PHE5_IM"/>
                <entry key="94" type="xstring" value="PEP (Min*)+pep_PHE5_Ti"/>
                <entry key="95" type="xstring" value="PEP (Min*)+pep_PHE6_IM"/>
                <entry key="96" type="xstring" value="PEP (Min*)+pep_PHE6_Ti"/>
                <entry key="97" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR1_IM"/>
                <entry key="98" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR1_Ti"/>
                <entry key="99" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR2_IM"/>
                <entry key="100" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR2_Ti"/>
                <entry key="101" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR3_IM"/>
                <entry key="102" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR3_Ti"/>
                <entry key="103" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR4_IM"/>
                <entry key="104" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR4_Ti"/>
                <entry key="105" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR5_IM"/>
                <entry key="106" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR5_Ti"/>
                <entry key="107" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR6_IM"/>
                <entry key="108" type="xstring" value="PG.MaxLFQ (Max*)+pep_CTR6_Ti"/>
                <entry key="109" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE1_IM"/>
                <entry key="110" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE1_Ti"/>
                <entry key="111" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE2_IM"/>
                <entry key="112" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE2_Ti"/>
                <entry key="113" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE3_IM"/>
                <entry key="114" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE3_Ti"/>
                <entry key="115" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE4_IM"/>
                <entry key="116" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE4_Ti"/>
                <entry key="117" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE5_IM"/>
                <entry key="118" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE5_Ti"/>
                <entry key="119" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE6_IM"/>
                <entry key="120" type="xstring" value="PG.MaxLFQ (Max*)+pep_PHE6_Ti"/>
                <entry key="121" type="xstring" value="PG.Normalised (Max*)+pep_CTR1_IM"/>
                <entry key="122" type="xstring" value="PG.Normalised (Max*)+pep_CTR1_Ti"/>
                <entry key="123" type="xstring" value="PG.Normalised (Max*)+pep_CTR2_IM"/>
                <entry key="124" type="xstring" value="PG.Normalised (Max*)+pep_CTR2_Ti"/>
                <entry key="125" type="xstring" value="PG.Normalised (Max*)+pep_CTR3_IM"/>
                <entry key="126" type="xstring" value="PG.Normalised (Max*)+pep_CTR3_Ti"/>
                <entry key="127" type="xstring" value="PG.Normalised (Max*)+pep_CTR4_IM"/>
                <entry key="128" type="xstring" value="PG.Normalised (Max*)+pep_CTR4_Ti"/>
                <entry key="129" type="xstring" value="PG.Normalised (Max*)+pep_CTR5_IM"/>
                <entry key="130" type="xstring" value="PG.Normalised (Max*)+pep_CTR5_Ti"/>
                <entry key="131" type="xstring" value="PG.Normalised (Max*)+pep_CTR6_IM"/>
                <entry key="132" type="xstring" value="PG.Normalised (Max*)+pep_CTR6_Ti"/>
                <entry key="133" type="xstring" value="PG.Normalised (Max*)+pep_PHE1_IM"/>
                <entry key="134" type="xstring" value="PG.Normalised (Max*)+pep_PHE1_Ti"/>
                <entry key="135" type="xstring" value="PG.Normalised (Max*)+pep_PHE2_IM"/>
                <entry key="136" type="xstring" value="PG.Normalised (Max*)+pep_PHE2_Ti"/>
                <entry key="137" type="xstring" value="PG.Normalised (Max*)+pep_PHE3_IM"/>
                <entry key="138" type="xstring" value="PG.Normalised (Max*)+pep_PHE3_Ti"/>
                <entry key="139" type="xstring" value="PG.Normalised (Max*)+pep_PHE4_IM"/>
                <entry key="140" type="xstring" value="PG.Normalised (Max*)+pep_PHE4_Ti"/>
                <entry key="141" type="xstring" value="PG.Normalised (Max*)+pep_PHE5_IM"/>
                <entry key="142" type="xstring" value="PG.Normalised (Max*)+pep_PHE5_Ti"/>
                <entry key="143" type="xstring" value="PG.Normalised (Max*)+pep_PHE6_IM"/>
                <entry key="144" type="xstring" value="PG.Normalised (Max*)+pep_PHE6_Ti"/>
                <entry key="145" type="xstring" value="PG.Quantity (Max*)+pep_CTR1_IM"/>
                <entry key="146" type="xstring" value="PG.Quantity (Max*)+pep_CTR1_Ti"/>
                <entry key="147" type="xstring" value="PG.Quantity (Max*)+pep_CTR2_IM"/>
                <entry key="148" type="xstring" value="PG.Quantity (Max*)+pep_CTR2_Ti"/>
                <entry key="149" type="xstring" value="PG.Quantity (Max*)+pep_CTR3_IM"/>
                <entry key="150" type="xstring" value="PG.Quantity (Max*)+pep_CTR3_Ti"/>
                <entry key="151" type="xstring" value="PG.Quantity (Max*)+pep_CTR4_IM"/>
                <entry key="152" type="xstring" value="PG.Quantity (Max*)+pep_CTR4_Ti"/>
                <entry key="153" type="xstring" value="PG.Quantity (Max*)+pep_CTR5_IM"/>
                <entry key="154" type="xstring" value="PG.Quantity (Max*)+pep_CTR5_Ti"/>
                <entry key="155" type="xstring" value="PG.Quantity (Max*)+pep_CTR6_IM"/>
                <entry key="156" type="xstring" value="PG.Quantity (Max*)+pep_CTR6_Ti"/>
                <entry key="157" type="xstring" value="PG.Quantity (Max*)+pep_PHE1_IM"/>
                <entry key="158" type="xstring" value="PG.Quantity (Max*)+pep_PHE1_Ti"/>
                <entry key="159" type="xstring" value="PG.Quantity (Max*)+pep_PHE2_IM"/>
                <entry key="160" type="xstring" value="PG.Quantity (Max*)+pep_PHE2_Ti"/>
                <entry key="161" type="xstring" value="PG.Quantity (Max*)+pep_PHE3_IM"/>
                <entry key="162" type="xstring" value="PG.Quantity (Max*)+pep_PHE3_Ti"/>
                <entry key="163" type="xstring" value="PG.Quantity (Max*)+pep_PHE4_IM"/>
                <entry key="164" type="xstring" value="PG.Quantity (Max*)+pep_PHE4_Ti"/>
                <entry key="165" type="xstring" value="PG.Quantity (Max*)+pep_PHE5_IM"/>
                <entry key="166" type="xstring" value="PG.Quantity (Max*)+pep_PHE5_Ti"/>
                <entry key="167" type="xstring" value="PG.Quantity (Max*)+pep_PHE6_IM"/>
                <entry key="168" type="xstring" value="PG.Quantity (Max*)+pep_PHE6_Ti"/>
                <entry key="169" type="xstring" value="Precursor.Id+pep_CTR1_IM"/>
                <entry key="170" type="xstring" value="Precursor.Id+pep_CTR1_Ti"/>
                <entry key="171" type="xstring" value="Precursor.Id+pep_CTR2_IM"/>
                <entry key="172" type="xstring" value="Precursor.Id+pep_CTR2_Ti"/>
                <entry key="173" type="xstring" value="Precursor.Id+pep_CTR3_IM"/>
                <entry key="174" type="xstring" value="Precursor.Id+pep_CTR3_Ti"/>
                <entry key="175" type="xstring" value="Precursor.Id+pep_CTR4_IM"/>
                <entry key="176" type="xstring" value="Precursor.Id+pep_CTR4_Ti"/>
                <entry key="177" type="xstring" value="Precursor.Id+pep_CTR5_IM"/>
                <entry key="178" type="xstring" value="Precursor.Id+pep_CTR5_Ti"/>
                <entry key="179" type="xstring" value="Precursor.Id+pep_CTR6_IM"/>
                <entry key="180" type="xstring" value="Precursor.Id+pep_CTR6_Ti"/>
                <entry key="181" type="xstring" value="Precursor.Id+pep_PHE1_IM"/>
                <entry key="182" type="xstring" value="Precursor.Id+pep_PHE1_Ti"/>
                <entry key="183" type="xstring" value="Precursor.Id+pep_PHE2_IM"/>
                <entry key="184" type="xstring" value="Precursor.Id+pep_PHE2_Ti"/>
                <entry key="185" type="xstring" value="Precursor.Id+pep_PHE3_IM"/>
                <entry key="186" type="xstring" value="Precursor.Id+pep_PHE3_Ti"/>
                <entry key="187" type="xstring" value="Precursor.Id+pep_PHE4_IM"/>
                <entry key="188" type="xstring" value="Precursor.Id+pep_PHE4_Ti"/>
                <entry key="189" type="xstring" value="Precursor.Id+pep_PHE5_IM"/>
                <entry key="190" type="xstring" value="Precursor.Id+pep_PHE5_Ti"/>
                <entry key="191" type="xstring" value="Precursor.Id+pep_PHE6_IM"/>
                <entry key="192" type="xstring" value="Precursor.Id+pep_PHE6_Ti"/>
                <entry key="193" type="xstring" value="Precursor.Normalised+pep_CTR1_IM"/>
                <entry key="194" type="xstring" value="Precursor.Normalised+pep_CTR1_Ti"/>
                <entry key="195" type="xstring" value="Precursor.Normalised+pep_CTR2_IM"/>
                <entry key="196" type="xstring" value="Precursor.Normalised+pep_CTR2_Ti"/>
                <entry key="197" type="xstring" value="Precursor.Normalised+pep_CTR3_IM"/>
                <entry key="198" type="xstring" value="Precursor.Normalised+pep_CTR3_Ti"/>
                <entry key="199" type="xstring" value="Precursor.Normalised+pep_CTR4_IM"/>
                <entry key="200" type="xstring" value="Precursor.Normalised+pep_CTR4_Ti"/>
                <entry key="201" type="xstring" value="Precursor.Normalised+pep_CTR5_IM"/>
                <entry key="202" type="xstring" value="Precursor.Normalised+pep_CTR5_Ti"/>
                <entry key="203" type="xstring" value="Precursor.Normalised+pep_CTR6_IM"/>
                <entry key="204" type="xstring" value="Precursor.Normalised+pep_CTR6_Ti"/>
                <entry key="205" type="xstring" value="Precursor.Normalised+pep_PHE1_IM"/>
                <entry key="206" type="xstring" value="Precursor.Normalised+pep_PHE1_Ti"/>
                <entry key="207" type="xstring" value="Precursor.Normalised+pep_PHE2_IM"/>
                <entry key="208" type="xstring" value="Precursor.Normalised+pep_PHE2_Ti"/>
                <entry key="209" type="xstring" value="Precursor.Normalised+pep_PHE3_IM"/>
                <entry key="210" type="xstring" value="Precursor.Normalised+pep_PHE3_Ti"/>
                <entry key="211" type="xstring" value="Precursor.Normalised+pep_PHE4_IM"/>
                <entry key="212" type="xstring" value="Precursor.Normalised+pep_PHE4_Ti"/>
                <entry key="213" type="xstring" value="Precursor.Normalised+pep_PHE5_IM"/>
                <entry key="214" type="xstring" value="Precursor.Normalised+pep_PHE5_Ti"/>
                <entry key="215" type="xstring" value="Precursor.Normalised+pep_PHE6_IM"/>
                <entry key="216" type="xstring" value="Precursor.Normalised+pep_PHE6_Ti"/>
                <entry key="217" type="xstring" value="Precursor.Quantity+pep_CTR1_IM"/>
                <entry key="218" type="xstring" value="Precursor.Quantity+pep_CTR1_Ti"/>
                <entry key="219" type="xstring" value="Precursor.Quantity+pep_CTR2_IM"/>
                <entry key="220" type="xstring" value="Precursor.Quantity+pep_CTR2_Ti"/>
                <entry key="221" type="xstring" value="Precursor.Quantity+pep_CTR3_IM"/>
                <entry key="222" type="xstring" value="Precursor.Quantity+pep_CTR3_Ti"/>
                <entry key="223" type="xstring" value="Precursor.Quantity+pep_CTR4_IM"/>
                <entry key="224" type="xstring" value="Precursor.Quantity+pep_CTR4_Ti"/>
                <entry key="225" type="xstring" value="Precursor.Quantity+pep_CTR5_IM"/>
                <entry key="226" type="xstring" value="Precursor.Quantity+pep_CTR5_Ti"/>
                <entry key="227" type="xstring" value="Precursor.Quantity+pep_CTR6_IM"/>
                <entry key="228" type="xstring" value="Precursor.Quantity+pep_CTR6_Ti"/>
                <entry key="229" type="xstring" value="Precursor.Quantity+pep_PHE1_IM"/>
                <entry key="230" type="xstring" value="Precursor.Quantity+pep_PHE1_Ti"/>
                <entry key="231" type="xstring" value="Precursor.Quantity+pep_PHE2_IM"/>
                <entry key="232" type="xstring" value="Precursor.Quantity+pep_PHE2_Ti"/>
                <entry key="233" type="xstring" value="Precursor.Quantity+pep_PHE3_IM"/>
                <entry key="234" type="xstring" value="Precursor.Quantity+pep_PHE3_Ti"/>
                <entry key="235" type="xstring" value="Precursor.Quantity+pep_PHE4_IM"/>
                <entry key="236" type="xstring" value="Precursor.Quantity+pep_PHE4_Ti"/>
                <entry key="237" type="xstring" value="Precursor.Quantity+pep_PHE5_IM"/>
                <entry key="238" type="xstring" value="Precursor.Quantity+pep_PHE5_Ti"/>
                <entry key="239" type="xstring" value="Precursor.Quantity+pep_PHE6_IM"/>
                <entry key="240" type="xstring" value="Precursor.Quantity+pep_PHE6_Ti"/>
                <entry key="241" type="xstring" value="Precursor.Quantity_sum"/>
                <entry key="242" type="xstring" value="Proteotypic+pep_CTR1_IM"/>
                <entry key="243" type="xstring" value="Proteotypic+pep_CTR1_Ti"/>
                <entry key="244" type="xstring" value="Proteotypic+pep_CTR2_IM"/>
                <entry key="245" type="xstring" value="Proteotypic+pep_CTR2_Ti"/>
                <entry key="246" type="xstring" value="Proteotypic+pep_CTR3_IM"/>
                <entry key="247" type="xstring" value="Proteotypic+pep_CTR3_Ti"/>
                <entry key="248" type="xstring" value="Proteotypic+pep_CTR4_IM"/>
                <entry key="249" type="xstring" value="Proteotypic+pep_CTR4_Ti"/>
                <entry key="250" type="xstring" value="Proteotypic+pep_CTR5_IM"/>
                <entry key="251" type="xstring" value="Proteotypic+pep_CTR5_Ti"/>
                <entry key="252" type="xstring" value="Proteotypic+pep_CTR6_IM"/>
                <entry key="253" type="xstring" value="Proteotypic+pep_CTR6_Ti"/>
                <entry key="254" type="xstring" value="Proteotypic+pep_PHE1_IM"/>
                <entry key="255" type="xstring" value="Proteotypic+pep_PHE1_Ti"/>
                <entry key="256" type="xstring" value="Proteotypic+pep_PHE2_IM"/>
                <entry key="257" type="xstring" value="Proteotypic+pep_PHE2_Ti"/>
                <entry key="258" type="xstring" value="Proteotypic+pep_PHE3_IM"/>
                <entry key="259" type="xstring" value="Proteotypic+pep_PHE3_Ti"/>
                <entry key="260" type="xstring" value="Proteotypic+pep_PHE4_IM"/>
                <entry key="261" type="xstring" value="Proteotypic+pep_PHE4_Ti"/>
                <entry key="262" type="xstring" value="Proteotypic+pep_PHE5_IM"/>
                <entry key="263" type="xstring" value="Proteotypic+pep_PHE5_Ti"/>
                <entry key="264" type="xstring" value="Proteotypic+pep_PHE6_IM"/>
                <entry key="265" type="xstring" value="Proteotypic+pep_PHE6_Ti"/>
                <entry key="266" type="xstring" value="Q.Value (Min*)+pep_CTR1_IM"/>
                <entry key="267" type="xstring" value="Q.Value (Min*)+pep_CTR1_Ti"/>
                <entry key="268" type="xstring" value="Q.Value (Min*)+pep_CTR2_IM"/>
                <entry key="269" type="xstring" value="Q.Value (Min*)+pep_CTR2_Ti"/>
                <entry key="270" type="xstring" value="Q.Value (Min*)+pep_CTR3_IM"/>
                <entry key="271" type="xstring" value="Q.Value (Min*)+pep_CTR3_Ti"/>
                <entry key="272" type="xstring" value="Q.Value (Min*)+pep_CTR4_IM"/>
                <entry key="273" type="xstring" value="Q.Value (Min*)+pep_CTR4_Ti"/>
                <entry key="274" type="xstring" value="Q.Value (Min*)+pep_CTR5_IM"/>
                <entry key="275" type="xstring" value="Q.Value (Min*)+pep_CTR5_Ti"/>
                <entry key="276" type="xstring" value="Q.Value (Min*)+pep_CTR6_IM"/>
                <entry key="277" type="xstring" value="Q.Value (Min*)+pep_CTR6_Ti"/>
                <entry key="278" type="xstring" value="Q.Value (Min*)+pep_PHE1_IM"/>
                <entry key="279" type="xstring" value="Q.Value (Min*)+pep_PHE1_Ti"/>
                <entry key="280" type="xstring" value="Q.Value (Min*)+pep_PHE2_IM"/>
                <entry key="281" type="xstring" value="Q.Value (Min*)+pep_PHE2_Ti"/>
                <entry key="282" type="xstring" value="Q.Value (Min*)+pep_PHE3_IM"/>
                <entry key="283" type="xstring" value="Q.Value (Min*)+pep_PHE3_Ti"/>
                <entry key="284" type="xstring" value="Q.Value (Min*)+pep_PHE4_IM"/>
                <entry key="285" type="xstring" value="Q.Value (Min*)+pep_PHE4_Ti"/>
                <entry key="286" type="xstring" value="Q.Value (Min*)+pep_PHE5_IM"/>
                <entry key="287" type="xstring" value="Q.Value (Min*)+pep_PHE5_Ti"/>
                <entry key="288" type="xstring" value="Q.Value (Min*)+pep_PHE6_IM"/>
                <entry key="289" type="xstring" value="Q.Value (Min*)+pep_PHE6_Ti"/>
                <entry key="290" type="xstring" value="RT (Mean)+pep_CTR1_IM"/>
                <entry key="291" type="xstring" value="RT (Mean)+pep_CTR1_Ti"/>
                <entry key="292" type="xstring" value="RT (Mean)+pep_CTR2_IM"/>
                <entry key="293" type="xstring" value="RT (Mean)+pep_CTR2_Ti"/>
                <entry key="294" type="xstring" value="RT (Mean)+pep_CTR3_IM"/>
                <entry key="295" type="xstring" value="RT (Mean)+pep_CTR3_Ti"/>
                <entry key="296" type="xstring" value="RT (Mean)+pep_CTR4_IM"/>
                <entry key="297" type="xstring" value="RT (Mean)+pep_CTR4_Ti"/>
                <entry key="298" type="xstring" value="RT (Mean)+pep_CTR5_IM"/>
                <entry key="299" type="xstring" value="RT (Mean)+pep_CTR5_Ti"/>
                <entry key="300" type="xstring" value="RT (Mean)+pep_CTR6_IM"/>
                <entry key="301" type="xstring" value="RT (Mean)+pep_CTR6_Ti"/>
                <entry key="302" type="xstring" value="RT (Mean)+pep_PHE1_IM"/>
                <entry key="303" type="xstring" value="RT (Mean)+pep_PHE1_Ti"/>
                <entry key="304" type="xstring" value="RT (Mean)+pep_PHE2_IM"/>
                <entry key="305" type="xstring" value="RT (Mean)+pep_PHE2_Ti"/>
                <entry key="306" type="xstring" value="RT (Mean)+pep_PHE3_IM"/>
                <entry key="307" type="xstring" value="RT (Mean)+pep_PHE3_Ti"/>
                <entry key="308" type="xstring" value="RT (Mean)+pep_PHE4_IM"/>
                <entry key="309" type="xstring" value="RT (Mean)+pep_PHE4_Ti"/>
                <entry key="310" type="xstring" value="RT (Mean)+pep_PHE5_IM"/>
                <entry key="311" type="xstring" value="RT (Mean)+pep_PHE5_Ti"/>
                <entry key="312" type="xstring" value="RT (Mean)+pep_PHE6_IM"/>
                <entry key="313" type="xstring" value="RT (Mean)+pep_PHE6_Ti"/>
                <entry key="314" type="xstring" value="RT.Start (Mean)+pep_CTR1_IM"/>
                <entry key="315" type="xstring" value="RT.Start (Mean)+pep_CTR1_Ti"/>
                <entry key="316" type="xstring" value="RT.Start (Mean)+pep_CTR2_IM"/>
                <entry key="317" type="xstring" value="RT.Start (Mean)+pep_CTR2_Ti"/>
                <entry key="318" type="xstring" value="RT.Start (Mean)+pep_CTR3_IM"/>
                <entry key="319" type="xstring" value="RT.Start (Mean)+pep_CTR3_Ti"/>
                <entry key="320" type="xstring" value="RT.Start (Mean)+pep_CTR4_IM"/>
                <entry key="321" type="xstring" value="RT.Start (Mean)+pep_CTR4_Ti"/>
                <entry key="322" type="xstring" value="RT.Start (Mean)+pep_CTR5_IM"/>
                <entry key="323" type="xstring" value="RT.Start (Mean)+pep_CTR5_Ti"/>
                <entry key="324" type="xstring" value="RT.Start (Mean)+pep_CTR6_IM"/>
                <entry key="325" type="xstring" value="RT.Start (Mean)+pep_CTR6_Ti"/>
                <entry key="326" type="xstring" value="RT.Start (Mean)+pep_PHE1_IM"/>
                <entry key="327" type="xstring" value="RT.Start (Mean)+pep_PHE1_Ti"/>
                <entry key="328" type="xstring" value="RT.Start (Mean)+pep_PHE2_IM"/>
                <entry key="329" type="xstring" value="RT.Start (Mean)+pep_PHE2_Ti"/>
                <entry key="330" type="xstring" value="RT.Start (Mean)+pep_PHE3_IM"/>
                <entry key="331" type="xstring" value="RT.Start (Mean)+pep_PHE3_Ti"/>
                <entry key="332" type="xstring" value="RT.Start (Mean)+pep_PHE4_IM"/>
                <entry key="333" type="xstring" value="RT.Start (Mean)+pep_PHE4_Ti"/>
                <entry key="334" type="xstring" value="RT.Start (Mean)+pep_PHE5_IM"/>
                <entry key="335" type="xstring" value="RT.Start (Mean)+pep_PHE5_Ti"/>
                <entry key="336" type="xstring" value="RT.Start (Mean)+pep_PHE6_IM"/>
                <entry key="337" type="xstring" value="RT.Start (Mean)+pep_PHE6_Ti"/>
                <entry key="338" type="xstring" value="RT.Stop (Mean)+pep_CTR1_IM"/>
                <entry key="339" type="xstring" value="RT.Stop (Mean)+pep_CTR1_Ti"/>
                <entry key="340" type="xstring" value="RT.Stop (Mean)+pep_CTR2_IM"/>
                <entry key="341" type="xstring" value="RT.Stop (Mean)+pep_CTR2_Ti"/>
                <entry key="342" type="xstring" value="RT.Stop (Mean)+pep_CTR3_IM"/>
                <entry key="343" type="xstring" value="RT.Stop (Mean)+pep_CTR3_Ti"/>
                <entry key="344" type="xstring" value="RT.Stop (Mean)+pep_CTR4_IM"/>
                <entry key="345" type="xstring" value="RT.Stop (Mean)+pep_CTR4_Ti"/>
                <entry key="346" type="xstring" value="RT.Stop (Mean)+pep_CTR5_IM"/>
                <entry key="347" type="xstring" value="RT.Stop (Mean)+pep_CTR5_Ti"/>
                <entry key="348" type="xstring" value="RT.Stop (Mean)+pep_CTR6_IM"/>
                <entry key="349" type="xstring" value="RT.Stop (Mean)+pep_CTR6_Ti"/>
                <entry key="350" type="xstring" value="RT.Stop (Mean)+pep_PHE1_IM"/>
                <entry key="351" type="xstring" value="RT.Stop (Mean)+pep_PHE1_Ti"/>
                <entry key="352" type="xstring" value="RT.Stop (Mean)+pep_PHE2_IM"/>
                <entry key="353" type="xstring" value="RT.Stop (Mean)+pep_PHE2_Ti"/>
                <entry key="354" type="xstring" value="RT.Stop (Mean)+pep_PHE3_IM"/>
                <entry key="355" type="xstring" value="RT.Stop (Mean)+pep_PHE3_Ti"/>
                <entry key="356" type="xstring" value="RT.Stop (Mean)+pep_PHE4_IM"/>
                <entry key="357" type="xstring" value="RT.Stop (Mean)+pep_PHE4_Ti"/>
                <entry key="358" type="xstring" value="RT.Stop (Mean)+pep_PHE5_IM"/>
                <entry key="359" type="xstring" value="RT.Stop (Mean)+pep_PHE5_Ti"/>
                <entry key="360" type="xstring" value="RT.Stop (Mean)+pep_PHE6_IM"/>
                <entry key="361" type="xstring" value="RT.Stop (Mean)+pep_PHE6_Ti"/>
                <entry key="362" type="xstring" value="peptide.ID"/>
                <entry key="363" type="xstring" value="Precursor.Normalised+pep_CTR1_IM_log2"/>
                <entry key="364" type="xstring" value="Precursor.Normalised+pep_CTR1_Ti_log2"/>
                <entry key="365" type="xstring" value="Precursor.Normalised+pep_CTR2_IM_log2"/>
                <entry key="366" type="xstring" value="Precursor.Normalised+pep_CTR2_Ti_log2"/>
                <entry key="367" type="xstring" value="Precursor.Normalised+pep_CTR3_IM_log2"/>
                <entry key="368" type="xstring" value="Precursor.Normalised+pep_CTR3_Ti_log2"/>
                <entry key="369" type="xstring" value="Precursor.Normalised+pep_CTR4_IM_log2"/>
                <entry key="370" type="xstring" value="Precursor.Normalised+pep_CTR4_Ti_log2"/>
                <entry key="371" type="xstring" value="Precursor.Normalised+pep_CTR5_IM_log2"/>
                <entry key="372" type="xstring" value="Precursor.Normalised+pep_CTR5_Ti_log2"/>
                <entry key="373" type="xstring" value="Precursor.Normalised+pep_CTR6_IM_log2"/>
                <entry key="374" type="xstring" value="Precursor.Normalised+pep_CTR6_Ti_log2"/>
                <entry key="375" type="xstring" value="Precursor.Normalised+pep_PHE1_IM_log2"/>
                <entry key="376" type="xstring" value="Precursor.Normalised+pep_PHE1_Ti_log2"/>
                <entry key="377" type="xstring" value="Precursor.Normalised+pep_PHE2_IM_log2"/>
                <entry key="378" type="xstring" value="Precursor.Normalised+pep_PHE2_Ti_log2"/>
                <entry key="379" type="xstring" value="Precursor.Normalised+pep_PHE3_IM_log2"/>
                <entry key="380" type="xstring" value="Precursor.Normalised+pep_PHE3_Ti_log2"/>
                <entry key="381" type="xstring" value="Precursor.Normalised+pep_PHE4_IM_log2"/>
                <entry key="382" type="xstring" value="Precursor.Normalised+pep_PHE4_Ti_log2"/>
                <entry key="383" type="xstring" value="Precursor.Normalised+pep_PHE5_IM_log2"/>
                <entry key="384" type="xstring" value="Precursor.Normalised+pep_PHE5_Ti_log2"/>
                <entry key="385" type="xstring" value="Precursor.Normalised+pep_PHE6_IM_log2"/>
                <entry key="386" type="xstring" value="Precursor.Normalised+pep_PHE6_Ti_log2"/>
                <entry key="387" type="xstring" value="Precursor.Quantity+pep_CTR1_IM_log2"/>
                <entry key="388" type="xstring" value="Precursor.Quantity+pep_CTR1_Ti_log2"/>
                <entry key="389" type="xstring" value="Precursor.Quantity+pep_CTR2_IM_log2"/>
                <entry key="390" type="xstring" value="Precursor.Quantity+pep_CTR2_Ti_log2"/>
                <entry key="391" type="xstring" value="Precursor.Quantity+pep_CTR3_IM_log2"/>
                <entry key="392" type="xstring" value="Precursor.Quantity+pep_CTR3_Ti_log2"/>
                <entry key="393" type="xstring" value="Precursor.Quantity+pep_CTR4_IM_log2"/>
                <entry key="394" type="xstring" value="Precursor.Quantity+pep_CTR4_Ti_log2"/>
                <entry key="395" type="xstring" value="Precursor.Quantity+pep_CTR5_IM_log2"/>
                <entry key="396" type="xstring" value="Precursor.Quantity+pep_CTR5_Ti_log2"/>
                <entry key="397" type="xstring" value="Precursor.Quantity+pep_CTR6_IM_log2"/>
                <entry key="398" type="xstring" value="Precursor.Quantity+pep_CTR6_Ti_log2"/>
                <entry key="399" type="xstring" value="Precursor.Quantity+pep_PHE1_IM_log2"/>
                <entry key="400" type="xstring" value="Precursor.Quantity+pep_PHE1_Ti_log2"/>
                <entry key="401" type="xstring" value="Precursor.Quantity+pep_PHE2_IM_log2"/>
                <entry key="402" type="xstring" value="Precursor.Quantity+pep_PHE2_Ti_log2"/>
                <entry key="403" type="xstring" value="Precursor.Quantity+pep_PHE3_IM_log2"/>
                <entry key="404" type="xstring" value="Precursor.Quantity+pep_PHE3_Ti_log2"/>
                <entry key="405" type="xstring" value="Precursor.Quantity+pep_PHE4_IM_log2"/>
                <entry key="406" type="xstring" value="Precursor.Quantity+pep_PHE4_Ti_log2"/>
                <entry key="407" type="xstring" value="Precursor.Quantity+pep_PHE5_IM_log2"/>
                <entry key="408" type="xstring" value="Precursor.Quantity+pep_PHE5_Ti_log2"/>
                <entry key="409" type="xstring" value="Precursor.Quantity+pep_PHE6_IM_log2"/>
                <entry key="410" type="xstring" value="Precursor.Quantity+pep_PHE6_Ti_log2"/>
                <entry key="411" type="xstring" value="Precursor.Quantity_sum_log2"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value="Precursor.Quantity*"/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="makes a copy of the%%00010Precursor.Quantity %%00010columns"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="630"/>
        <entry key="y-coordinate" type="xint" value="479"/>
        <entry key="width" type="xint" value="142"/>
        <entry key="height" type="xint" value="48"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="10"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.ext.jep.multicolumn.MultiColumnJEPNodeFactory"/>
    <entry key="node-name" type="xstring" value="Math Formula (Multi Column)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Math Expression Node"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.jep"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.0.v202208041429"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Math Expression (JEP)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.jep.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.0.v202208041429"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Math Formula (Multi Column)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
