<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="variable_filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="image_mass_acc_in_time"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="28"/>
                <entry key="0" type="xstring" value="RowID"/>
                <entry key="1" type="xstring" value="image_mass_acc_hist"/>
                <entry key="2" type="xstring" value="image_measured_identified"/>
                <entry key="3" type="xstring" value="URI-0"/>
                <entry key="4" type="xstring" value="notrecal_mzQC_full_zip"/>
                <entry key="5" type="xstring" value="folder_notrecal_mzQCs_full"/>
                <entry key="6" type="xstring" value="image_histogram_peptides"/>
                <entry key="7" type="xstring" value="image_kernel_density_plot"/>
                <entry key="8" type="xstring" value="image_id_non_identified"/>
                <entry key="9" type="xstring" value="images_path"/>
                <entry key="10" type="xstring" value="columns_to_process"/>
                <entry key="11" type="xstring" value="notrecal_idXML_zip"/>
                <entry key="12" type="xstring" value="folder_notrecal_idXMLs"/>
                <entry key="13" type="xstring" value="db_LCMS_method"/>
                <entry key="14" type="xstring" value="db_aquisition_type"/>
                <entry key="15" type="xstring" value="db_instr_shortcut"/>
                <entry key="16" type="xstring" value="db_qc_standard"/>
                <entry key="17" type="xstring" value="NewFile"/>
                <entry key="18" type="xstring" value="NewFiles"/>
                <entry key="19" type="xstring" value="mzml_folder_in_woskspace"/>
                <entry key="20" type="xstring" value="extension"/>
                <entry key="21" type="xstring" value="database_file_in_workspace"/>
                <entry key="22" type="xstring" value="python3command"/>
                <entry key="23" type="xstring" value="python3command (URL)"/>
                <entry key="24" type="xstring" value="python3command (file name)"/>
                <entry key="25" type="xstring" value="mzml_folder"/>
                <entry key="26" type="xstring" value="database_file"/>
                <entry key="27" type="xstring" value="database_folder"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="suffix_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="suffix" type="xstring" value="_location"/>
        <config key="file_system_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_file_system"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="file_system">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                <entry key="mountpoint" type="xstring" value="LOCAL"/>
                <entry key="custom_url_timeout" type="xint" value="1000"/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="location_spec">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="LOCAL"/>
            </config>
        </config>
        <config key="fail_on_missing_file_folder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="fail_on_missing_file_folder" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.filehandling.utility.nodes.stringtopath.variable.StringToPathVariableNodeFactory"/>
    <entry key="node-name" type="xstring" value="String to Path (Variable)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Filehandling Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.filehandling.utility.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.2.v202203141441"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.2.v202203141441"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Input Variables"/>
        <config key="Appended variables"/>
    </config>
    <entry key="name" type="xstring" value="String to Path (Variable)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
