<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Proteins"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="676"/>
<entry key="0" type="xstring" value="Positions within proteins"/>
<entry key="1" type="xstring" value="Leading proteins"/>
<entry key="2" type="xstring" value="Protein"/>
<entry key="3" type="xstring" value="Protein names"/>
<entry key="4" type="xstring" value="Gene names"/>
<entry key="5" type="xstring" value="Fasta headers"/>
<entry key="6" type="xstring" value="Localization prob"/>
<entry key="7" type="xstring" value="Score diff"/>
<entry key="8" type="xstring" value="PEP"/>
<entry key="9" type="xstring" value="Score"/>
<entry key="10" type="xstring" value="Delta score"/>
<entry key="11" type="xstring" value="Score for localization"/>
<entry key="12" type="xstring" value="Localization prob 3P17"/>
<entry key="13" type="xstring" value="Score diff 3P17"/>
<entry key="14" type="xstring" value="PEP 3P17"/>
<entry key="15" type="xstring" value="Score 3P17"/>
<entry key="16" type="xstring" value="Localization prob 3P18"/>
<entry key="17" type="xstring" value="Score diff 3P18"/>
<entry key="18" type="xstring" value="PEP 3P18"/>
<entry key="19" type="xstring" value="Score 3P18"/>
<entry key="20" type="xstring" value="Localization prob 3P19"/>
<entry key="21" type="xstring" value="Score diff 3P19"/>
<entry key="22" type="xstring" value="PEP 3P19"/>
<entry key="23" type="xstring" value="Score 3P19"/>
<entry key="24" type="xstring" value="Localization prob 3P20"/>
<entry key="25" type="xstring" value="Score diff 3P20"/>
<entry key="26" type="xstring" value="PEP 3P20"/>
<entry key="27" type="xstring" value="Score 3P20"/>
<entry key="28" type="xstring" value="Localization prob 3P21"/>
<entry key="29" type="xstring" value="Score diff 3P21"/>
<entry key="30" type="xstring" value="PEP 3P21"/>
<entry key="31" type="xstring" value="Score 3P21"/>
<entry key="32" type="xstring" value="Localization prob 3P22"/>
<entry key="33" type="xstring" value="Score diff 3P22"/>
<entry key="34" type="xstring" value="PEP 3P22"/>
<entry key="35" type="xstring" value="Score 3P22"/>
<entry key="36" type="xstring" value="Localization prob 3P23"/>
<entry key="37" type="xstring" value="Score diff 3P23"/>
<entry key="38" type="xstring" value="PEP 3P23"/>
<entry key="39" type="xstring" value="Score 3P23"/>
<entry key="40" type="xstring" value="Localization prob 3P24"/>
<entry key="41" type="xstring" value="Score diff 3P24"/>
<entry key="42" type="xstring" value="PEP 3P24"/>
<entry key="43" type="xstring" value="Score 3P24"/>
<entry key="44" type="xstring" value="Localization prob ID01"/>
<entry key="45" type="xstring" value="Score diff ID01"/>
<entry key="46" type="xstring" value="PEP ID01"/>
<entry key="47" type="xstring" value="Score ID01"/>
<entry key="48" type="xstring" value="Localization prob ID02"/>
<entry key="49" type="xstring" value="Score diff ID02"/>
<entry key="50" type="xstring" value="PEP ID02"/>
<entry key="51" type="xstring" value="Score ID02"/>
<entry key="52" type="xstring" value="Localization prob ID03"/>
<entry key="53" type="xstring" value="Score diff ID03"/>
<entry key="54" type="xstring" value="PEP ID03"/>
<entry key="55" type="xstring" value="Score ID03"/>
<entry key="56" type="xstring" value="Localization prob ID04"/>
<entry key="57" type="xstring" value="Score diff ID04"/>
<entry key="58" type="xstring" value="PEP ID04"/>
<entry key="59" type="xstring" value="Score ID04"/>
<entry key="60" type="xstring" value="Localization prob ID05"/>
<entry key="61" type="xstring" value="Score diff ID05"/>
<entry key="62" type="xstring" value="PEP ID05"/>
<entry key="63" type="xstring" value="Score ID05"/>
<entry key="64" type="xstring" value="Localization prob ID06"/>
<entry key="65" type="xstring" value="Score diff ID06"/>
<entry key="66" type="xstring" value="PEP ID06"/>
<entry key="67" type="xstring" value="Score ID06"/>
<entry key="68" type="xstring" value="Localization prob ID07"/>
<entry key="69" type="xstring" value="Score diff ID07"/>
<entry key="70" type="xstring" value="PEP ID07"/>
<entry key="71" type="xstring" value="Score ID07"/>
<entry key="72" type="xstring" value="Localization prob ID08"/>
<entry key="73" type="xstring" value="Score diff ID08"/>
<entry key="74" type="xstring" value="PEP ID08"/>
<entry key="75" type="xstring" value="Score ID08"/>
<entry key="76" type="xstring" value="Localization prob ID09"/>
<entry key="77" type="xstring" value="Score diff ID09"/>
<entry key="78" type="xstring" value="PEP ID09"/>
<entry key="79" type="xstring" value="Score ID09"/>
<entry key="80" type="xstring" value="Localization prob ID10"/>
<entry key="81" type="xstring" value="Score diff ID10"/>
<entry key="82" type="xstring" value="PEP ID10"/>
<entry key="83" type="xstring" value="Score ID10"/>
<entry key="84" type="xstring" value="Localization prob ID11"/>
<entry key="85" type="xstring" value="Score diff ID11"/>
<entry key="86" type="xstring" value="PEP ID11"/>
<entry key="87" type="xstring" value="Score ID11"/>
<entry key="88" type="xstring" value="Localization prob ID12"/>
<entry key="89" type="xstring" value="Score diff ID12"/>
<entry key="90" type="xstring" value="PEP ID12"/>
<entry key="91" type="xstring" value="Score ID12"/>
<entry key="92" type="xstring" value="Localization prob ID13"/>
<entry key="93" type="xstring" value="Score diff ID13"/>
<entry key="94" type="xstring" value="PEP ID13"/>
<entry key="95" type="xstring" value="Score ID13"/>
<entry key="96" type="xstring" value="Localization prob ID14"/>
<entry key="97" type="xstring" value="Score diff ID14"/>
<entry key="98" type="xstring" value="PEP ID14"/>
<entry key="99" type="xstring" value="Score ID14"/>
<entry key="100" type="xstring" value="Localization prob ID15"/>
<entry key="101" type="xstring" value="Score diff ID15"/>
<entry key="102" type="xstring" value="PEP ID15"/>
<entry key="103" type="xstring" value="Score ID15"/>
<entry key="104" type="xstring" value="Localization prob ID16"/>
<entry key="105" type="xstring" value="Score diff ID16"/>
<entry key="106" type="xstring" value="PEP ID16"/>
<entry key="107" type="xstring" value="Score ID16"/>
<entry key="108" type="xstring" value="Localization prob ID17"/>
<entry key="109" type="xstring" value="Score diff ID17"/>
<entry key="110" type="xstring" value="PEP ID17"/>
<entry key="111" type="xstring" value="Score ID17"/>
<entry key="112" type="xstring" value="Localization prob ID18"/>
<entry key="113" type="xstring" value="Score diff ID18"/>
<entry key="114" type="xstring" value="PEP ID18"/>
<entry key="115" type="xstring" value="Score ID18"/>
<entry key="116" type="xstring" value="Localization prob ID19"/>
<entry key="117" type="xstring" value="Score diff ID19"/>
<entry key="118" type="xstring" value="PEP ID19"/>
<entry key="119" type="xstring" value="Score ID19"/>
<entry key="120" type="xstring" value="Localization prob ID20"/>
<entry key="121" type="xstring" value="Score diff ID20"/>
<entry key="122" type="xstring" value="PEP ID20"/>
<entry key="123" type="xstring" value="Score ID20"/>
<entry key="124" type="xstring" value="Localization prob ID21"/>
<entry key="125" type="xstring" value="Score diff ID21"/>
<entry key="126" type="xstring" value="PEP ID21"/>
<entry key="127" type="xstring" value="Score ID21"/>
<entry key="128" type="xstring" value="Localization prob ID22"/>
<entry key="129" type="xstring" value="Score diff ID22"/>
<entry key="130" type="xstring" value="PEP ID22"/>
<entry key="131" type="xstring" value="Score ID22"/>
<entry key="132" type="xstring" value="Localization prob ID23"/>
<entry key="133" type="xstring" value="Score diff ID23"/>
<entry key="134" type="xstring" value="PEP ID23"/>
<entry key="135" type="xstring" value="Score ID23"/>
<entry key="136" type="xstring" value="Localization prob ID24"/>
<entry key="137" type="xstring" value="Score diff ID24"/>
<entry key="138" type="xstring" value="PEP ID24"/>
<entry key="139" type="xstring" value="Score ID24"/>
<entry key="140" type="xstring" value="Localization prob P01"/>
<entry key="141" type="xstring" value="Score diff P01"/>
<entry key="142" type="xstring" value="PEP P01"/>
<entry key="143" type="xstring" value="Score P01"/>
<entry key="144" type="xstring" value="Localization prob P02"/>
<entry key="145" type="xstring" value="Score diff P02"/>
<entry key="146" type="xstring" value="PEP P02"/>
<entry key="147" type="xstring" value="Score P02"/>
<entry key="148" type="xstring" value="Localization prob P03"/>
<entry key="149" type="xstring" value="Score diff P03"/>
<entry key="150" type="xstring" value="PEP P03"/>
<entry key="151" type="xstring" value="Score P03"/>
<entry key="152" type="xstring" value="Localization prob P04"/>
<entry key="153" type="xstring" value="Score diff P04"/>
<entry key="154" type="xstring" value="PEP P04"/>
<entry key="155" type="xstring" value="Score P04"/>
<entry key="156" type="xstring" value="Localization prob P05"/>
<entry key="157" type="xstring" value="Score diff P05"/>
<entry key="158" type="xstring" value="PEP P05"/>
<entry key="159" type="xstring" value="Score P05"/>
<entry key="160" type="xstring" value="Localization prob P06"/>
<entry key="161" type="xstring" value="Score diff P06"/>
<entry key="162" type="xstring" value="PEP P06"/>
<entry key="163" type="xstring" value="Score P06"/>
<entry key="164" type="xstring" value="Localization prob P07"/>
<entry key="165" type="xstring" value="Score diff P07"/>
<entry key="166" type="xstring" value="PEP P07"/>
<entry key="167" type="xstring" value="Score P07"/>
<entry key="168" type="xstring" value="Localization prob P08"/>
<entry key="169" type="xstring" value="Score diff P08"/>
<entry key="170" type="xstring" value="PEP P08"/>
<entry key="171" type="xstring" value="Score P08"/>
<entry key="172" type="xstring" value="Localization prob P09"/>
<entry key="173" type="xstring" value="Score diff P09"/>
<entry key="174" type="xstring" value="PEP P09"/>
<entry key="175" type="xstring" value="Score P09"/>
<entry key="176" type="xstring" value="Localization prob P10"/>
<entry key="177" type="xstring" value="Score diff P10"/>
<entry key="178" type="xstring" value="PEP P10"/>
<entry key="179" type="xstring" value="Score P10"/>
<entry key="180" type="xstring" value="Localization prob P11"/>
<entry key="181" type="xstring" value="Score diff P11"/>
<entry key="182" type="xstring" value="PEP P11"/>
<entry key="183" type="xstring" value="Score P11"/>
<entry key="184" type="xstring" value="Localization prob P12"/>
<entry key="185" type="xstring" value="Score diff P12"/>
<entry key="186" type="xstring" value="PEP P12"/>
<entry key="187" type="xstring" value="Score P12"/>
<entry key="188" type="xstring" value="Localization prob P13"/>
<entry key="189" type="xstring" value="Score diff P13"/>
<entry key="190" type="xstring" value="PEP P13"/>
<entry key="191" type="xstring" value="Score P13"/>
<entry key="192" type="xstring" value="Localization prob P14"/>
<entry key="193" type="xstring" value="Score diff P14"/>
<entry key="194" type="xstring" value="PEP P14"/>
<entry key="195" type="xstring" value="Score P14"/>
<entry key="196" type="xstring" value="Localization prob P15"/>
<entry key="197" type="xstring" value="Score diff P15"/>
<entry key="198" type="xstring" value="PEP P15"/>
<entry key="199" type="xstring" value="Score P15"/>
<entry key="200" type="xstring" value="Localization prob P16"/>
<entry key="201" type="xstring" value="Score diff P16"/>
<entry key="202" type="xstring" value="PEP P16"/>
<entry key="203" type="xstring" value="Score P16"/>
<entry key="204" type="xstring" value="Diagnostic peak"/>
<entry key="205" type="xstring" value="Number of Phospho (ST)"/>
<entry key="206" type="xstring" value="Amino acid"/>
<entry key="207" type="xstring" value="Sequence window"/>
<entry key="208" type="xstring" value="Modification window"/>
<entry key="209" type="xstring" value="Peptide window coverage"/>
<entry key="210" type="xstring" value="Phospho (ST) Probabilities"/>
<entry key="211" type="xstring" value="Phospho (ST) Score diffs"/>
<entry key="212" type="xstring" value="Position in peptide"/>
<entry key="213" type="xstring" value="Charge"/>
<entry key="214" type="xstring" value="Mass error [ppm]"/>
<entry key="215" type="xstring" value="Identification type 3P17"/>
<entry key="216" type="xstring" value="Identification type 3P18"/>
<entry key="217" type="xstring" value="Identification type 3P19"/>
<entry key="218" type="xstring" value="Identification type 3P20"/>
<entry key="219" type="xstring" value="Identification type 3P21"/>
<entry key="220" type="xstring" value="Identification type 3P22"/>
<entry key="221" type="xstring" value="Identification type 3P23"/>
<entry key="222" type="xstring" value="Identification type 3P24"/>
<entry key="223" type="xstring" value="Identification type ID01"/>
<entry key="224" type="xstring" value="Identification type ID02"/>
<entry key="225" type="xstring" value="Identification type ID03"/>
<entry key="226" type="xstring" value="Identification type ID04"/>
<entry key="227" type="xstring" value="Identification type ID05"/>
<entry key="228" type="xstring" value="Identification type ID06"/>
<entry key="229" type="xstring" value="Identification type ID07"/>
<entry key="230" type="xstring" value="Identification type ID08"/>
<entry key="231" type="xstring" value="Identification type ID09"/>
<entry key="232" type="xstring" value="Identification type ID10"/>
<entry key="233" type="xstring" value="Identification type ID11"/>
<entry key="234" type="xstring" value="Identification type ID12"/>
<entry key="235" type="xstring" value="Identification type ID13"/>
<entry key="236" type="xstring" value="Identification type ID14"/>
<entry key="237" type="xstring" value="Identification type ID15"/>
<entry key="238" type="xstring" value="Identification type ID16"/>
<entry key="239" type="xstring" value="Identification type ID17"/>
<entry key="240" type="xstring" value="Identification type ID18"/>
<entry key="241" type="xstring" value="Identification type ID19"/>
<entry key="242" type="xstring" value="Identification type ID20"/>
<entry key="243" type="xstring" value="Identification type ID21"/>
<entry key="244" type="xstring" value="Identification type ID22"/>
<entry key="245" type="xstring" value="Identification type ID23"/>
<entry key="246" type="xstring" value="Identification type ID24"/>
<entry key="247" type="xstring" value="Identification type P01"/>
<entry key="248" type="xstring" value="Identification type P02"/>
<entry key="249" type="xstring" value="Identification type P03"/>
<entry key="250" type="xstring" value="Identification type P04"/>
<entry key="251" type="xstring" value="Identification type P05"/>
<entry key="252" type="xstring" value="Identification type P06"/>
<entry key="253" type="xstring" value="Identification type P07"/>
<entry key="254" type="xstring" value="Identification type P08"/>
<entry key="255" type="xstring" value="Identification type P09"/>
<entry key="256" type="xstring" value="Identification type P10"/>
<entry key="257" type="xstring" value="Identification type P11"/>
<entry key="258" type="xstring" value="Identification type P12"/>
<entry key="259" type="xstring" value="Identification type P13"/>
<entry key="260" type="xstring" value="Identification type P14"/>
<entry key="261" type="xstring" value="Identification type P15"/>
<entry key="262" type="xstring" value="Identification type P16"/>
<entry key="263" type="xstring" value="Intensity"/>
<entry key="264" type="xstring" value="Intensity___1"/>
<entry key="265" type="xstring" value="Intensity___2"/>
<entry key="266" type="xstring" value="Intensity___3"/>
<entry key="267" type="xstring" value="Ratio mod/base"/>
<entry key="268" type="xstring" value="Intensity 3P17"/>
<entry key="269" type="xstring" value="Intensity 3P18"/>
<entry key="270" type="xstring" value="Intensity 3P19"/>
<entry key="271" type="xstring" value="Intensity 3P20"/>
<entry key="272" type="xstring" value="Intensity 3P21"/>
<entry key="273" type="xstring" value="Intensity 3P22"/>
<entry key="274" type="xstring" value="Intensity 3P23"/>
<entry key="275" type="xstring" value="Intensity 3P24"/>
<entry key="276" type="xstring" value="Intensity ID01"/>
<entry key="277" type="xstring" value="Intensity ID02"/>
<entry key="278" type="xstring" value="Intensity ID03"/>
<entry key="279" type="xstring" value="Intensity ID04"/>
<entry key="280" type="xstring" value="Intensity ID05"/>
<entry key="281" type="xstring" value="Intensity ID06"/>
<entry key="282" type="xstring" value="Intensity ID07"/>
<entry key="283" type="xstring" value="Intensity ID08"/>
<entry key="284" type="xstring" value="Intensity ID09"/>
<entry key="285" type="xstring" value="Intensity ID10"/>
<entry key="286" type="xstring" value="Intensity ID11"/>
<entry key="287" type="xstring" value="Intensity ID12"/>
<entry key="288" type="xstring" value="Intensity ID13"/>
<entry key="289" type="xstring" value="Intensity ID14"/>
<entry key="290" type="xstring" value="Intensity ID15"/>
<entry key="291" type="xstring" value="Intensity ID16"/>
<entry key="292" type="xstring" value="Intensity ID17"/>
<entry key="293" type="xstring" value="Intensity ID18"/>
<entry key="294" type="xstring" value="Intensity ID19"/>
<entry key="295" type="xstring" value="Intensity ID20"/>
<entry key="296" type="xstring" value="Intensity ID21"/>
<entry key="297" type="xstring" value="Intensity ID22"/>
<entry key="298" type="xstring" value="Intensity ID23"/>
<entry key="299" type="xstring" value="Intensity ID24"/>
<entry key="300" type="xstring" value="Intensity P01"/>
<entry key="301" type="xstring" value="Intensity P02"/>
<entry key="302" type="xstring" value="Intensity P03"/>
<entry key="303" type="xstring" value="Intensity P04"/>
<entry key="304" type="xstring" value="Intensity P05"/>
<entry key="305" type="xstring" value="Intensity P06"/>
<entry key="306" type="xstring" value="Intensity P07"/>
<entry key="307" type="xstring" value="Intensity P08"/>
<entry key="308" type="xstring" value="Intensity P09"/>
<entry key="309" type="xstring" value="Intensity P10"/>
<entry key="310" type="xstring" value="Intensity P11"/>
<entry key="311" type="xstring" value="Intensity P12"/>
<entry key="312" type="xstring" value="Intensity P13"/>
<entry key="313" type="xstring" value="Intensity P14"/>
<entry key="314" type="xstring" value="Intensity P15"/>
<entry key="315" type="xstring" value="Intensity P16"/>
<entry key="316" type="xstring" value="Ratio mod/base 3P17"/>
<entry key="317" type="xstring" value="Ratio mod/base 3P18"/>
<entry key="318" type="xstring" value="Ratio mod/base 3P19"/>
<entry key="319" type="xstring" value="Ratio mod/base 3P20"/>
<entry key="320" type="xstring" value="Ratio mod/base 3P21"/>
<entry key="321" type="xstring" value="Ratio mod/base 3P22"/>
<entry key="322" type="xstring" value="Ratio mod/base 3P23"/>
<entry key="323" type="xstring" value="Ratio mod/base 3P24"/>
<entry key="324" type="xstring" value="Ratio mod/base ID01"/>
<entry key="325" type="xstring" value="Ratio mod/base ID02"/>
<entry key="326" type="xstring" value="Ratio mod/base ID03"/>
<entry key="327" type="xstring" value="Ratio mod/base ID04"/>
<entry key="328" type="xstring" value="Ratio mod/base ID05"/>
<entry key="329" type="xstring" value="Ratio mod/base ID06"/>
<entry key="330" type="xstring" value="Ratio mod/base ID07"/>
<entry key="331" type="xstring" value="Ratio mod/base ID08"/>
<entry key="332" type="xstring" value="Ratio mod/base ID09"/>
<entry key="333" type="xstring" value="Ratio mod/base ID10"/>
<entry key="334" type="xstring" value="Ratio mod/base ID11"/>
<entry key="335" type="xstring" value="Ratio mod/base ID12"/>
<entry key="336" type="xstring" value="Ratio mod/base ID13"/>
<entry key="337" type="xstring" value="Ratio mod/base ID14"/>
<entry key="338" type="xstring" value="Ratio mod/base ID15"/>
<entry key="339" type="xstring" value="Ratio mod/base ID16"/>
<entry key="340" type="xstring" value="Ratio mod/base ID17"/>
<entry key="341" type="xstring" value="Ratio mod/base ID18"/>
<entry key="342" type="xstring" value="Ratio mod/base ID19"/>
<entry key="343" type="xstring" value="Ratio mod/base ID20"/>
<entry key="344" type="xstring" value="Ratio mod/base ID21"/>
<entry key="345" type="xstring" value="Ratio mod/base ID22"/>
<entry key="346" type="xstring" value="Ratio mod/base ID23"/>
<entry key="347" type="xstring" value="Ratio mod/base ID24"/>
<entry key="348" type="xstring" value="Ratio mod/base P01"/>
<entry key="349" type="xstring" value="Ratio mod/base P02"/>
<entry key="350" type="xstring" value="Ratio mod/base P03"/>
<entry key="351" type="xstring" value="Ratio mod/base P04"/>
<entry key="352" type="xstring" value="Ratio mod/base P05"/>
<entry key="353" type="xstring" value="Ratio mod/base P06"/>
<entry key="354" type="xstring" value="Ratio mod/base P07"/>
<entry key="355" type="xstring" value="Ratio mod/base P08"/>
<entry key="356" type="xstring" value="Ratio mod/base P09"/>
<entry key="357" type="xstring" value="Ratio mod/base P10"/>
<entry key="358" type="xstring" value="Ratio mod/base P11"/>
<entry key="359" type="xstring" value="Ratio mod/base P12"/>
<entry key="360" type="xstring" value="Ratio mod/base P13"/>
<entry key="361" type="xstring" value="Ratio mod/base P14"/>
<entry key="362" type="xstring" value="Ratio mod/base P15"/>
<entry key="363" type="xstring" value="Ratio mod/base P16"/>
<entry key="364" type="xstring" value="Intensity 3P17___1"/>
<entry key="365" type="xstring" value="Intensity 3P17___2"/>
<entry key="366" type="xstring" value="Intensity 3P17___3"/>
<entry key="367" type="xstring" value="Intensity 3P18___1"/>
<entry key="368" type="xstring" value="Intensity 3P18___2"/>
<entry key="369" type="xstring" value="Intensity 3P18___3"/>
<entry key="370" type="xstring" value="Intensity 3P19___1"/>
<entry key="371" type="xstring" value="Intensity 3P19___2"/>
<entry key="372" type="xstring" value="Intensity 3P19___3"/>
<entry key="373" type="xstring" value="Intensity 3P20___1"/>
<entry key="374" type="xstring" value="Intensity 3P20___2"/>
<entry key="375" type="xstring" value="Intensity 3P20___3"/>
<entry key="376" type="xstring" value="Intensity 3P21___1"/>
<entry key="377" type="xstring" value="Intensity 3P21___2"/>
<entry key="378" type="xstring" value="Intensity 3P21___3"/>
<entry key="379" type="xstring" value="Intensity 3P22___1"/>
<entry key="380" type="xstring" value="Intensity 3P22___2"/>
<entry key="381" type="xstring" value="Intensity 3P22___3"/>
<entry key="382" type="xstring" value="Intensity 3P23___1"/>
<entry key="383" type="xstring" value="Intensity 3P23___2"/>
<entry key="384" type="xstring" value="Intensity 3P23___3"/>
<entry key="385" type="xstring" value="Intensity 3P24___1"/>
<entry key="386" type="xstring" value="Intensity 3P24___2"/>
<entry key="387" type="xstring" value="Intensity 3P24___3"/>
<entry key="388" type="xstring" value="Intensity ID01___1"/>
<entry key="389" type="xstring" value="Intensity ID01___2"/>
<entry key="390" type="xstring" value="Intensity ID01___3"/>
<entry key="391" type="xstring" value="Intensity ID02___1"/>
<entry key="392" type="xstring" value="Intensity ID02___2"/>
<entry key="393" type="xstring" value="Intensity ID02___3"/>
<entry key="394" type="xstring" value="Intensity ID03___1"/>
<entry key="395" type="xstring" value="Intensity ID03___2"/>
<entry key="396" type="xstring" value="Intensity ID03___3"/>
<entry key="397" type="xstring" value="Intensity ID04___1"/>
<entry key="398" type="xstring" value="Intensity ID04___2"/>
<entry key="399" type="xstring" value="Intensity ID04___3"/>
<entry key="400" type="xstring" value="Intensity ID05___1"/>
<entry key="401" type="xstring" value="Intensity ID05___2"/>
<entry key="402" type="xstring" value="Intensity ID05___3"/>
<entry key="403" type="xstring" value="Intensity ID06___1"/>
<entry key="404" type="xstring" value="Intensity ID06___2"/>
<entry key="405" type="xstring" value="Intensity ID06___3"/>
<entry key="406" type="xstring" value="Intensity ID07___1"/>
<entry key="407" type="xstring" value="Intensity ID07___2"/>
<entry key="408" type="xstring" value="Intensity ID07___3"/>
<entry key="409" type="xstring" value="Intensity ID08___1"/>
<entry key="410" type="xstring" value="Intensity ID08___2"/>
<entry key="411" type="xstring" value="Intensity ID08___3"/>
<entry key="412" type="xstring" value="Intensity ID09___1"/>
<entry key="413" type="xstring" value="Intensity ID09___2"/>
<entry key="414" type="xstring" value="Intensity ID09___3"/>
<entry key="415" type="xstring" value="Intensity ID10___1"/>
<entry key="416" type="xstring" value="Intensity ID10___2"/>
<entry key="417" type="xstring" value="Intensity ID10___3"/>
<entry key="418" type="xstring" value="Intensity ID11___1"/>
<entry key="419" type="xstring" value="Intensity ID11___2"/>
<entry key="420" type="xstring" value="Intensity ID11___3"/>
<entry key="421" type="xstring" value="Intensity ID12___1"/>
<entry key="422" type="xstring" value="Intensity ID12___2"/>
<entry key="423" type="xstring" value="Intensity ID12___3"/>
<entry key="424" type="xstring" value="Intensity ID13___1"/>
<entry key="425" type="xstring" value="Intensity ID13___2"/>
<entry key="426" type="xstring" value="Intensity ID13___3"/>
<entry key="427" type="xstring" value="Intensity ID14___1"/>
<entry key="428" type="xstring" value="Intensity ID14___2"/>
<entry key="429" type="xstring" value="Intensity ID14___3"/>
<entry key="430" type="xstring" value="Intensity ID15___1"/>
<entry key="431" type="xstring" value="Intensity ID15___2"/>
<entry key="432" type="xstring" value="Intensity ID15___3"/>
<entry key="433" type="xstring" value="Intensity ID16___1"/>
<entry key="434" type="xstring" value="Intensity ID16___2"/>
<entry key="435" type="xstring" value="Intensity ID16___3"/>
<entry key="436" type="xstring" value="Intensity ID17___1"/>
<entry key="437" type="xstring" value="Intensity ID17___2"/>
<entry key="438" type="xstring" value="Intensity ID17___3"/>
<entry key="439" type="xstring" value="Intensity ID18___1"/>
<entry key="440" type="xstring" value="Intensity ID18___2"/>
<entry key="441" type="xstring" value="Intensity ID18___3"/>
<entry key="442" type="xstring" value="Intensity ID19___1"/>
<entry key="443" type="xstring" value="Intensity ID19___2"/>
<entry key="444" type="xstring" value="Intensity ID19___3"/>
<entry key="445" type="xstring" value="Intensity ID20___1"/>
<entry key="446" type="xstring" value="Intensity ID20___2"/>
<entry key="447" type="xstring" value="Intensity ID20___3"/>
<entry key="448" type="xstring" value="Intensity ID21___1"/>
<entry key="449" type="xstring" value="Intensity ID21___2"/>
<entry key="450" type="xstring" value="Intensity ID21___3"/>
<entry key="451" type="xstring" value="Intensity ID22___1"/>
<entry key="452" type="xstring" value="Intensity ID22___2"/>
<entry key="453" type="xstring" value="Intensity ID22___3"/>
<entry key="454" type="xstring" value="Intensity ID23___1"/>
<entry key="455" type="xstring" value="Intensity ID23___2"/>
<entry key="456" type="xstring" value="Intensity ID23___3"/>
<entry key="457" type="xstring" value="Intensity ID24___1"/>
<entry key="458" type="xstring" value="Intensity ID24___2"/>
<entry key="459" type="xstring" value="Intensity ID24___3"/>
<entry key="460" type="xstring" value="Intensity P01___1"/>
<entry key="461" type="xstring" value="Intensity P01___2"/>
<entry key="462" type="xstring" value="Intensity P01___3"/>
<entry key="463" type="xstring" value="Intensity P02___1"/>
<entry key="464" type="xstring" value="Intensity P02___2"/>
<entry key="465" type="xstring" value="Intensity P02___3"/>
<entry key="466" type="xstring" value="Intensity P03___1"/>
<entry key="467" type="xstring" value="Intensity P03___2"/>
<entry key="468" type="xstring" value="Intensity P03___3"/>
<entry key="469" type="xstring" value="Intensity P04___1"/>
<entry key="470" type="xstring" value="Intensity P04___2"/>
<entry key="471" type="xstring" value="Intensity P04___3"/>
<entry key="472" type="xstring" value="Intensity P05___1"/>
<entry key="473" type="xstring" value="Intensity P05___2"/>
<entry key="474" type="xstring" value="Intensity P05___3"/>
<entry key="475" type="xstring" value="Intensity P06___1"/>
<entry key="476" type="xstring" value="Intensity P06___2"/>
<entry key="477" type="xstring" value="Intensity P06___3"/>
<entry key="478" type="xstring" value="Intensity P07___1"/>
<entry key="479" type="xstring" value="Intensity P07___2"/>
<entry key="480" type="xstring" value="Intensity P07___3"/>
<entry key="481" type="xstring" value="Intensity P08___1"/>
<entry key="482" type="xstring" value="Intensity P08___2"/>
<entry key="483" type="xstring" value="Intensity P08___3"/>
<entry key="484" type="xstring" value="Intensity P09___1"/>
<entry key="485" type="xstring" value="Intensity P09___2"/>
<entry key="486" type="xstring" value="Intensity P09___3"/>
<entry key="487" type="xstring" value="Intensity P10___1"/>
<entry key="488" type="xstring" value="Intensity P10___2"/>
<entry key="489" type="xstring" value="Intensity P10___3"/>
<entry key="490" type="xstring" value="Intensity P11___1"/>
<entry key="491" type="xstring" value="Intensity P11___2"/>
<entry key="492" type="xstring" value="Intensity P11___3"/>
<entry key="493" type="xstring" value="Intensity P12___1"/>
<entry key="494" type="xstring" value="Intensity P12___2"/>
<entry key="495" type="xstring" value="Intensity P12___3"/>
<entry key="496" type="xstring" value="Intensity P13___1"/>
<entry key="497" type="xstring" value="Intensity P13___2"/>
<entry key="498" type="xstring" value="Intensity P13___3"/>
<entry key="499" type="xstring" value="Intensity P14___1"/>
<entry key="500" type="xstring" value="Intensity P14___2"/>
<entry key="501" type="xstring" value="Intensity P14___3"/>
<entry key="502" type="xstring" value="Intensity P15___1"/>
<entry key="503" type="xstring" value="Intensity P15___2"/>
<entry key="504" type="xstring" value="Intensity P15___3"/>
<entry key="505" type="xstring" value="Intensity P16___1"/>
<entry key="506" type="xstring" value="Intensity P16___2"/>
<entry key="507" type="xstring" value="Intensity P16___3"/>
<entry key="508" type="xstring" value="Occupancy 3P17"/>
<entry key="509" type="xstring" value="Occupancy ratio3P17"/>
<entry key="510" type="xstring" value="Occupancy error scale 3P17"/>
<entry key="511" type="xstring" value="Occupancy 3P18"/>
<entry key="512" type="xstring" value="Occupancy ratio3P18"/>
<entry key="513" type="xstring" value="Occupancy error scale 3P18"/>
<entry key="514" type="xstring" value="Occupancy 3P19"/>
<entry key="515" type="xstring" value="Occupancy ratio3P19"/>
<entry key="516" type="xstring" value="Occupancy error scale 3P19"/>
<entry key="517" type="xstring" value="Occupancy 3P20"/>
<entry key="518" type="xstring" value="Occupancy ratio3P20"/>
<entry key="519" type="xstring" value="Occupancy error scale 3P20"/>
<entry key="520" type="xstring" value="Occupancy 3P21"/>
<entry key="521" type="xstring" value="Occupancy ratio3P21"/>
<entry key="522" type="xstring" value="Occupancy error scale 3P21"/>
<entry key="523" type="xstring" value="Occupancy 3P22"/>
<entry key="524" type="xstring" value="Occupancy ratio3P22"/>
<entry key="525" type="xstring" value="Occupancy error scale 3P22"/>
<entry key="526" type="xstring" value="Occupancy 3P23"/>
<entry key="527" type="xstring" value="Occupancy ratio3P23"/>
<entry key="528" type="xstring" value="Occupancy error scale 3P23"/>
<entry key="529" type="xstring" value="Occupancy 3P24"/>
<entry key="530" type="xstring" value="Occupancy ratio3P24"/>
<entry key="531" type="xstring" value="Occupancy error scale 3P24"/>
<entry key="532" type="xstring" value="Occupancy ID01"/>
<entry key="533" type="xstring" value="Occupancy ratioID01"/>
<entry key="534" type="xstring" value="Occupancy error scale ID01"/>
<entry key="535" type="xstring" value="Occupancy ID02"/>
<entry key="536" type="xstring" value="Occupancy ratioID02"/>
<entry key="537" type="xstring" value="Occupancy error scale ID02"/>
<entry key="538" type="xstring" value="Occupancy ID03"/>
<entry key="539" type="xstring" value="Occupancy ratioID03"/>
<entry key="540" type="xstring" value="Occupancy error scale ID03"/>
<entry key="541" type="xstring" value="Occupancy ID04"/>
<entry key="542" type="xstring" value="Occupancy ratioID04"/>
<entry key="543" type="xstring" value="Occupancy error scale ID04"/>
<entry key="544" type="xstring" value="Occupancy ID05"/>
<entry key="545" type="xstring" value="Occupancy ratioID05"/>
<entry key="546" type="xstring" value="Occupancy error scale ID05"/>
<entry key="547" type="xstring" value="Occupancy ID06"/>
<entry key="548" type="xstring" value="Occupancy ratioID06"/>
<entry key="549" type="xstring" value="Occupancy error scale ID06"/>
<entry key="550" type="xstring" value="Occupancy ID07"/>
<entry key="551" type="xstring" value="Occupancy ratioID07"/>
<entry key="552" type="xstring" value="Occupancy error scale ID07"/>
<entry key="553" type="xstring" value="Occupancy ID08"/>
<entry key="554" type="xstring" value="Occupancy ratioID08"/>
<entry key="555" type="xstring" value="Occupancy error scale ID08"/>
<entry key="556" type="xstring" value="Occupancy ID09"/>
<entry key="557" type="xstring" value="Occupancy ratioID09"/>
<entry key="558" type="xstring" value="Occupancy error scale ID09"/>
<entry key="559" type="xstring" value="Occupancy ID10"/>
<entry key="560" type="xstring" value="Occupancy ratioID10"/>
<entry key="561" type="xstring" value="Occupancy error scale ID10"/>
<entry key="562" type="xstring" value="Occupancy ID11"/>
<entry key="563" type="xstring" value="Occupancy ratioID11"/>
<entry key="564" type="xstring" value="Occupancy error scale ID11"/>
<entry key="565" type="xstring" value="Occupancy ID12"/>
<entry key="566" type="xstring" value="Occupancy ratioID12"/>
<entry key="567" type="xstring" value="Occupancy error scale ID12"/>
<entry key="568" type="xstring" value="Occupancy ID13"/>
<entry key="569" type="xstring" value="Occupancy ratioID13"/>
<entry key="570" type="xstring" value="Occupancy error scale ID13"/>
<entry key="571" type="xstring" value="Occupancy ID14"/>
<entry key="572" type="xstring" value="Occupancy ratioID14"/>
<entry key="573" type="xstring" value="Occupancy error scale ID14"/>
<entry key="574" type="xstring" value="Occupancy ID15"/>
<entry key="575" type="xstring" value="Occupancy ratioID15"/>
<entry key="576" type="xstring" value="Occupancy error scale ID15"/>
<entry key="577" type="xstring" value="Occupancy ID16"/>
<entry key="578" type="xstring" value="Occupancy ratioID16"/>
<entry key="579" type="xstring" value="Occupancy error scale ID16"/>
<entry key="580" type="xstring" value="Occupancy ID17"/>
<entry key="581" type="xstring" value="Occupancy ratioID17"/>
<entry key="582" type="xstring" value="Occupancy error scale ID17"/>
<entry key="583" type="xstring" value="Occupancy ID18"/>
<entry key="584" type="xstring" value="Occupancy ratioID18"/>
<entry key="585" type="xstring" value="Occupancy error scale ID18"/>
<entry key="586" type="xstring" value="Occupancy ID19"/>
<entry key="587" type="xstring" value="Occupancy ratioID19"/>
<entry key="588" type="xstring" value="Occupancy error scale ID19"/>
<entry key="589" type="xstring" value="Occupancy ID20"/>
<entry key="590" type="xstring" value="Occupancy ratioID20"/>
<entry key="591" type="xstring" value="Occupancy error scale ID20"/>
<entry key="592" type="xstring" value="Occupancy ID21"/>
<entry key="593" type="xstring" value="Occupancy ratioID21"/>
<entry key="594" type="xstring" value="Occupancy error scale ID21"/>
<entry key="595" type="xstring" value="Occupancy ID22"/>
<entry key="596" type="xstring" value="Occupancy ratioID22"/>
<entry key="597" type="xstring" value="Occupancy error scale ID22"/>
<entry key="598" type="xstring" value="Occupancy ID23"/>
<entry key="599" type="xstring" value="Occupancy ratioID23"/>
<entry key="600" type="xstring" value="Occupancy error scale ID23"/>
<entry key="601" type="xstring" value="Occupancy ID24"/>
<entry key="602" type="xstring" value="Occupancy ratioID24"/>
<entry key="603" type="xstring" value="Occupancy error scale ID24"/>
<entry key="604" type="xstring" value="Occupancy P01"/>
<entry key="605" type="xstring" value="Occupancy ratioP01"/>
<entry key="606" type="xstring" value="Occupancy error scale P01"/>
<entry key="607" type="xstring" value="Occupancy P02"/>
<entry key="608" type="xstring" value="Occupancy ratioP02"/>
<entry key="609" type="xstring" value="Occupancy error scale P02"/>
<entry key="610" type="xstring" value="Occupancy P03"/>
<entry key="611" type="xstring" value="Occupancy ratioP03"/>
<entry key="612" type="xstring" value="Occupancy error scale P03"/>
<entry key="613" type="xstring" value="Occupancy P04"/>
<entry key="614" type="xstring" value="Occupancy ratioP04"/>
<entry key="615" type="xstring" value="Occupancy error scale P04"/>
<entry key="616" type="xstring" value="Occupancy P05"/>
<entry key="617" type="xstring" value="Occupancy ratioP05"/>
<entry key="618" type="xstring" value="Occupancy error scale P05"/>
<entry key="619" type="xstring" value="Occupancy P06"/>
<entry key="620" type="xstring" value="Occupancy ratioP06"/>
<entry key="621" type="xstring" value="Occupancy error scale P06"/>
<entry key="622" type="xstring" value="Occupancy P07"/>
<entry key="623" type="xstring" value="Occupancy ratioP07"/>
<entry key="624" type="xstring" value="Occupancy error scale P07"/>
<entry key="625" type="xstring" value="Occupancy P08"/>
<entry key="626" type="xstring" value="Occupancy ratioP08"/>
<entry key="627" type="xstring" value="Occupancy error scale P08"/>
<entry key="628" type="xstring" value="Occupancy P09"/>
<entry key="629" type="xstring" value="Occupancy ratioP09"/>
<entry key="630" type="xstring" value="Occupancy error scale P09"/>
<entry key="631" type="xstring" value="Occupancy P10"/>
<entry key="632" type="xstring" value="Occupancy ratioP10"/>
<entry key="633" type="xstring" value="Occupancy error scale P10"/>
<entry key="634" type="xstring" value="Occupancy P11"/>
<entry key="635" type="xstring" value="Occupancy ratioP11"/>
<entry key="636" type="xstring" value="Occupancy error scale P11"/>
<entry key="637" type="xstring" value="Occupancy P12"/>
<entry key="638" type="xstring" value="Occupancy ratioP12"/>
<entry key="639" type="xstring" value="Occupancy error scale P12"/>
<entry key="640" type="xstring" value="Occupancy P13"/>
<entry key="641" type="xstring" value="Occupancy ratioP13"/>
<entry key="642" type="xstring" value="Occupancy error scale P13"/>
<entry key="643" type="xstring" value="Occupancy P14"/>
<entry key="644" type="xstring" value="Occupancy ratioP14"/>
<entry key="645" type="xstring" value="Occupancy error scale P14"/>
<entry key="646" type="xstring" value="Occupancy P15"/>
<entry key="647" type="xstring" value="Occupancy ratioP15"/>
<entry key="648" type="xstring" value="Occupancy error scale P15"/>
<entry key="649" type="xstring" value="Occupancy P16"/>
<entry key="650" type="xstring" value="Occupancy ratioP16"/>
<entry key="651" type="xstring" value="Occupancy error scale P16"/>
<entry key="652" type="xstring" value="Reverse"/>
<entry key="653" type="xstring" value="Potential contaminant"/>
<entry key="654" type="xstring" value="id"/>
<entry key="655" type="xstring" value="Protein group IDs"/>
<entry key="656" type="xstring" value="Positions"/>
<entry key="657" type="xstring" value="Position"/>
<entry key="658" type="xstring" value="Peptide IDs"/>
<entry key="659" type="xstring" value="Mod. peptide IDs"/>
<entry key="660" type="xstring" value="Evidence IDs"/>
<entry key="661" type="xstring" value="MS/MS IDs"/>
<entry key="662" type="xstring" value="Best localization evidence ID"/>
<entry key="663" type="xstring" value="Best localization MS/MS ID"/>
<entry key="664" type="xstring" value="Best localization raw file"/>
<entry key="665" type="xstring" value="Best localization scan number"/>
<entry key="666" type="xstring" value="Best score evidence ID"/>
<entry key="667" type="xstring" value="Best score MS/MS ID"/>
<entry key="668" type="xstring" value="Best score raw file"/>
<entry key="669" type="xstring" value="Best score scan number"/>
<entry key="670" type="xstring" value="Best PEP evidence ID"/>
<entry key="671" type="xstring" value="Best PEP MS/MS ID"/>
<entry key="672" type="xstring" value="Best PEP raw file"/>
<entry key="673" type="xstring" value="Best PEP scan number"/>
<entry key="674" type="xstring" value="Positions_Amino acid"/>
<entry key="675" type="xstring" value="Localization prob_Positions_Amino acid"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<config key="variables">
<config key="column-filter">
<config key="included_names">
<config key="0">
<entry key="used_variable" type="xstring" value="bottom_input_id_column"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="outputs only %%00010bottom table ID column"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="252"/>
<entry key="y-coordinate" type="xint" value="699"/>
<entry key="width" type="xint" value="136"/>
<entry key="height" type="xint" value="34"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="10"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.0.v201812031623"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.0.v201812041331"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
