<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="234"/>
                <entry key="0" type="xstring" value="PG.ID"/>
                <entry key="1" type="xstring" value="Protein.Group"/>
                <entry key="2" type="xstring" value="Stripped.Sequence (Count)"/>
                <entry key="3" type="xstring" value="Stripped.Sequence (Concatenate)"/>
                <entry key="4" type="xstring" value="Protein.Ids (Concatenate)"/>
                <entry key="5" type="xstring" value="Stripped.Sequence_Protein.Ids (Concatenate)"/>
                <entry key="6" type="xstring" value="Lib.PG.Q.Value"/>
                <entry key="7" type="xstring" value="PG.Quantity_all_sum"/>
                <entry key="8" type="xstring" value="UniProt_Protein ID"/>
                <entry key="9" type="xstring" value="UniProt_Entry"/>
                <entry key="10" type="xstring" value="UniProt_Entry Name"/>
                <entry key="11" type="xstring" value="UniProt_Reviewed"/>
                <entry key="12" type="xstring" value="UniProt_Protein names"/>
                <entry key="13" type="xstring" value="UniProt_Mass"/>
                <entry key="14" type="xstring" value="UniProt_Length"/>
                <entry key="15" type="xstring" value="UniProt_Gene Names (primary)"/>
                <entry key="16" type="xstring" value="UniProt_Organism"/>
                <entry key="17" type="xstring" value="UniProt_Gene Ontology (GO)"/>
                <entry key="18" type="xstring" value="UniProt_Gene Ontology (biological process)"/>
                <entry key="19" type="xstring" value="UniProt_Gene Ontology (molecular function)"/>
                <entry key="20" type="xstring" value="UniProt_Gene Ontology (cellular component)"/>
                <entry key="21" type="xstring" value="UniProt_Gene Ontology IDs"/>
                <entry key="22" type="xstring" value="UniProt_Subcellular location [CC]"/>
                <entry key="23" type="xstring" value="UniProt_Protein families"/>
                <entry key="24" type="xstring" value="UniProt_Interacts with"/>
                <entry key="25" type="xstring" value="UniProt_Sequence"/>
                <entry key="26" type="xstring" value="UniProt_InterPro"/>
                <entry key="27" type="xstring" value="UniProt_Pfam"/>
                <entry key="28" type="xstring" value="UniProt_IntAct"/>
                <entry key="29" type="xstring" value="UniProt_GeneID"/>
                <entry key="30" type="xstring" value="Quantity.Quality+GFP_free_N1"/>
                <entry key="31" type="xstring" value="Quantity.Quality+GFP_free_N2"/>
                <entry key="32" type="xstring" value="Quantity.Quality+GFP_free_N3"/>
                <entry key="33" type="xstring" value="Quantity.Quality+pLAT52_bZIP61_GFP_N1"/>
                <entry key="34" type="xstring" value="Quantity.Quality+pLAT52_bZIP61_GFP_N2"/>
                <entry key="35" type="xstring" value="Quantity.Quality+pLAT52_bZIP61_GFP_N3"/>
                <entry key="36" type="xstring" value="Quantity.Quality+pLAT52_bZIP77_GFP_N1"/>
                <entry key="37" type="xstring" value="Quantity.Quality+pLAT52_bZIP77_GFP_N2"/>
                <entry key="38" type="xstring" value="Quantity.Quality+pLAT52_bZIP77_GFP_N3"/>
                <entry key="39" type="xstring" value="PG.Precursor.Count+GFP_free_N1"/>
                <entry key="40" type="xstring" value="PG.Precursor.Count+GFP_free_N2"/>
                <entry key="41" type="xstring" value="PG.Precursor.Count+GFP_free_N3"/>
                <entry key="42" type="xstring" value="PG.Precursor.Count+pLAT52_bZIP61_GFP_N1"/>
                <entry key="43" type="xstring" value="PG.Precursor.Count+pLAT52_bZIP61_GFP_N2"/>
                <entry key="44" type="xstring" value="PG.Precursor.Count+pLAT52_bZIP61_GFP_N3"/>
                <entry key="45" type="xstring" value="PG.Precursor.Count+pLAT52_bZIP77_GFP_N1"/>
                <entry key="46" type="xstring" value="PG.Precursor.Count+pLAT52_bZIP77_GFP_N2"/>
                <entry key="47" type="xstring" value="PG.Precursor.Count+pLAT52_bZIP77_GFP_N3"/>
                <entry key="48" type="xstring" value="PG.DIA-NN-MaxLFQ+GFP_free_N1"/>
                <entry key="49" type="xstring" value="PG.DIA-NN-MaxLFQ+GFP_free_N2"/>
                <entry key="50" type="xstring" value="PG.DIA-NN-MaxLFQ+GFP_free_N3"/>
                <entry key="51" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP61_GFP_N1"/>
                <entry key="52" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP61_GFP_N2"/>
                <entry key="53" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP61_GFP_N3"/>
                <entry key="54" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP77_GFP_N1"/>
                <entry key="55" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP77_GFP_N2"/>
                <entry key="56" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP77_GFP_N3"/>
                <entry key="57" type="xstring" value="PG.MaxLFQ.Quality+GFP_free_N1"/>
                <entry key="58" type="xstring" value="PG.MaxLFQ.Quality+GFP_free_N2"/>
                <entry key="59" type="xstring" value="PG.MaxLFQ.Quality+GFP_free_N3"/>
                <entry key="60" type="xstring" value="PG.MaxLFQ.Quality+pLAT52_bZIP61_GFP_N1"/>
                <entry key="61" type="xstring" value="PG.MaxLFQ.Quality+pLAT52_bZIP61_GFP_N2"/>
                <entry key="62" type="xstring" value="PG.MaxLFQ.Quality+pLAT52_bZIP61_GFP_N3"/>
                <entry key="63" type="xstring" value="PG.MaxLFQ.Quality+pLAT52_bZIP77_GFP_N1"/>
                <entry key="64" type="xstring" value="PG.MaxLFQ.Quality+pLAT52_bZIP77_GFP_N2"/>
                <entry key="65" type="xstring" value="PG.MaxLFQ.Quality+pLAT52_bZIP77_GFP_N3"/>
                <entry key="66" type="xstring" value="PG.Normalised+GFP_free_N1"/>
                <entry key="67" type="xstring" value="PG.Normalised+GFP_free_N2"/>
                <entry key="68" type="xstring" value="PG.Normalised+GFP_free_N3"/>
                <entry key="69" type="xstring" value="PG.Normalised+pLAT52_bZIP61_GFP_N1"/>
                <entry key="70" type="xstring" value="PG.Normalised+pLAT52_bZIP61_GFP_N2"/>
                <entry key="71" type="xstring" value="PG.Normalised+pLAT52_bZIP61_GFP_N3"/>
                <entry key="72" type="xstring" value="PG.Normalised+pLAT52_bZIP77_GFP_N1"/>
                <entry key="73" type="xstring" value="PG.Normalised+pLAT52_bZIP77_GFP_N2"/>
                <entry key="74" type="xstring" value="PG.Normalised+pLAT52_bZIP77_GFP_N3"/>
                <entry key="75" type="xstring" value="PG.Quantity+GFP_free_N1"/>
                <entry key="76" type="xstring" value="PG.Quantity+GFP_free_N2"/>
                <entry key="77" type="xstring" value="PG.Quantity+GFP_free_N3"/>
                <entry key="78" type="xstring" value="PG.Quantity+pLAT52_bZIP61_GFP_N1"/>
                <entry key="79" type="xstring" value="PG.Quantity+pLAT52_bZIP61_GFP_N2"/>
                <entry key="80" type="xstring" value="PG.Quantity+pLAT52_bZIP61_GFP_N3"/>
                <entry key="81" type="xstring" value="PG.Quantity+pLAT52_bZIP77_GFP_N1"/>
                <entry key="82" type="xstring" value="PG.Quantity+pLAT52_bZIP77_GFP_N2"/>
                <entry key="83" type="xstring" value="PG.Quantity+pLAT52_bZIP77_GFP_N3"/>
                <entry key="84" type="xstring" value="PG.Q.Value+GFP_free_N1"/>
                <entry key="85" type="xstring" value="PG.Q.Value+GFP_free_N2"/>
                <entry key="86" type="xstring" value="PG.Q.Value+GFP_free_N3"/>
                <entry key="87" type="xstring" value="PG.Q.Value+pLAT52_bZIP61_GFP_N1"/>
                <entry key="88" type="xstring" value="PG.Q.Value+pLAT52_bZIP61_GFP_N2"/>
                <entry key="89" type="xstring" value="PG.Q.Value+pLAT52_bZIP61_GFP_N3"/>
                <entry key="90" type="xstring" value="PG.Q.Value+pLAT52_bZIP77_GFP_N1"/>
                <entry key="91" type="xstring" value="PG.Q.Value+pLAT52_bZIP77_GFP_N2"/>
                <entry key="92" type="xstring" value="PG.Q.Value+pLAT52_bZIP77_GFP_N3"/>
                <entry key="93" type="xstring" value="Protein.Q.Value+GFP_free_N1"/>
                <entry key="94" type="xstring" value="Protein.Q.Value+GFP_free_N2"/>
                <entry key="95" type="xstring" value="Protein.Q.Value+GFP_free_N3"/>
                <entry key="96" type="xstring" value="Protein.Q.Value+pLAT52_bZIP61_GFP_N1"/>
                <entry key="97" type="xstring" value="Protein.Q.Value+pLAT52_bZIP61_GFP_N2"/>
                <entry key="98" type="xstring" value="Protein.Q.Value+pLAT52_bZIP61_GFP_N3"/>
                <entry key="99" type="xstring" value="Protein.Q.Value+pLAT52_bZIP77_GFP_N1"/>
                <entry key="100" type="xstring" value="Protein.Q.Value+pLAT52_bZIP77_GFP_N2"/>
                <entry key="101" type="xstring" value="Protein.Q.Value+pLAT52_bZIP77_GFP_N3"/>
                <entry key="102" type="xstring" value="PG.Proteotypic.Count+GFP_free_N1"/>
                <entry key="103" type="xstring" value="PG.Proteotypic.Count+GFP_free_N2"/>
                <entry key="104" type="xstring" value="PG.Proteotypic.Count+GFP_free_N3"/>
                <entry key="105" type="xstring" value="PG.Proteotypic.Count+pLAT52_bZIP61_GFP_N1"/>
                <entry key="106" type="xstring" value="PG.Proteotypic.Count+pLAT52_bZIP61_GFP_N2"/>
                <entry key="107" type="xstring" value="PG.Proteotypic.Count+pLAT52_bZIP61_GFP_N3"/>
                <entry key="108" type="xstring" value="PG.Proteotypic.Count+pLAT52_bZIP77_GFP_N1"/>
                <entry key="109" type="xstring" value="PG.Proteotypic.Count+pLAT52_bZIP77_GFP_N2"/>
                <entry key="110" type="xstring" value="PG.Proteotypic.Count+pLAT52_bZIP77_GFP_N3"/>
                <entry key="111" type="xstring" value="PG.Quantity+GFP_free_N1_log2"/>
                <entry key="112" type="xstring" value="PG.Quantity+GFP_free_N2_log2"/>
                <entry key="113" type="xstring" value="PG.Quantity+GFP_free_N3_log2"/>
                <entry key="114" type="xstring" value="PG.Quantity+pLAT52_bZIP61_GFP_N1_log2"/>
                <entry key="115" type="xstring" value="PG.Quantity+pLAT52_bZIP61_GFP_N2_log2"/>
                <entry key="116" type="xstring" value="PG.Quantity+pLAT52_bZIP61_GFP_N3_log2"/>
                <entry key="117" type="xstring" value="PG.Quantity+pLAT52_bZIP77_GFP_N1_log2"/>
                <entry key="118" type="xstring" value="PG.Quantity+pLAT52_bZIP77_GFP_N2_log2"/>
                <entry key="119" type="xstring" value="PG.Quantity+pLAT52_bZIP77_GFP_N3_log2"/>
                <entry key="120" type="xstring" value="PG.Normalised+GFP_free_N1_log2"/>
                <entry key="121" type="xstring" value="PG.Normalised+GFP_free_N2_log2"/>
                <entry key="122" type="xstring" value="PG.Normalised+GFP_free_N3_log2"/>
                <entry key="123" type="xstring" value="PG.Normalised+pLAT52_bZIP61_GFP_N1_log2"/>
                <entry key="124" type="xstring" value="PG.Normalised+pLAT52_bZIP61_GFP_N2_log2"/>
                <entry key="125" type="xstring" value="PG.Normalised+pLAT52_bZIP61_GFP_N3_log2"/>
                <entry key="126" type="xstring" value="PG.Normalised+pLAT52_bZIP77_GFP_N1_log2"/>
                <entry key="127" type="xstring" value="PG.Normalised+pLAT52_bZIP77_GFP_N2_log2"/>
                <entry key="128" type="xstring" value="PG.Normalised+pLAT52_bZIP77_GFP_N3_log2"/>
                <entry key="129" type="xstring" value="PG.DIA-NN-MaxLFQ+GFP_free_N1_log2"/>
                <entry key="130" type="xstring" value="PG.DIA-NN-MaxLFQ+GFP_free_N2_log2"/>
                <entry key="131" type="xstring" value="PG.DIA-NN-MaxLFQ+GFP_free_N3_log2"/>
                <entry key="132" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP61_GFP_N1_log2"/>
                <entry key="133" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP61_GFP_N2_log2"/>
                <entry key="134" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP61_GFP_N3_log2"/>
                <entry key="135" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP77_GFP_N1_log2"/>
                <entry key="136" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP77_GFP_N2_log2"/>
                <entry key="137" type="xstring" value="PG.DIA-NN-MaxLFQ+pLAT52_bZIP77_GFP_N3_log2"/>
                <entry key="138" type="xstring" value="PG.Proteotypic.Count_all_max"/>
                <entry key="139" type="xstring" value="PG.MaxLFQ_imp+GFP_free_N1"/>
                <entry key="140" type="xstring" value="PG.MaxLFQ_imp+GFP_free_N2"/>
                <entry key="141" type="xstring" value="PG.MaxLFQ_imp+GFP_free_N3"/>
                <entry key="142" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP61_GFP_N1"/>
                <entry key="143" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP61_GFP_N2"/>
                <entry key="144" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP61_GFP_N3"/>
                <entry key="145" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP77_GFP_N1"/>
                <entry key="146" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP77_GFP_N2"/>
                <entry key="147" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP77_GFP_N3"/>
                <entry key="148" type="xstring" value="PG.MaxLFQ_imp+GFP_free_N1_log2"/>
                <entry key="149" type="xstring" value="PG.MaxLFQ_imp+GFP_free_N2_log2"/>
                <entry key="150" type="xstring" value="PG.MaxLFQ_imp+GFP_free_N3_log2"/>
                <entry key="151" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP61_GFP_N1_log2"/>
                <entry key="152" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP61_GFP_N2_log2"/>
                <entry key="153" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP61_GFP_N3_log2"/>
                <entry key="154" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP77_GFP_N1_log2"/>
                <entry key="155" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP77_GFP_N2_log2"/>
                <entry key="156" type="xstring" value="PG.MaxLFQ_imp+pLAT52_bZIP77_GFP_N3_log2"/>
                <entry key="157" type="xstring" value="PG.DIA-TPA+GFP_free_N1"/>
                <entry key="158" type="xstring" value="PG.DIA-TPA+GFP_free_N2"/>
                <entry key="159" type="xstring" value="PG.DIA-TPA+GFP_free_N3"/>
                <entry key="160" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N1"/>
                <entry key="161" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N2"/>
                <entry key="162" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N3"/>
                <entry key="163" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N1"/>
                <entry key="164" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N2"/>
                <entry key="165" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N3"/>
                <entry key="166" type="xstring" value="PG.DIA-TPA+GFP_free_N1_log2"/>
                <entry key="167" type="xstring" value="PG.DIA-TPA+GFP_free_N2_log2"/>
                <entry key="168" type="xstring" value="PG.DIA-TPA+GFP_free_N3_log2"/>
                <entry key="169" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N1_log2"/>
                <entry key="170" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N2_log2"/>
                <entry key="171" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N3_log2"/>
                <entry key="172" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N1_log2"/>
                <entry key="173" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N2_log2"/>
                <entry key="174" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N3_log2"/>
                <entry key="175" type="xstring" value="PG.DIA-TPA+GFP_free_N1_ppm"/>
                <entry key="176" type="xstring" value="PG.DIA-TPA+GFP_free_N2_ppm"/>
                <entry key="177" type="xstring" value="PG.DIA-TPA+GFP_free_N3_ppm"/>
                <entry key="178" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N1_ppm"/>
                <entry key="179" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N2_ppm"/>
                <entry key="180" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N3_ppm"/>
                <entry key="181" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N1_ppm"/>
                <entry key="182" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N2_ppm"/>
                <entry key="183" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N3_ppm"/>
                <entry key="184" type="xstring" value="PG.DIA-TPA+GFP_free_N1_ppm_log2"/>
                <entry key="185" type="xstring" value="PG.DIA-TPA+GFP_free_N2_ppm_log2"/>
                <entry key="186" type="xstring" value="PG.DIA-TPA+GFP_free_N3_ppm_log2"/>
                <entry key="187" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N1_ppm_log2"/>
                <entry key="188" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N2_ppm_log2"/>
                <entry key="189" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N3_ppm_log2"/>
                <entry key="190" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N1_ppm_log2"/>
                <entry key="191" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N2_ppm_log2"/>
                <entry key="192" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N3_ppm_log2"/>
                <entry key="193" type="xstring" value="PG.DIA-TPA+GFP_free_N1_perc"/>
                <entry key="194" type="xstring" value="PG.DIA-TPA+GFP_free_N2_perc"/>
                <entry key="195" type="xstring" value="PG.DIA-TPA+GFP_free_N3_perc"/>
                <entry key="196" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N1_perc"/>
                <entry key="197" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N2_perc"/>
                <entry key="198" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N3_perc"/>
                <entry key="199" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N1_perc"/>
                <entry key="200" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N2_perc"/>
                <entry key="201" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N3_perc"/>
                <entry key="202" type="xstring" value="PG.DIA-TPA+GFP_free_N1_ppm_cumsum"/>
                <entry key="203" type="xstring" value="PG.DIA-TPA+GFP_free_N2_ppm_cumsum"/>
                <entry key="204" type="xstring" value="PG.DIA-TPA+GFP_free_N3_ppm_cumsum"/>
                <entry key="205" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N1_ppm_cumsum"/>
                <entry key="206" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N2_ppm_cumsum"/>
                <entry key="207" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N3_ppm_cumsum"/>
                <entry key="208" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N1_ppm_cumsum"/>
                <entry key="209" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N2_ppm_cumsum"/>
                <entry key="210" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N3_ppm_cumsum"/>
                <entry key="211" type="xstring" value="PG.DIA-TPA+GFP_free_N1_ppm_cumcount"/>
                <entry key="212" type="xstring" value="PG.DIA-TPA+GFP_free_N2_ppm_cumcount"/>
                <entry key="213" type="xstring" value="PG.DIA-TPA+GFP_free_N3_ppm_cumcount"/>
                <entry key="214" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N1_ppm_cumcount"/>
                <entry key="215" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N2_ppm_cumcount"/>
                <entry key="216" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP61_GFP_N3_ppm_cumcount"/>
                <entry key="217" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N1_ppm_cumcount"/>
                <entry key="218" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N2_ppm_cumcount"/>
                <entry key="219" type="xstring" value="PG.DIA-TPA+pLAT52_bZIP77_GFP_N3_ppm_cumcount"/>
                <entry key="220" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP61_GFP-GFPfree.logFC"/>
                <entry key="221" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP61_GFP-GFPfree.AveExpr"/>
                <entry key="222" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP61_GFP-GFPfree.t"/>
                <entry key="223" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP61_GFP-GFPfree.P.Value"/>
                <entry key="224" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP61_GFP-GFPfree.adj.P.Val"/>
                <entry key="225" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP61_GFP-GFPfree.B"/>
                <entry key="226" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP77_GFP-GFPfree.logFC"/>
                <entry key="227" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP77_GFP-GFPfree.AveExpr"/>
                <entry key="228" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP77_GFP-GFPfree.t"/>
                <entry key="229" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP77_GFP-GFPfree.P.Value"/>
                <entry key="230" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP77_GFP-GFPfree.adj.P.Val"/>
                <entry key="231" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP77_GFP-GFPfree.B"/>
                <entry key="232" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP61_GFP-GFPfree.logFC_delog"/>
                <entry key="233" type="xstring" value="LIMMA_MaxLFQ_all samples_prec-filter_norm_imp_bZIP77_GFP-GFPfree.logFC_delog"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value="*"/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="only passes %%00010the selected data %%00010to the next step%%00010%%00010PEPTIDE level%%00010(connect preferred %%00010data table here)"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="3269"/>
        <entry key="y-coordinate" type="xint" value="1979"/>
        <entry key="width" type="xint" value="142"/>
        <entry key="height" type="xint" value="112"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="10"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles">
            <config key="style_0">
                <entry key="start" type="xint" value="50"/>
                <entry key="length" type="xint" value="13"/>
                <entry key="fontname" type="xstring" value="Sans"/>
                <entry key="fontstyle" type="xint" value="1"/>
                <entry key="fontsize" type="xint" value="10"/>
                <entry key="fgcolor" type="xint" value="0"/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.7.7.v202308021457"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.7.7.v202308161346"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
