<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="variable-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="36"/>
                <entry key="0" type="xstring" value="design_sample_names_list"/>
                <entry key="1" type="xstring" value="columns_to_group_with"/>
                <entry key="2" type="xstring" value="design_sample_prep_batch_names"/>
                <entry key="3" type="xstring" value="design_sample_group_names"/>
                <entry key="4" type="xstring" value="design_sample_names"/>
                <entry key="5" type="xstring" value="design_run_names"/>
                <entry key="6" type="xstring" value="comp_names_peptide_norm"/>
                <entry key="7" type="xstring" value="comp_names_LIMMA"/>
                <entry key="8" type="xstring" value="comp_names_ratio"/>
                <entry key="9" type="xstring" value="rows_164860456465"/>
                <entry key="10" type="xstring" value="Number Rows"/>
                <entry key="11" type="xstring" value="Number Columns"/>
                <entry key="12" type="xstring" value="remove_runs_switch"/>
                <entry key="13" type="xstring" value="use_threshold_pgmaxlfq_quality"/>
                <entry key="14" type="xstring" value="use_threshold_quantity_quality"/>
                <entry key="15" type="xstring" value="use_threshold_prec_global_q"/>
                <entry key="16" type="xstring" value="use_threshold_prec_run_q"/>
                <entry key="17" type="xstring" value="use_threshold_prec_run_pep"/>
                <entry key="18" type="xstring" value="use_threshold_pg_global_q"/>
                <entry key="19" type="xstring" value="use_threshold_pg_run_q"/>
                <entry key="20" type="xstring" value="modifications"/>
                <entry key="21" type="xstring" value="threshold_pgmaxlfq_quality"/>
                <entry key="22" type="xstring" value="threshold_quantity_quality"/>
                <entry key="23" type="xstring" value="threshold_pg_run_q"/>
                <entry key="24" type="xstring" value="threshold_pg_global_q"/>
                <entry key="25" type="xstring" value="threshold_prec_run_pep"/>
                <entry key="26" type="xstring" value="threshold_prec_run_q"/>
                <entry key="27" type="xstring" value="threshold_prec_global_q"/>
                <entry key="28" type="xstring" value="mbr"/>
                <entry key="29" type="xstring" value="mbr (index)"/>
                <entry key="30" type="xstring" value="sequence_mods_switch"/>
                <entry key="31" type="xstring" value="modifications_count"/>
                <entry key="32" type="xstring" value="used_mod_counter"/>
                <entry key="33" type="xstring" value="design_names_autocorrect"/>
                <entry key="34" type="xstring" value="comp_names_protein_norm"/>
                <entry key="35" type="xstring" value="rows_1632132121456465"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="RowID"/>
                <entry key="1" type="xstring" value="python3command"/>
                <entry key="2" type="xstring" value="max_row_length"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
        </config>
        <entry key="variable-prefix" type="xstring" isnull="true" value=""/>
        <config key="port-names">
            <entry key="array-size" type="xint" value="2"/>
            <entry key="0" type="xstring" value="Output protein groups table"/>
            <entry key="1" type="xstring" value="Experimental design"/>
        </config>
        <config key="port-descriptions">
            <entry key="array-size" type="xint" value="2"/>
            <entry key="0" type="xstring" value="DIA-NN output table after initial quality filtering and grouping on the Protein Group level"/>
            <entry key="1" type="xstring" value="experimental design with resorted rows and extra columns removed"/>
        </config>
        <entry key="allowOutputNodeToCompleteBeforeContent" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="isDeletable" type="xboolean" value="false"/>
    <entry key="factory" type="xstring" value="org.knime.core.node.workflow.virtual.subnode.VirtualSubNodeOutputNodeFactory"/>
    <entry key="node-name" type="xstring" value="Component Output"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Core API"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.core"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.11.0.v202603030810"/>
    <entry key="node-feature-name" type="xstring" value="KNIME AP Core feature"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.core.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.11.0.v202603030810"/>
    <entry key="factory-id-uniquifier" type="xstring" isnull="true" value=""/>
    <config key="factory_settings">
        <config key="port_0">
            <entry key="index" type="xint" value="0"/>
            <config key="type">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
        </config>
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <config key="type">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
        </config>
    </config>
    <entry key="name" type="xstring" value="Component Output"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
