<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="grouByColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="grouByColumns">
            <config key="InclList">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="Protein.Group"/>
                <entry key="1" type="xstring" value="Stripped.Sequence"/>
                <entry key="2" type="xstring" value="Lib.PG.Q.Value"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="52"/>
                <entry key="0" type="xstring" value="File.Name"/>
                <entry key="1" type="xstring" value="Run"/>
                <entry key="2" type="xstring" value="Protein.Ids"/>
                <entry key="3" type="xstring" value="Protein.Names"/>
                <entry key="4" type="xstring" value="Genes"/>
                <entry key="5" type="xstring" value="PG.Quantity"/>
                <entry key="6" type="xstring" value="PG.Normalised"/>
                <entry key="7" type="xstring" value="PG.MaxLFQ"/>
                <entry key="8" type="xstring" value="Genes.Quantity"/>
                <entry key="9" type="xstring" value="Genes.Normalised"/>
                <entry key="10" type="xstring" value="Genes.MaxLFQ"/>
                <entry key="11" type="xstring" value="Genes.MaxLFQ.Unique"/>
                <entry key="12" type="xstring" value="Modified.Sequence"/>
                <entry key="13" type="xstring" value="Precursor.Id"/>
                <entry key="14" type="xstring" value="Precursor.Charge"/>
                <entry key="15" type="xstring" value="Q.Value"/>
                <entry key="16" type="xstring" value="PEP"/>
                <entry key="17" type="xstring" value="Global.Q.Value"/>
                <entry key="18" type="xstring" value="Protein.Q.Value"/>
                <entry key="19" type="xstring" value="PG.Q.Value"/>
                <entry key="20" type="xstring" value="Global.PG.Q.Value"/>
                <entry key="21" type="xstring" value="GG.Q.Value"/>
                <entry key="22" type="xstring" value="Translated.Q.Value"/>
                <entry key="23" type="xstring" value="Proteotypic"/>
                <entry key="24" type="xstring" value="Precursor.Quantity"/>
                <entry key="25" type="xstring" value="Precursor.Normalised"/>
                <entry key="26" type="xstring" value="Precursor.Translated"/>
                <entry key="27" type="xstring" value="Ms1.Translated"/>
                <entry key="28" type="xstring" value="Quantity.Quality"/>
                <entry key="29" type="xstring" value="RT"/>
                <entry key="30" type="xstring" value="RT.Start"/>
                <entry key="31" type="xstring" value="RT.Stop"/>
                <entry key="32" type="xstring" value="iRT"/>
                <entry key="33" type="xstring" value="Predicted.RT"/>
                <entry key="34" type="xstring" value="Predicted.iRT"/>
                <entry key="35" type="xstring" value="Lib.Q.Value"/>
                <entry key="36" type="xstring" value="Ms1.Profile.Corr"/>
                <entry key="37" type="xstring" value="Ms1.Area"/>
                <entry key="38" type="xstring" value="Evidence"/>
                <entry key="39" type="xstring" value="Spectrum.Similarity"/>
                <entry key="40" type="xstring" value="Mass.Evidence"/>
                <entry key="41" type="xstring" value="CScore"/>
                <entry key="42" type="xstring" value="Decoy.Evidence"/>
                <entry key="43" type="xstring" value="Decoy.CScore"/>
                <entry key="44" type="xstring" value="Fragment.Quant.Raw"/>
                <entry key="45" type="xstring" value="Fragment.Quant.Corrected"/>
                <entry key="46" type="xstring" value="Fragment.Correlations"/>
                <entry key="47" type="xstring" value="MS2.Scan"/>
                <entry key="48" type="xstring" value="IM"/>
                <entry key="49" type="xstring" value="iIM"/>
                <entry key="50" type="xstring" value="Predicted.IM"/>
                <entry key="51" type="xstring" value="Predicted.iIM"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="false"/>
        </config>
        <config key="maxNoneNumericalVals_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxNoneNumericalVals" type="xint" value="10000"/>
        <config key="enableHilite_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="enableHilite" type="xboolean" value="false"/>
        <config key="valueDelimiter_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="valueDelimiter" type="xstring" value=", "/>
        <config key="sortInMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="sortInMemory" type="xboolean" value="false"/>
        <config key="columnNamePolicy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="columnNamePolicy" type="xstring" value="Column name (aggregation method)"/>
        <config key="aggregationColumn">
            <config key="columnNames">
                <entry key="array-size" type="xint" value="13"/>
                <entry key="0" type="xstring" value="Precursor.Quantity"/>
                <entry key="1" type="xstring" value="Precursor.Normalised"/>
                <entry key="2" type="xstring" value="Q.Value"/>
                <entry key="3" type="xstring" value="PEP"/>
                <entry key="4" type="xstring" value="Global.Q.Value"/>
                <entry key="5" type="xstring" value="Lib.Q.Value"/>
                <entry key="6" type="xstring" value="Proteotypic"/>
                <entry key="7" type="xstring" value="Precursor.Id"/>
                <entry key="8" type="xstring" value="RT"/>
                <entry key="9" type="xstring" value="RT.Start"/>
                <entry key="10" type="xstring" value="RT.Stop"/>
                <entry key="11" type="xstring" value="Precursor.Quantity"/>
                <entry key="12" type="xstring" value="Precursor.Normalised"/>
            </config>
            <config key="columnTypes">
                <entry key="array-size" type="xint" value="13"/>
                <config key="0">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="1">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="2">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="3">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="4">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="5">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="6">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="7">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="8">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="9">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="10">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="11">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
                <config key="12">
                    <entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
                    <entry key="is_null" type="xboolean" value="false"/>
                </config>
            </config>
            <config key="aggregationMethod">
                <entry key="array-size" type="xint" value="13"/>
                <entry key="0" type="xstring" value="Maximum"/>
                <entry key="1" type="xstring" value="Maximum"/>
                <entry key="2" type="xstring" value="Minimum"/>
                <entry key="3" type="xstring" value="Minimum"/>
                <entry key="4" type="xstring" value="Minimum"/>
                <entry key="5" type="xstring" value="Minimum"/>
                <entry key="6" type="xstring" value="Minimum"/>
                <entry key="7" type="xstring" value="Count"/>
                <entry key="8" type="xstring" value="Mean_V4.6"/>
                <entry key="9" type="xstring" value="Mean_V4.6"/>
                <entry key="10" type="xstring" value="Mean_V4.6"/>
                <entry key="11" type="xstring" value="Sum_V2.5.2"/>
                <entry key="12" type="xstring" value="Sum_V2.5.2"/>
            </config>
            <config key="inclMissingVals">
                <entry key="array-size" type="xint" value="13"/>
                <entry key="0" type="xboolean" value="false"/>
                <entry key="1" type="xboolean" value="false"/>
                <entry key="2" type="xboolean" value="false"/>
                <entry key="3" type="xboolean" value="false"/>
                <entry key="4" type="xboolean" value="false"/>
                <entry key="5" type="xboolean" value="false"/>
                <entry key="6" type="xboolean" value="false"/>
                <entry key="7" type="xboolean" value="true"/>
                <entry key="8" type="xboolean" value="false"/>
                <entry key="9" type="xboolean" value="false"/>
                <entry key="10" type="xboolean" value="false"/>
                <entry key="11" type="xboolean" value="false"/>
                <entry key="12" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="aggregationOperatorSettings"/>
        <config key="patternAggregators"/>
        <config key="dataTypeAggregators"/>
        <config key="retainOrder_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="retainOrder" type="xboolean" value="false"/>
        <config key="inMemory_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="inMemory" type="xboolean" value="false"/>
        <config key="nodeVersion_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="nodeVersion" type="xint" value="1"/>
        <entry key="typeMatch" type="xbyte" value="0"/>
        <config key="pivotColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="pivotColumns">
            <config key="InclList">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="Run"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="54"/>
                <entry key="0" type="xstring" value="File.Name"/>
                <entry key="1" type="xstring" value="Protein.Group"/>
                <entry key="2" type="xstring" value="Protein.Ids"/>
                <entry key="3" type="xstring" value="Protein.Names"/>
                <entry key="4" type="xstring" value="Genes"/>
                <entry key="5" type="xstring" value="PG.Quantity"/>
                <entry key="6" type="xstring" value="PG.Normalised"/>
                <entry key="7" type="xstring" value="PG.MaxLFQ"/>
                <entry key="8" type="xstring" value="Genes.Quantity"/>
                <entry key="9" type="xstring" value="Genes.Normalised"/>
                <entry key="10" type="xstring" value="Genes.MaxLFQ"/>
                <entry key="11" type="xstring" value="Genes.MaxLFQ.Unique"/>
                <entry key="12" type="xstring" value="Modified.Sequence"/>
                <entry key="13" type="xstring" value="Stripped.Sequence"/>
                <entry key="14" type="xstring" value="Precursor.Id"/>
                <entry key="15" type="xstring" value="Precursor.Charge"/>
                <entry key="16" type="xstring" value="Q.Value"/>
                <entry key="17" type="xstring" value="PEP"/>
                <entry key="18" type="xstring" value="Global.Q.Value"/>
                <entry key="19" type="xstring" value="Protein.Q.Value"/>
                <entry key="20" type="xstring" value="PG.Q.Value"/>
                <entry key="21" type="xstring" value="Global.PG.Q.Value"/>
                <entry key="22" type="xstring" value="GG.Q.Value"/>
                <entry key="23" type="xstring" value="Translated.Q.Value"/>
                <entry key="24" type="xstring" value="Proteotypic"/>
                <entry key="25" type="xstring" value="Precursor.Quantity"/>
                <entry key="26" type="xstring" value="Precursor.Normalised"/>
                <entry key="27" type="xstring" value="Precursor.Translated"/>
                <entry key="28" type="xstring" value="Ms1.Translated"/>
                <entry key="29" type="xstring" value="Quantity.Quality"/>
                <entry key="30" type="xstring" value="RT"/>
                <entry key="31" type="xstring" value="RT.Start"/>
                <entry key="32" type="xstring" value="RT.Stop"/>
                <entry key="33" type="xstring" value="iRT"/>
                <entry key="34" type="xstring" value="Predicted.RT"/>
                <entry key="35" type="xstring" value="Predicted.iRT"/>
                <entry key="36" type="xstring" value="Lib.Q.Value"/>
                <entry key="37" type="xstring" value="Lib.PG.Q.Value"/>
                <entry key="38" type="xstring" value="Ms1.Profile.Corr"/>
                <entry key="39" type="xstring" value="Ms1.Area"/>
                <entry key="40" type="xstring" value="Evidence"/>
                <entry key="41" type="xstring" value="Spectrum.Similarity"/>
                <entry key="42" type="xstring" value="Mass.Evidence"/>
                <entry key="43" type="xstring" value="CScore"/>
                <entry key="44" type="xstring" value="Decoy.Evidence"/>
                <entry key="45" type="xstring" value="Decoy.CScore"/>
                <entry key="46" type="xstring" value="Fragment.Quant.Raw"/>
                <entry key="47" type="xstring" value="Fragment.Quant.Corrected"/>
                <entry key="48" type="xstring" value="Fragment.Correlations"/>
                <entry key="49" type="xstring" value="MS2.Scan"/>
                <entry key="50" type="xstring" value="IM"/>
                <entry key="51" type="xstring" value="iIM"/>
                <entry key="52" type="xstring" value="Predicted.IM"/>
                <entry key="53" type="xstring" value="Predicted.iIM"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="false"/>
        </config>
        <config key="missing_values_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="missing_values" type="xboolean" value="true"/>
        <config key="total_aggregation_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="total_aggregation" type="xboolean" value="false"/>
        <config key="ignore_domain_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="ignore_domain" type="xboolean" value="true"/>
        <config key="column_name_option_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="column_name_option" type="xstring" value="Aggregation name+Pivot name"/>
        <config key="sort_lexicographical_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="sort_lexicographical" type="xboolean" value="false"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="pivoting on the stripped %%00010sequence level%%00010%%00010stripped sequence peptide %%00010specific values targeted"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="192"/>
        <entry key="y-coordinate" type="xint" value="399"/>
        <entry key="width" type="xint" value="176"/>
        <entry key="height" type="xint" value="80"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="10"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.pivot.Pivot2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Pivoting"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.6.2.v202209150849"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.6.2.v202209150849"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Pivoting"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
